<template>
  <section class="body">
    <h2 class="body__title">주차 안내</h2>
    <section class="parking-guide-list">
      <div class="box">
        <div class="overlay" v-dragscroll.y="true">
          <div class="jumbotron">
            <!--            <img-->
            <!--                src="parking_guide_map.jpg"-->
            <!--                alt=""-->
            <!--            >-->
            <img src="~@/assets/img/parking-guide/parking_map.png"
                 srcset="~@/assets/img/parking-guide/parking_map@2x.png 2x,
             ~@/assets/img/parking-guide/parking_map@3x.png 3x"
                 class="Bitmap">
          </div>
          <h2 class="table-title">주차요금표</h2>
          <table>
            <colgroup>
              <col width="19%">
              <col width="19%">
              <col width="16.25%">
              <col width="16.25%">
              <col width="23.5%">
            </colgroup>
            <thead>
            <tr>
              <th
                  colspan="2"
                  rowspan="2"
              >구 분
              </th>
              <th colspan="2">1회 주차요금</th>
              <th rowspan="2">1일 요금</th>
            </tr>
            <tr>
              <th>최초 30분</th>
              <th>30분 초과 15분마다</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td colspan="2">승 용 차</td>
              <td>600</td>
              <td>300</td>
              <td>600</td>
            </tr>
            <tr>
              <td rowspan="2">승합 및 화물</td>
              <td>소 형</td>
              <td>600</td>
              <td>300</td>
              <td>600</td>
            </tr>
            <tr>
              <td>대 형</td>
              <td>1,200</td>
              <td>600</td>
              <td>12,000</td>
            </tr>
            <tr>
              <td colspan="2">
                <p>정기주차권(입원환자‧보호자)</p>
              </td>
              <td colspan="3">
                <p>50%할인권 발급</p>
              </td>
            </tr>
            </tbody>
          </table>
          <ol class="list_num_h">
            <li>최초 주차시간이 30분 미만일 경우에는 30분으로 간주하고 초과시간 15분 미만일 경우에는 15분으로 하며 1일 주차는 5시간 이상 주차를 말한다.</li>
            <li>주간의 시간 구분은 다음과 같이 하며 나머지 시간은 야간으로 한다.
              <ul>
                <li>• 가. 4월 ～ 10월 : 08:00～20:00</li>
                <li>• 나. 11월 ～ 3월 : 08:00～19:30</li>
              </ul>
            </li>
            <li>주간의 시간 구분은 다음과 같이 하며 나머지 시간은 야간으로 한다.</li>
            <li>의료원의 특수성과 주차 공간의 부족으로 승차정원 25인승 이상의 승합자동차와 적 재정량 2.5톤 이상 화물자동차는 주차 할 수 없다.</li>
            <li>감면 차량
              <ul>
                <li>외래진료환자(환자본인 또는 보호자 차량 1대에 한함) : 외래진료 완료시까지</li>
                <li>입·퇴원 및 수술환자(환자본인 또는 보호자 차량 1대에 한함) : 당일 무료</li>
                <li>장례식장 상주 차량 : 무료</li>
                <li>장애인복지법에 의한 장애인 차량 및 국가유공자등예우및지원에관한법률시행령 제14조의 규정에 의한 상이 1급 내지 7급의 국가유공자 본인 소유의
                  <br><span></span>비사업용 승용자동차를 직접 운전하거나 장애 정도가 심하여 타인으로 하여금 대리운전하게 하여 주차하는 경우 : 50% 감면
                </li>
                <li>경차(배기량 1,000cc 이하) : 50% 감면</li>
                <li>납품 등 업무용 차량 : 2시간 무료</li>
                <li>조문객 : 1시간 무료</li>
                <li>대기환경보건법 제2조16호 및 제58조제10항에 따른 저공해자동차 표지부착차량 : 50% 감면 (신설 2017.8.30.)</li>
              </ul>
            </li>
          </ol>
        </div>
      </div>
    </section>
  </section>
</template>

<script>
import { dragscroll } from 'vue-dragscroll'

/**
 * @vuese
 * @group 메인-이용안내-주차
 * 설명
 */
export default {
  name: "ParkingGuide",
  directives: {
    'dragscroll': dragscroll
  },
  data: function () {
    return {
      isShowFirstContent: true
    };
  },
  methods: {
    toggle() {
      this.isShowFirstContent = !this.isShowFirstContent;
    }
  }
};
</script>


<style scoped>
/* PARKING_GUIDE-LIST */
.parking-guide-list {
  /*display: grid;*/
  /*grid-auto-flow: row;*/
  /*grid-template-rows: 720px;*/
  /*  clock wise from 12 clock*/
  margin: 17px 100px 0 100px;
}

.parking-guide-list .box {
  width: 1720px;
  height: 700px;
  border: solid 1px #979797;
  /* anti-clock-wise */
  padding: 50px 13px 32px 50px;
  overflow: hidden;
}

.parking-guide-list .box .overlay {
  /*width: 1620px;*/
  height: 600px;
  padding-right: 29px;
  /*margin-right: 13px;*/
  overflow: overlay;
}

.parking-guide-list .box .overlay::-webkit-scrollbar {
  width: 8px;
}

.parking-guide-list .box .overlay::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(190, 190, 190, .3);
  /*border-radius: 10px;*/
  /*opacity: 0.2;*/
}

.parking-guide-list .box .overlay::-webkit-scrollbar-thumb {
  height: 29px;
  border-radius: 10px;
  background-color: #bebebe;
}

.parking-guide-list .box .jumbotron {
  display: flex;
  justify-content: center;
  margin-right: 27px;
}

.parking-guide-list .box .jumbotron img {
  width: 1328px;
  height: 700px;
}

.parking-guide-list .table-title {
  margin-top: 75px;
  margin-left: 11px;
  font-family: NotoSansKR;
  font-size: 34px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: normal;
  color: #6080e8;
}

.parking-guide-list .box table {
  margin-top: 16px;
  margin-left: 10px;
  margin-right: 10px;
//width: calc(654px + 554px + 404px);
}

.parking-guide-list .box table th {
  vertical-align: middle;
//width: 130px; height: 36px; font-family: NotoSansKR;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #6080e8;
}

.parking-guide-list .box table td {
  vertical-align: middle;
  width: 42px;
  height: 36px;
  font-family: NotoSansKR;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
}

.parking-guide-list .box thead th {
  border: 1px solid #465fa8;
  height: 76px;
  background-color: #e9ecf5;
  color: #6080e8;
}

.parking-guide-list .box thead tr:nth-child(1) th {
  border-top: 5px solid #6080e8;
}

.parking-guide-list .box thead tr:nth-child(1) th:first-child {
//border-left: none; border-left: #4CAF50;
}

.parking-guide-list .box thead tr:nth-child(1) th:last-child {
  border-right: none;
}

.parking-guide-list .box thead td:nth-child(4) {
  /*border-right: none;*/
}

.parking-guide-list .box tbody td:first-child {
  border-left: none;
}

.parking-guide-list .box tbody td {
  border: 1px solid #d6d6d6;
  width: 404px;
  height: 78px;
}

.parking-guide-list .box tbody td:last-child {
  border-left: none;
}

.parking-guide-list .box ol {
  margin-top: 90px;
  margin-left: 11px;
}

.parking-guide-list .box ol li {
  width: 1340px;
  font-family: NotoSansKR;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.64;
  letter-spacing: normal;
  color: #999999;
}

.parking-guide-list .box .overlay > ol > li {
  position: relative;
  padding-left: 66px;
  margin-top: 34px;
  /*font-size: 1.1em;*/
}

.parking-guide-list .box .overlay > ol > li:before {
  content: '';
  position: absolute;
  left: 0;
  top: -8px;
  width: 50px;
  height: 50px;
  background: #6080e8;
  border-radius: 50%;
  font-family: NotoSansKR;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 50px;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.parking-guide-list .box .overlay > ol > li:nth-child(1):before {
  content: '01';
}

.parking-guide-list .box .overlay > ol > li:nth-child(2):before {
  content: '02';
}

.parking-guide-list .box .overlay > ol > li:nth-child(3):before {
  content: '03';
}

.parking-guide-list .box .overlay > ol > li:nth-child(4):before {
  content: '04';
}

.parking-guide-list .box .overlay > ol > li:nth-child(5):before {
  content: '05';
}

.parking-guide-list .box .overlay > ol > li:nth-child(2) ul {
  margin-top: 15px;
}

.parking-guide-list .box .overlay > ol > li:nth-child(3) {
  margin-top: 30px;
}

.parking-guide-list .box .overlay > ol > li:nth-child(5) ul {
  margin-top: 4px;;
}

.parking-guide-list .box .overlay > ol > li:nth-child(5) ul li {
  margin-left: 12px;
  position: relative;
}

.parking-guide-list .box .overlay > ol > li:nth-child(5) ul li::before {
  content: "• ";
  position: absolute;
  left: -10px;
}
</style>
