<template>
  <section class="body">
    <section class="medical-Info-list">
      <div
          :class="{ active: isDepartmentClicked }"
          class="box"
          @click="moveToChildPage(DEPARTMENT_PAGE, 'isDepartmentClicked')"
      >
        <div class="box__content">
          <h3>진료과/의료진 <br>안내</h3>
        </div>
        <div class="box__icon">
          <img src="@/assets/img/medical_info_list/first.svg">
        </div>
        <img
            v-show="isDepartmentClicked"
            class="box__status"
            src="@/assets/img/common/check.svg"
        >
      </div>

      <div
          :class="{ active: isTreatmentClicked }"
          class="box"
          @click="moveToChildPage(TREATMENT_PAGE, 'isTreatmentClicked')"
      >
        <div class="box__content">
          <h3>외래/응급진료<br> 안내</h3>
        </div>
        <div class="box__icon">
          <img src="@/assets/img/medical_info_list/second.svg">
        </div>
        <img
            v-show="isTreatmentClicked"
            class="box__status"
            src="@/assets/img/common/check.svg"
        >
      </div>

      <div
          :class="{ active: isHospitalizationClicked }"
          class="box"
          @click="moveToChildPage(HOSPITALIZATION_PAGE, 'isHospitalizationClicked')"
      >
        <div class="box__content">
          <h3>입/퇴원<br> 안내</h3>
        </div>
        <div class="box__icon">
          <img src="@/assets/img/medical_info_list/third.svg">
        </div>
        <img
            v-show="isHospitalizationClicked"
            class="box__status"
            src="@/assets/img/common/check.svg"
        >
      </div>

      <div
          :class="{ active: isVisitClicked }"
          class="box"
          @click="moveToChildPage(VISIT_PAGE, 'isVisitClicked')"
      >
        <div class="box__content">
          <h3>병문안<br> 안내</h3>
        </div>
        <div class="box__icon">
          <img src="@/assets/img/medical_info_list/fourth.svg">
        </div>
        <img
            v-show="isVisitClicked"
            class="box__status"
            src="@/assets/img/common/check.svg"
        >
      </div>
    </section>
  </section>
</template>

<script>
import moveHelper from "@/helpers/moveHelper";

/**
 * @vuese
 * @group 메인-진료안내
 * 설명
 */
export default {
  name: "MedicalInformationList",
  data() {
    return {
      // 박스 선택 여부값
      isDepartmentClicked: false,
      isTreatmentClicked: false,
      isHospitalizationClicked: false,
      isVisitClicked: false,

      // 하위 라우터 패스
      DEPARTMENT_PAGE: '/main/medical-information/department',
      TREATMENT_PAGE: '/main/medical-information/treatment',
      HOSPITALIZATION_PAGE: '/main/medical-information/hospitalization',
      VISIT_PAGE: '/main/medical-information/visit',
    }
  },
  methods: {
    playSound(sound) {
      if (sound) {
        const audio = new Audio(sound);
        audio.play();
      }
    },
    moveToChildPage(path, status) {
      this.$DB.stopForPageMove = true;
      this.playSound('/sound/button_touch_1.wav');
      moveHelper.selectAndDelayMove(path, status, this);
    }
  }
};
</script>

<style scoped>
/* medical-Info-list*/
.medical-Info-list {
  /*  clock wise from 12 clock*/
  margin: 101px 100px 119px 100px;
  display: grid;
  /* for putting 3rd, 4th box into 3rd column together */
  grid-auto-flow: row dense;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 345px);
  column-gap: 29px;
  row-gap: 30px;
}

.medical-Info-list .box.active::before {
  content: "";
  display: block;
  width: 827px;
  height: 326px;
  border: solid 10px #6080e8;
  background-color: #e9ecf5;
  border-radius: 30px;
  position: absolute;
  top: -1px;
  left: -1px;
}

.medical-Info-list .box.active::after {
  content: "";
  display: block;
  position: absolute;
  width: 64px;
  height: 65px;
  top: 40px;
  right: 40px;
  background: url("~@/assets/img/common/check.svg");
  background-size: cover;
}

.medical-Info-list .box:nth-child(n+2) {
  border: solid 1px #979797;
}

.medical-Info-list .box .box__content {
  position: absolute;
  top: 54px;
  left: 56px;
}

.medical-Info-list .box .box__content h3 {
  font-family: NotoSansKR;
  font-size: 55px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.18;
  letter-spacing: normal;
  color: #2e4388;
}

.medical-Info-list .box:nth-child(1) .box__icon {
  bottom: 70px;
  right: 106px;
}

.medical-Info-list .box:nth-child(2) .box__icon {
  bottom: 65px;
  right: 80px;
}

.medical-Info-list .box:nth-child(3) .box__icon {
  bottom: 57px;
  right: 68px;
}

.medical-Info-list .box:nth-child(4) .box__icon {
  bottom: 57px;
  right: 60px;
}
</style>
