<template>
  <div class="boot">
    <router-view/>
  </div>
</template>

<script>
import {prepareBootingEvents, disableBootingEvents} from "@/helpers/eventHelper";

export default {
  name: "AdminBoot",
  mounted() {
    prepareBootingEvents();
  },
  beforeDestroy() {
    disableBootingEvents();
  }
}
</script>

<style scoped>
</style>