<template>
  <div class="auth">
    <div class="description">비밀번호를 입력해주세요</div>
    <form>
      <input
          id="password"
          ref="password"
          autocomplete="false"
          v-model="password"
          placeholder=""
          type="password"
          @click="getCursorPosition"
      >
    </form>
    <div class="keypad">
      <div
          v-for="key in keySet"
          :key="key.index"
          :class="{ 'active': key.selected, 'enter': key.value === 'ENTER', 'clear': key.value === 'CLEAR'}"
          class="key"
          @click="addSelectedInitialCha(key)"
      >
        <p>{{ key.value }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import moveHelper from "@/helpers/moveHelper";
/**
 * @vuese
 * @group 부팅
 * 설명
 */
export default {
  name: "AdminAuthentication",
  data: function () {
    return {
      isAuth: false,
      password: '',
      maxLength: 10,
      keySet: [
        {
          value: '1',
          selected: false
        },
        {
          value: '2',
          selected: false
        },
        {
          value: '3',
          selected: false
        },
        {
          value: '4',
          selected: false,
        },
        {
          value: '5',
          selected: false,
        },
        {
          value: '6',
          selected: false,
        },
        {
          value: '7',
          selected: false,
        },
        {
          value: '8',
          selected: false,
        },
        {
          value: '9',
          selected: false,
        },
        {
          value: 'CLEAR',
          selected: false,
          clear: true
        },
        {
          value: '0',
          selected: false,
        },
        {
          value: 'ENTER',
          selected: false,
          enter: true,
        },
      ],
      cursorPosition: 0,
    }
  },
  watch: {
    cursorPosition(value) {
      this.$refs.password.selectionStart = value;
      this.$refs.password.selectionEnd = value;
    },
    password(value) {
      if (value !== '') {
        this.$refs.password.placeholder = '';
      }
    }
  },
  mounted() {
    this.$refs.password.focus();
    this.cursorPosition = this.$refs.password.selectionStart;
    // console.log('mounted position', this.cursorPosition);
  },
  methods: {
    getCursorPosition(e) {
      this.cursorPosition = e.target.selectionStart;
    },
    endInput() {
      // console.log('endInput')
      this.$refs.password.focus();
    },
    movePositionWith(amount) {
      let res = this.cursorPosition + amount;
      this.cursorPosition = res >= 0 ? res : 0;
      this.endInput();
    },
    addSelectedInitialCha(key) {
      key.selected = true;
      moveHelper.doAfterDelay(() => {
        key.selected = false;
        if (key.value === 'CLEAR') {
          this.resetInputValue();
        } else if (key.value === 'ENTER') {
          this.checkPassword();
        } else {
          if (this.password.length < this.maxLength) {
            this.password = this.password.substring(0, this.cursorPosition)
                + key.value
                + this.password.substring(this.cursorPosition, this.password.length + 1);
            this.movePositionWith(1);
            // console.log('password: ', this.password);
          } else {
            this.endInput();
          }
        }
      })
    },
    resetInputValue() {
      this.password = '';
      this.endInput();
      // if (this.password !== '') {
      //   this.password = this.password.substring(0, this.cursorPosition - 1) +
      //       this.password.substring(this.cursorPosition);
      //   this.movePositionWith(-1);
      // } else {
      //   this.endInput();
      // }
      // console.log('del click', this.password);
    },
    checkPassword() {
      let pw;
      if (typeof this.$DB.password !== "string") {
        pw = this.$DB.password.toString();
      } else {
        pw = this.$DB.password;
      }
      if (this.password === pw) {
        this.isAuth = true;
        this.$router.push("/admin/front");
      } else {
        this.password = '';
        this.$refs.password.placeholder = '다시 입력해주세요.';
      }
    },
  }
}

</script>
<style scoped>
div.auth {
  color: #42b983;
  font-size: 50px;
  text-align: center;
  padding-top: 120px;
}

.btn-shutdown img {
  filter: brightness(2);
  fill: #455b9d;
}

.btn-shutdown p {
  font-family: NotoSansKR;
  font-size: 34px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: normal;
  text-align: center;
  color: #6080e8;
}

.description {
  margin-top: 0;
  margin-bottom: 50px;
  font-family: NotoSansKR;
  font-size: 80px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #737373;
  text-align: center;
}

input {
  height: 100px
}

#password {
  font-size: 50px;
  text-align: center;
  margin-bottom: 75px;
}

.wrong {
  text-decoration: underline;
  color: #ffffff;
}

/* KEYPAD, KEYWORD */
.keypad {
  width: 1113px;
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(4, 120px);
  column-gap: 70px;
  row-gap: 10px;
  position: relative;
  left: 432px;
}

.keypad .key {
  width: 320px;
  height: 100px;
  border-radius: 30px;
  border: solid 3px #dedede;
  background-color: #ffffff;
  position: relative;
}

.keypad .key p {
  /*width: 56px;*/
  /*height: 89px;*/
  font-family: NotoSansKR;
  font-size: 60px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 100px;
  letter-spacing: normal;
  text-align: center;
  color: #737373;
}

.keypad .clear {
  background-color: #bbbbbb;
}

.keypad .enter {
  background-color: #737373;
}

.keypad .enter p {
  color: white;
}

.keypad .active {
  height: 100px;
  border-radius: 30px;
  background-color: #bbbbbb;
}

.keypad .active p {
  /*width: 56px;*/
  /*height: 89px;*/
  font-family: NotoSansKR;
  font-size: 60px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 100px;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

input:focus {
  outline: none;
}
</style>