<template>
  <section class="body">
    <section class="boot-loading">
      <div class="box">
        <!--        <img src="~@/assets/img/patrol/스캐닝.gif">-->
        <img src="~@/assets/img/patrol/loading_img.gif">
        <div class="description">
          <h3>Loading...<br>
            깨어나고 있어요!</h3>
          <h2>잠시만 기다려주세요.</h2>
        </div>
      </div>
    </section>
  </section>
</template>

<script>
/**
 * @vuese
 * @group 부팅
 * 설명
 */
export default {
  name: "AdminBootLoading"
}

</script>

<style scoped>
/* VOICE_SEARCH-LIST */
.boot-loading {
  padding-top: 90px;
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 717px;
  /*  clock wise from 12 clock*/
  margin: 101px 100px 100px 100px;
}

.boot-loading .box {
  border-radius: 30px;
  box-shadow: 0 49px 75px 0 rgba(32, 54, 119, 0.5);
  background-color: #ffffff;

  display: grid;
  grid-auto-flow: row;
  grid-template-rows: calc(421px - 131px) calc(316px + 131px);
}

.box .top {
  position: relative;
}

.box img {
  position: absolute;
  top: 76px;
  left: 715px;
  width: 289px;
}

.box .bottom .please-tell {
  margin: 38px auto;
}

.box h2 {
  padding-top: 63px;
  font-family: NotoSansKR;
  font-size: 50px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #2e4388;
  text-align: center;
}

.box h3 {
  padding-top: 404px;
  font-family: NotoSansKR;
  font-size: 39px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: normal;
  text-align: center;
  color: #6080e8;
  animation-name: example;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes example {
  from {
    color: #ffffff;
  }
  to {
    color: #6080e8;
  }
}

.box .bottom .example {
  border-radius: 0 0 30px 30px/ 0 0 30px 30px;
  background-color: #e9ecf5;
  padding: 50px 424px 61px 439px;

  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 362px 133px 362px;
  grid-template-rows: 200px;
}

.box .bottom .example li {
  font-family: NotoSansKR;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  color: #2e4388;
}
</style>