<template>
  <section class="body">
    <h2 class="body__title">제증명 발급 안내</h2><h3 class="body__subtitle" >( 증명서 발급 절차 )</h3>
    <section class="certificate-content">
      <div class="box">
        <section class="header first">
          <div class="title">
            <h3>외래 환자</h3>
          </div>
          <div class="icon">
            <img src="~@/assets/img/certificate-guide/first.svg">
          </div>
        </section>
        <section class="item">
          <h3 class="title">외래환자</h3>
          <p class="description"></p>
        </section>
        <section class="item">
          <h3 class="title">진료과 접수</h3>
          <p class="description">1층 1~4번 창구</p>
        </section>
        <section class="item">
          <h3 class="title">의사면담<br>
            작성·처방<br>
            구비서류 제출</h3>
          <p class="description"></p>
        </section>
        <section class="item">
          <h3 class="title">발급 및 비용납부</h3>
          <p class="description">1층 원무 5번 제증명 창구</p>
        </section>
      </div>
      <div class="box">
        <section class="header last">
          <div class="title">
            <h3>입원 환자</h3>
          </div>
          <div class="icon">
            <img src="~@/assets/img/certificate-guide/second.svg">
          </div>
        </section>
        <section class="item">
          <h3 class="title">입원환자</h3>
          <p class="description"></p>
        </section>
        <section class="item">
          <h3 class="title">담당의 및<br>
            간호사에게 신청</h3>
          <p class="description">1층 1~4번 창구</p>
        </section>
        <section class="item">
          <h3 class="title">의사면담<br>
            작성·처방<br>
            구비서류 제출</h3>
          <p class="description"></p>
        </section>
        <section class="item">
          <h3 class="title">발급 및 비용납부</h3>
          <p class="description">1층 원무 5번 제증명 창구</p>
        </section>
      </div>
    </section>
  </section>
  <!--  <div>-->
  <!--    <p>제증명 발급 안내 page -증명서 발급 절차</p>-->
  <!--    <ul>-->
  <!--      <li>외래환자</li>-->
  <!--      <li>외래환자 > 진료과접수 > 의사면담 작성 > 발급 및 비용납부</li>-->
  <!--      <li>입원환자</li>-->
  <!--      <li>-->
  <!--        입원환자 > ㄴ담당의 및 간호사에게 신청 > 의사면담 작성 > 발급 및-->
  <!--        비용납부-->
  <!--      </li>-->
  <!--    </ul>-->
  <!--  </div>-->
</template>

<script>
/**
 * @vuese
 * @group 메인-이용안내-제증명 발급
 * 설명
 */
export default {
  name: "CertificateGuide"
};
</script>

<style scoped>
/* CERTIFICATE-CONTENT*/
.body .body__title{
  font-family: NotoSansKR;
  font-size: 45px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -1.13px;
  display: inline-block;
}
.body .body__subtitle{
  left: 10px;
  top: -3px;
  position: relative;
}
.certificate-content {
  display: grid;
  /* for putting 3rd, 4th box into 3rd column together */
  grid-auto-flow: row dense;
  grid-template-columns: 1720px;
  grid-template-rows: repeat(2, 344px);
  /*column-gap: 29px;*/
  row-gap: 30px;
  /*  clock wise from 12 clock*/
  margin: 23px 100px 0 100px;
}

.certificate-content .box {
  display: flex;
  box-sizing: border-box;
}

.certificate-content section.header {
  width: 322px;
  /*height: 344px;*/
  border-radius: 30px 0 0 30px/ 30px 0 0 30px;
  background-color: #e9ecf5;
  position: relative;
}

.certificate-content section.header .title {
  position: absolute;
  top: 38px;
  left: 36px;
  width: 74px;
  height: 100px;
  font-family: NotoSansKR;
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #6080e8;
}

.certificate-content .box .header.first .icon {
  position: absolute;
  right: 50px;
  bottom: 28px;
}

.certificate-content .box .header.last .icon {
  position: absolute;
  right: 44px;
  bottom: 30px;
}

.certificate-content section.item {

  display: flex;
  flex-flow: column;
  justify-content: center;
  position: relative;
}
.certificate-content section.item:nth-child(-n+4) {
  border-right: 1px solid #6080e8;
}

.certificate-content section.item .title {
  font-family: NotoSansKR;
  font-size: 34px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: normal;
  text-align: center;
  color: #6080e8;
  margin: 0 auto;
}

.certificate-content section.item .description {
  font-family: NotoSansKR;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.82;
  letter-spacing: normal;
  text-align: center;
  color: #6080e8;
  margin: 0 auto;
}

.certificate-content section.item:nth-child(n+2)::after {
  content: "";
  display: block;
  position: absolute;
  top: 149px;
  /*bottom: 0;*/
  right: -26px;
  width: 49px;
  height: 49px;
  /*border: solid 2px #6080e8;*/
  background: url("~@/assets/img/certificate-bullet-right-arrow.svg");
}

.certificate-content section.item:last-child::after {
  content: "";
  background: none;
}

.certificate-content section.item:nth-child(2) .title{
  margin-left: 90px;
}

.certificate-content section.item:nth-child(2) {
  width: 330px;
}

.certificate-content section.item:nth-child(3) {
  width: 356px;
}

.certificate-content section.item:nth-child(3) .description {
  margin-top: 4px;
}

.certificate-content section.item:nth-child(4) {
  width: 353px;
}

.certificate-content section.item:nth-child(4) .title {
  width: 196px;
}

.certificate-content section.item:nth-child(5) {
  width: 356px;
}
.certificate-content section.item:nth-child(5) .title {
  padding-top: 5px;
padding-bottom: 5px;
}

.certificate-content section.item:nth-child(5) .description {
  font-family: NotoSansKR;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.55;
  letter-spacing: -0.92px;
  text-align: center;
  color: #6080e8;
}
</style>
