<template>
  <section class="body">
    <h2 class="body__title">응급 진료 안내</h2>
    <section class="emergency-content">
      <div class="box">
        <div class="box-jumbotron">
<!--          <div class="inner">-->
            <div class="icon">
              <img
                  src="~@/assets/img/emergency/emergency-bag.svg"
                  alt=""
              >
            </div>
            <div class="description">
              <h3>위치 및 구성</h3>
              <p>본원 응급실은 본관 우측 건물 1층에 위치해 있으며 진료에 필요한 각종 의료장비와 기기를 보유하고 있으며 응급실장님을 비롯한 응급실 의사, 간호사, 원무직원, 진료보조과(영상의학과, 진단검사의학과)가 신속한 진료를 위하여 24시간 대기하고 있습니다.</p>
            </div>
<!--          </div>-->
        </div>
        <ul>
          <li>• 마산의료원은 도민의 건강을 지키기 위해 최선을 다하고 있습니다</li>
          <li>• 응급환자는 연중무휴 24 시간 응급실에서 진료가 가능합니다</li>
          <li>• 응급환자의 신속한 진료 및 편의를 위하여 응급실 내 접수 ･수납 창구를 운영하고 있습니다</li>
          <li>• 응급의학과 전문의가 진료합니다</li>
          <li>• 문의 전화 : 055-249-1119</li>
        </ul>
      </div>
    </section>
  </section>
</template>

<script>
export default {
  name: "Emergency"
};
</script>

<style scoped>
/* EMERGENCY-LIST */
.emergency-content {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 720px;
  /*  clock wise from 12 clock*/
  margin: 20px 98px 100px 102px;
}

.emergency-content .box {
  border: solid 1px #979797;
  padding: 20px 18px 0 21px;
}

.emergency-content .box .box-jumbotron {
  width: 1677px;
  border-radius: 30px;
  background-color: #e9ecf5;
  padding-top: 84px;
  padding-bottom: 74px;
  /* box-sizing: border-box; */
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 205px;
  grid-template-columns: 492px 1187px;
  position: relative;
}

.emergency-content .box .box-jumbotron .icon {
  border-right: 1px solid #6080e8;
}

.emergency-content .box .box-jumbotron .icon img {
  position: absolute;
  top: 115px;
  left: 160px;
}

.emergency-content .box .box-jumbotron .description {
  margin-top: 10px;
  margin-left: 90px;
  align-self: center;
}

.emergency-content .box .box-jumbotron .description h3 {
  /*margin-top: 52px;*/
  width: 172px;
  height: 45px;
  font-family: NotoSansKR;
  font-size: 34px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: normal;
  color: #6080e8;
}

.emergency-content .box .box-jumbotron .description p {
  margin-top: 16px;
  margin-left: 7px;
  width: 813px;
  height: 108px;
  font-family: NotoSansKR;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.64;
  letter-spacing: normal;
  color: #000000;
}

.emergency-content .box ul {
  padding-top: 42px;
  padding-left: 41px;
  padding-bottom: 116px;
}

.emergency-content .box li {
  font-family: NotoSansKR;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.64;
  letter-spacing: normal;
  color: #999999;
}
</style>
