<template>
  <section class="body">
    <h2 class="body__title">외래 접수 시간</h2>
    <section class="office-hour-content">
      <div class="box">
        <table>
<!--          <colgroup>-->
<!--            <col style="background-color:red;width:404px">-->
<!--            <col style="background-color:yellow;width:404px;">-->
<!--            <col style="background-color:yellow;width:404px;">-->
<!--            <col style="background-color:yellow;width:404px;">-->
<!--          </colgroup>-->
          <thead>
          <tr>
            <td>1차 주차요금</td>
            <td>접수시간</td>
            <td>진료시간</td>
            <td>비고</td>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>평일 (월~금)</td>
            <td>08:30~16:30</td>
            <td>09:00~17:30</td>
            <td>-</td>
          </tr>
          <tr>
            <td>토요일</td>
            <td>08:30~11:30</td>
            <td>09:00~12:30</td>
            <td>-</td>
          </tr>
          <tr>
            <td colspan="4">
              <p>점심시간 12:30 ~ 13:30<br>
              진료과의 사정에 따라 접수가 조기 마감될 수 있고, 진료시간이 조정될 수 있습니다. 응급실은 24시간 진료가 가능합니다
              </p>
            </td>
          </tr>
          </tbody>
        </table>
        <ul>
          <li>• 전화 예약 055 249 1045( 원무과 으로 전화하시면 진료예약 담당자와 연결됩니다</li>
          <li>• 상담 시간 : 평일 08:30~17:00, 토요일 08:30~12:00</li>
          <li>• 진료방법 : 진료 당일 예약 시간 전에 진료과로 가셔서 진료예약 확인을 하시면 됩니다</li>
          <li>• 병원에 처음 내원하시는 분은 개인정보보호법에 의해 예약이 제한됩니다</li>
          <li>• 일부 진료과는 전화예약이 불가하며, 모든 진료과 당일 예약은 불가합니다</li>
        </ul>

      </div>
    </section>
  </section>
</template>

<script>
export default {
  name: "OfficeHours"
};
</script>

<style scoped>
/* OFFICE-HOUR-LIST */
.office-hour-content {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 720px;
  /*  clock wise from 12 clock*/
  margin: 20px 98px 100px 102px;
}

.office-hour-content .box {
  border: solid 1px #979797;
  padding: 53px 50px 0 50px;
}

.office-hour-content .box thead td {
  vertical-align: middle;
  font-family: NotoSansKR;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 26px;
  letter-spacing: normal;
  text-align: center;
  color: #6080e8;
}

.office-hour-content .box thead td {
  font-family: NotoSansKR;
  border: 1px solid #465fa8;
  border-top: 5px solid #6080e8;
  width: 404px;
  height: 80px;
  background-color: #e9ecf5;
  color: #6080e8;
}

.office-hour-content .box thead td:nth-child(1) {
  border-left: none;
}

.office-hour-content .box thead td:nth-child(4) {
  border-right: none;
}

.office-hour-content .box tbody td {
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
  height: 80px;
  padding-top: 1px;
  padding-right: 13px;
  font-family: NotoSansKR;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 80px;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
}

.office-hour-content .box tbody tr:nth-child(3) td {
  padding-top: 15px;
  line-height: 1.5;
  height: 99px;
}

.office-hour-content .box ul {
  padding-top: 42px;
  padding-bottom: 83px;
}

.office-hour-content .box li {
  font-family: NotoSansKR;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.64;
  letter-spacing: normal;
  color: #999999;
}
</style>
