<template>
  <section class="body">
    <h2 class="body__title">외래 진료 절차</h2>
    <section class="procedure-content">
      <div class="box box-step">
        <section class="step">
          <div class="inner">
            <div class="badge">
              <p>Step 01</p>
            </div>
            <div class="title">
              <h3>접수</h3>
              <h4>1층 1~4번 창구</h4>
            </div>
            <div class="description">
              <p>예약하지 못하신 환자분은 1층 창구(1~4 번 창구 앞에 있는 번호발급기에서 “접수” 번호표를 뽑으신 후 호출하는 창구로 가셔서 신분증(진료카드)과 건강보험증(의료급여증)을
                제출하고 접수를 합니다.</p>
              <p>의료급여환자는 진료의뢰서를 제출하셔야 급여 혜택을 받을 수 있습니다.</p>
            </div>
          </div>
        </section>
        <section class="step">
          <div class="inner">
            <div class="badge">
              <p>Step 02</p>
            </div>
            <div class="title">
              <h3>진료</h3>
              <h4>해당 진료과</h4>
            </div>
            <div class="description">
              <p>접수하신 해당 진료과에서 진료를 받으시면 됩니다.</p>
              <div
                  :class="{ active: isDepartmentBtnClicked }"
                  class="badge badge-with-marker"
                  @click="moveToInformationPage(DEPARTMENT_PAGE, 'isDepartmentBtnClicked')"
              >
                <div>
                  <p>진료과 안내</p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="step">
          <div class="inner">
            <div class="badge">
              <p>Step 03</p>
            </div>
            <div class="title">
              <h3>수납/처방전 수령</h3>
              <h4>1층 1~4번, 2층 창구</h4>
            </div>
            <div class="description">
              <p>진료를 마친 후 1층 창구 앞에서 "수납" 번호표를 뽑으신 후 호출하는 창구(1~4번) 또는 2층 창구로 가셔서 수납하시기 바랍니다.</p>
            </div>
          </div>
        </section>
        <section class="step">
          <div class="inner">
            <div class="badge">
              <p>Step 04</p>
            </div>
            <div class="title">
              <h3>채혈 촬영 등</h3>
              <h4>채혈실, 영상의학과, 주사실 등</h4>
            </div>
            <div class="description">
              <p>검사, 촬영, 물리치료, 주사처방이 있으신 분은 채혈실, 영상의학과, 물리치료실, 주사실을 방문하여 안내를 받습니다.
                원내 약처방이 있으신 분은 1층 약국으로 가셔서 약을 수령 후 귀가하시면 됩니다.
              </p>
              <div
                  :class="{ active: isLocationBtnClicked }"
                  class="badge badge-with-marker"
                  @click="moveToInformationPage(LOCATION_PAGE, 'isLocationBtnClicked')"
              >
                <div>
                  <p>위치 안내</p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="step">
          <div class="inner">
            <div class="badge">
              <p>Step 05</p>
            </div>
            <div class="title">
              <h3>원외 처방전</h3>
              <h4>원외 약국</h4>
            </div>
            <div class="description">
              <p>원외 처방전을 발급받으신 분은 원외약국에서 약을 수령 후
                귀가하시면 됩니다.
              </p>
            </div>
          </div>
        </section>
      </div>
    </section>
  </section>
</template>

<script>
import moveHelper from "@/helpers/moveHelper";

/**
 * @vuese
 * @group 메인-진료안내-외래/응급진료
 * 설명
 */
export default {
  name: "Procedure",
  data() {
    return {
      // 버튼 선택 여부값
      isDepartmentBtnClicked: false,
      isLocationBtnClicked: false,
      // 버튼 클릭 시 이동할 라우트 패스
      DEPARTMENT_PAGE: '/main/medical-information/department',
      LOCATION_PAGE: '/main/use-information/location',
    }
  },
  methods: {
    playSound(sound) {
      if (sound) {
        const audio = new Audio(sound);
        audio.play();
      }
    },
    moveToInformationPage(path, status) {
      this.playSound('/sound/button_touch_1.wav');
      moveHelper.selectAndDelayMove(path, status, this);
    }
  }
};
</script>

<style scoped>
/* PROCEDURE */
.body__title {
  padding-left: 110px;
}

.procedure-content {
  /*  clock wise from 12 clock*/
  margin: 20px 98px 100px 102px;
}

.procedure-content .box {
  border: solid 1px #979797;
  padding: 60px 0 40px 0;
}

.procedure-content .box.box-step {
  background: linear-gradient(180deg, #e9ecf5 36%, #ffffff 36%);
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 619px;
  justify-items: center;
}

.procedure-content .box.box-step::after {
  content: "";
  position: absolute;
  top: 233px;
  height: 47px;
  width: 1718px;
  background: url("~@/assets/img/common/group-2.png");
}

.procedure-content .box .step:nth-child(1) .description p:nth-child(2) {
  margin-top: 25px;
}

.procedure-content .box .step:nth-child(1) .description p:nth-child(2)::before {
  content: "※ ";
  color: #6080e8;
}

.procedure-content .box .step .badge.badge-with-marker {
  margin-top: 35px;
  border: solid 1px #6080e8;
  background: #ffffff;
  border-radius: 44.5px;
}

.procedure-content .box .step .badge.badge-with-marker p {
  display: inline-block;
  padding: 0 23px;
  color: #6080e8;
}

.procedure-content .box .step .badge.badge-with-marker::after {
  display: block;
  content: "";
  width: 25px;
  height: 31px;
  position: absolute;
  top: 10px;
  right: 22px;
  background: url("~@/assets/img/common/map-marker-blue.svg");
}

.procedure-content .box .step .badge.badge-with-marker.active {
  background-color: #6080e8;
}

.procedure-content .box .step .badge.badge-with-marker.active p {
  color: #ffffff;
}

.procedure-content .box .step .badge.badge-with-marker.active::after {
  display: block;
  content: "";
  width: 25px;
  height: 31px;
  position: absolute;
  top: 9px;
  background: url("~@/assets/img/common/map-marker-white.svg");
}

.procedure-content .box .step:nth-child(2) .badge.badge-with-marker {
  width: 194px;
}

.procedure-content .box .step:nth-child(4) .badge.badge-with-marker {
  width: 180px;
}
</style>
