<template>
  <section class="body">
    <section class="treatment-list">
      <div
          :class="{ active: isOfficeHoursClicked }"
          class="box"
          @click="moveToChildPage(OFFICE_HOURS_PAGE, 'isOfficeHoursClicked')"
      >
        <div class="box__content">
          <h3>외래<br>접수 시간 안내</h3>
        </div>
        <div class="box__icon">
          <img src="@/assets/img/treatment_list/first.svg">
        </div>
      </div>

      <div
          :class="{ active: isProcedureClicked }"
          class="box"
          @click="moveToChildPage(PROCEDURE_PAGE, 'isProcedureClicked')"
      >
        <div class="box__content">
          <h3>외래<br>진료 절차 안내</h3>
        </div>
        <div class="box__icon">
          <img src="@/assets/img/treatment_list/second.svg">
        </div>
      </div>

      <div
          :class="{ active: isEmergencyClicked }"
          class="box"
          @click="moveToChildPage(EMERGENCY_PAGE, 'isEmergencyClicked')"
      >
        <div class="box__content">
          <h3>응급<br>진료 안내</h3>
        </div>
        <div class="box__icon">
          <img src="@/assets/img/treatment_list/third.svg">
        </div>
      </div>
    </section>
  </section>
</template>

<script>
import moveHelper from "@/helpers/moveHelper";
/**
 * @vuese
 * @group 메인-진료안내-외래/응급진료
 * 설명
 */
export default {
  name: "TreatmentList",
  data() {
    return {
      // 박스 선택 여부값
      isOfficeHoursClicked: false,
      isProcedureClicked: false,
      isEmergencyClicked: false,

      // 하위 라우터 패스
      OFFICE_HOURS_PAGE: '/main/medical-information/treatment/office-hours',
      PROCEDURE_PAGE: '/main/medical-information/treatment/procedure',
      EMERGENCY_PAGE: '/main/medical-information/treatment/emergency'
    }
  },
  methods: {
    playSound(sound) {
      if (sound) {
        const audio = new Audio(sound);
        audio.play();
      }
    },
    moveToChildPage(path, status) {
      this.$DB.stopForPageMove = true
      this.playSound('/sound/button_touch_1.wav');
      moveHelper.selectAndDelayMove(path, status, this);
    }
  }
};
</script>

<style scoped>
/* TREATMENT-LIST */
.treatment-list {
  display: grid;
  /* for putting 3rd, 4th box into 3rd column together */
  grid-auto-flow: column;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 720px;
  column-gap: 29px;
  row-gap: 30px;
  /*  clock wise from 12 clock*/
  margin: 102px 100px 0 100px;
}
.treatment-list .box{
  box-sizing: border-box;
}
.treatment-list .box.active::before {
  content: "";
  display: block;
  width: 554px;
  height: 721px;
  border: solid 10px #6080e8;
  background-color: #e9ecf5;
  border-radius: 30px;
  position: absolute;
  top: -2px;
  left: -1px;
  box-sizing: border-box;
}

.treatment-list .box.active::after {
  content: "";
  display: block;
  position: absolute;
  width: 64px;
  height: 65px;
  top: 38px;
  right: 39px;
  background: url("~@/assets/img/common/check.svg");
  background-size: cover;
}
.treatment-list .box:nth-child(n) {
  border: solid 1px #979797;
}

.treatment-list .box .box__content {
  position: absolute;
  top: 58px;
  left: 56px;
}

.treatment-list .box .box__content h3 {
  font-family: NotoSansKR;
  font-size: 55px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.18;
  letter-spacing: normal;
  color: #2e4388;
}

.treatment-list .box:nth-child(1) .box__icon {
  position: absolute;
  bottom: 72px;
  right: 68px;
}

.treatment-list .box:nth-child(2) .box__icon {
  position: absolute;
  bottom: 67px;
  right: 58px;
}

.treatment-list .box:nth-child(3) .box__icon {
  position: absolute;
  bottom: 72px;
  right: 68px;
}

</style>
