/* COMMON */
.app__container {
    width: 1920px;
    height: 1080px;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 140px 1fr;
}
.app__container.blue{
    background-color: #3f538e;
}
.app__container.grey{
    background-color: #f5f5f5;
}


/* noto-sans-kr-regular - latin_korean */
@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans KR Regular'), local('NotoSansKR-Regular'),
    url('~@/assets/fonts/noto-sans-kr-v12-latin_korean-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('~@/assets/fonts/noto-sans-kr-v12-latin_korean-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noto-sans-kr-500 Medium - latin_korean */
@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 500;
    src: local('Noto Sans KR Medium'), local('NotoSansKR-Medium'),
    url('~@/assets/fonts/noto-sans-kr-v12-latin_korean-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('~@/assets/fonts/noto-sans-kr-v12-latin_korean-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noto-sans-kr-700 Bold - latin_korean */
@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: bold;
    src: local('Noto Sans KR Bold'), local('NotoSansKR-Bold'),
    url('~@/assets/fonts/noto-sans-kr-v12-latin_korean-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('~@/assets/fonts/noto-sans-kr-v12-latin_korean-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* BOX */
.box {
    border-radius: 30px;
    background-color: #ffffff;
    /* for child element position:absolute*/
    position: relative;
    box-sizing: border-box;
}
.box::before{
    box-shadow: 0 49px 75px 0 rgba(32, 54, 119, 0.5);
}
.box .box__icon {
    position: absolute;
}

.box-step {
    background: linear-gradient(180deg, #e9ecf5 36%, #ffffff 36%);
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 619px;
    justify-items: center;
}

.box-step::after {
    content: "";
    position: absolute;
    top: 233px;
    height: 47px;
    width: 1718px;
    background: url("~@/assets/img/common/group-2.png");
}

.jumbotron {
    width: 1620px;
    height: 700px;
    border-radius: 0;
    background-color: #e9ecf5;
    position: relative;
}

/* STEP */
/* STEP */
.step {
    width: 100%;
    /*height: 619px;*/
    border-right: 1px solid #d6d6d6;
    display: grid;
    justify-items: center;
    box-sizing: border-box;
}

.step .inner {
    padding-left: 4px;
    width: 280px;
}

.step .title {
}

.step .title h3 {
    margin-top: 22px;
    font-family: NotoSansKR;
    font-size: 34px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.32;
    letter-spacing: normal;
    color: #6080e8;
}

.step .title h4 {
    margin-top: 8px;
    font-family: NotoSansKR;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.82;
    letter-spacing: normal;
    /*text-align: center;*/
    color: #6080e8;
}

.step .description {
    margin-top: 65px;
}

.step .description > p {
    /*width: 280px;*/
    font-family: NotoSansKR;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.64;
    letter-spacing: normal;
    color: #333333;
}

/* BADGE */
.badge {
    width: 125px;
    height: 50px;
    border-radius: 25px;
    background-color: #6080e8;
    /* for child element position:absolute*/
    position: relative;
}

.badge p {
    font-family: NotoSansKR;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 50px;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    /*display: block;*/
    /*height: 10px;*/
    /*position: absolute;*/
    /*top: 12px;*/
    /*left: 0;*/
    /*right: 0;*/
    position: relative;
}


/* BODY */
.body {
}

.body .body__title {
    padding-top: 32px;
    padding-left: 103px;
    /*width: 269px;*/
    height: 66px;
    font-family: NotoSansKR;
    font-size: 45px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    display: block;
}

.body .body__subtitle {
    padding-top: 32px;
    /*padding-left: 103px;*/
    /*width: 269px;*/
    height: 59px;
    font-family: NotoSansKR;
    font-size: 40px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -1px;
    color: #ffffff;
    display: inline;
}




