<template>
  <section class="body">
    <section class="hospitalization-list">
      <div
          :class="{ active: isEnterClicked }"
          class="box"
          @click="moveToChildPage(ENTER_PAGE, 'isEnterClicked')"
      >
        <div class="box__content">
          <h3>입원<br>절차</h3>
        </div>
        <div class="box__icon">
          <img src="@/assets/img/hospitalization_list/first.svg">
        </div>
      </div>
      <div
          :class="{ active: isDischargeClicked }"
          class="box"
          @click="moveToChildPage(DISCHARGE_PAGE, 'isDischargeClicked')"
      >
        <div class="box__content">
          <h3>퇴원<br>절차</h3>
        </div>
        <div class="box__icon">
          <img src="@/assets/img/hospitalization_list/second.svg">
        </div>
      </div>

    </section>
  </section>
</template>

<script>
import moveHelper from "@/helpers/moveHelper";

/**
 * @vuese
 * @group 메인-진료안내-입퇴원
 * 설명
 */
export default {
  name: "HospitalizationList",
  data() {
    return {
      // 박스 선택 여부값
      isEnterClicked: false,
      isDischargeClicked: false,

      // 하위 라우트 패스
      ENTER_PAGE: '/main/medical-information/hospitalization/enter',
      DISCHARGE_PAGE: '/main/medical-information/hospitalization/discharge'
    }
  },
  methods: {
    playSound(sound) {
      if (sound) {
        const audio = new Audio(sound);
        audio.play();
      }
    },
    moveToChildPage(path, status) {
      this.$DB.stopForPageMove = true;
      this.playSound('/sound/button_touch_1.wav');
      moveHelper.selectAndDelayMove(path, status, this);
    }
  }
};
</script>

<style scoped>
/* HOSPITALIZATION-LIST */
.hospitalization-list {
  display: grid;
  /* for putting 3rd, 4th box into 3rd column together */
  grid-auto-flow: column;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 720px;
  column-gap: 29px;
  row-gap: 30px;
  /*  clock wise from 12 clock*/
  margin: 101px 391px 0 391px;
}

.hospitalization-list .box {
  border: solid 1px #979797;
}
.hospitalization-list .box.active::before {
  content: "";
  display: block;
  width: 554px;
  height: 721px;
  border: solid 10px #6080e8;
  background-color: #e9ecf5;
  border-radius: 30px;
  position: absolute;
  top: -1px;
  left: -1px;
  box-sizing: border-box;
}

.hospitalization-list .box.active::after {
  content: "";
  display: block;
  position: absolute;
  width: 64px;
  height: 65px;
  top: 38px;
  right: 39px;
  background: url("~@/assets/img/common/check.svg");
  background-size: cover;
}

.hospitalization-list .box .box__content {
  position: absolute;
  top: 62px;
  left: 56px;
}

.hospitalization-list .box .box__content h3 {
  font-family: NotoSansKR;
  font-size: 55px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: normal;
  color: #2e4388;
}

.hospitalization-list .box:nth-child(1) .box__icon {
  position: absolute;
  bottom: 72px;
  right: 58px;
}

.hospitalization-list .box:nth-child(2) .box__icon {
  position: absolute;
  bottom: 60px;
  right: 46px;
}
</style>
