<template>
  <section class="body">
    <h2 class="body__title">퇴원 절차</h2>
    <section class="hospitalization-discharge-content">
      <div class="box box-step">
        <section class="step">
          <div class="inner">
            <div class="badge">
              <p>Step 01</p>
            </div>
            <div class="title">
              <h3>퇴원결정</h3>
              <h4>1층 1~4번 창구</h4>
            </div>
            <div class="description">
              <p>담당의의 퇴원이 결정되면 병동 간호사가 퇴원안내 절차에 의해 설명해 드립니다. 제증명 서류 및 의무기록 사본 발급 신청하신 분은 환자신분증을 지참 하셔야 합니다.
              </p>
            </div>
          </div>
        </section>
        <section class="step">
          <div class="inner">
            <div class="badge">
              <p>Step 02</p>
            </div>
            <div class="title">
              <h3>퇴원계산</h3>
              <h4>1층 입퇴원창구(6번)</h4>
            </div>
            <div class="description">
              <p>퇴원 진료비 심사가 완료되면 원무과에서 해당병실에 연락을 드리면 1층 입/퇴원창구(6번)에 가셔서 퇴원비를 정산하시면 됩니다.
              </p>
            </div>
          </div>
        </section>
        <section class="step">
          <div class="inner">
            <div class="badge">
              <p>Step 03</p>
            </div>
            <div class="title">
              <h3>제증명 및 의무기록
                사본 발급</h3>
              <h4>1층 입원창구(6번)</h4>
            </div>
            <div class="description">
              <p>미리 신청한 제증명 서류 및 의무기록 사본은 제증명/의무기록(5번) 창구에서 환자 신분증을 제시한 후 발급받으시면 됩니다.
              </p>
            </div>
          </div>
        </section>
        <section class="step">
          <div class="inner">
            <div class="badge">
              <p>Step 04</p>
            </div>
            <div class="title">
              <h3>퇴원약<br>
                수령 및 안내</h3>
              <h4>퇴원</h4>
            </div>
            <div class="description">
              <p>검사, 촬영, 물리치료, 주사처방이 있으신 분은 채혈실, 영상의학과, 물리치료실, 주사실을 방문하여 안내를 받습니다.<br>
                원내 약처방이 있으신 분은 1층 약국으로 가셔서 약을 수령 후 귀가하시면 됩니다.
              </p>
            </div>
          </div>
        </section>
        <section class="step">
          <div class="inner">
            <div class="badge">
              <p>Step 05</p>
            </div>
            <div class="title">
              <h3>귀가</h3>
              <h4></h4>
            </div>
            <div class="description">
              <p>안전하게 귀가하시면 됩니다.
              </p>
            </div>
          </div>
        </section>
      </div>
    </section>
  </section>

</template>

<script>
/**
 * @vuese
 * @group 메인-진료안내-입퇴원
 * 설명
 */
export default {
  name: "HospitalizationDischarge"
};
</script>

<style scoped>
/* HOSPITALIZATION_DISCHARGE */
.body .body__title{
  padding-top: 18px;
  font-family: NotoSansKR;
  font-size: 50px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
.hospitalization-discharge-content{
  /*  clock wise from 12 clock*/
  margin: 34px 98px 100px 101px;
}
.hospitalization-discharge-content .box{
  border: solid 1px #979797;
  padding: 60px 0 42px 0;
}

.hospitalization-discharge-content .box-step {
  background: linear-gradient(180deg, #e9ecf5 42%, #ffffff 42%);
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 619px;
  justify-items: center;
}

.hospitalization-discharge-content .box-step::after {
  content: "";
  position: absolute;
  top: 275px;
  height: 47px;
  width: 1718px;
  background: url("~@/assets/img/common/group-2.png");
}

.hospitalization-discharge-content .step .inner {
  padding-left: 8px;
  width: 280px;
}

.hospitalization-discharge-content .step .description {
  margin-top: 105px;
}

.hospitalization-discharge-content .box .step:nth-child(3) .title h4 {
  margin-top: 4px;
}

.hospitalization-discharge-content .box .step:nth-child(3) .description {
  margin-top: 64px;
}

.hospitalization-discharge-content .box .step:nth-child(4) .description {
  margin-top: 60px;
}

.hospitalization-discharge-content .box .step:nth-child(5) .description {
  margin-top: 150px;
}
</style>
