<template>
  <section class="body">
    <h2 class="body__title">입원 절차</h2>
    <section class="hospitalization-enter-content">
      <div class="box box-step">
        <section class="step">
          <div class="inner">
            <div class="badge">
              <p>Step 01</p>
            </div>
            <div class="title">
              <h3>입원결정</h3>
              <h4>1층 1~4번 창구</h4>
            </div>
            <div class="description">
              <p>외래진료를 받으신 후 담당의사로부터 입원결정이 되면 1층 입/퇴원(6번) 창구를 방문하셔서 번호표를 뽑으시고 기다리시면 호출합니다.</p>
            </div>
          </div>
        </section>
        <section class="step">
          <div class="inner">
            <div class="badge">
              <p>Step 02</p>
            </div>
            <div class="title">
              <h3>입원수속</h3>
              <h4>1층 입퇴원창구(6번)</h4>
            </div>
            <div class="description">
              <p>환자 신분증과 입원결정서를 제출하시고 입원약정서를 작성하여 주십시오.</p>
            </div>
          </div>
        </section>
        <section class="step">
          <div class="inner">
            <div class="badge">
              <p>Step 03</p>
            </div>
            <div class="title">
              <h3>병실배정</h3>
              <h4>1층 입원창구(6번)</h4>
            </div>
            <div class="description">
              <p>병실 및 병실등급을 확인하시고, 해당병실에 대한 신청서를 작성하여 주십시오.</p>
            </div>
          </div>
        </section>
        <section class="step">
          <div class="inner">
            <div class="badge">
              <p>Step 04</p>
            </div>
            <div class="title">
              <h3>촬영 및 검사</h3>
              <h4>해당 검사실</h4>
            </div>
            <div class="description">
              <p>병실을 배정받고 입원수속 후에는 환자인식밴드를 착용하시고 진료과에서 안내한 촬영 및 검사를 받으십시오.</p>
            </div>
          </div>
        </section>
        <section class="step">
          <div class="inner">
            <div class="badge">
              <p>Step 05</p>
            </div>
            <div class="title">
              <h3>병동 입원</h3>
              <h4>병동 간호사실</h4>
            </div>
            <div class="description">
              <p>입원결정서에 표기된 병동의 간호사실에 가셔서 병실 안내를 받으십시오.</p>
            </div>
          </div>
        </section>
      </div>
      <p class="bottom-caution"><span>입원수속 시간</span> : 평일 08:30~17:30, 토요일 08:30~12:30<br>
        ※ 야간 · 휴일은 응급실 원무창구에서 24시간 수속합니다</p>
    </section>
  </section>
</template>

<script>
/**
 * @vuese
 * @group 메인-진료안내-입퇴원
 * 설명
 */
export default {
  name: "HospitalizationEnter"
};
</script>

<style scoped>
/* HOSPITALIZATION_ENTER, HOSPITALIZATION_DISCHARGE */
.hospitalization-enter-content{
  /*  clock wise from 12 clock*/
  margin: 20px 98px 100px 102px;
}

.hospitalization-enter-content .box{
  border: solid 1px #979797;
  padding: 60px 0 42px 0;
  box-sizing: border-box;
}

.hospitalization-enter-content .box-step {
  background: linear-gradient(180deg, #e9ecf5 38%, #ffffff 38%);
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: calc(611px - 42px);
  justify-items: center;
}
.hospitalization-enter-content .bottom-caution{
  padding-top: 20px;
  font-family: NotoSansKR;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.64;
  letter-spacing: normal;
  text-align: right;
  color: #ffffff;
}
.hospitalization-enter-content .bottom-caution span{
  font-weight: bold;
}
</style>
