<template>
  <div @click="sendInputSignal">
    <div class="hidden_area" @click="operateHiddenButton"></div>
    <avatar-face :face-type="expression"/>
  </div>
</template>

<script>
import AvatarFace from "@/components/global/AvatarFace";
import {EVENTBUS} from "@/helpers/eventHelper";

export default {
  name: "MonitorPage",
  components: {
    AvatarFace,
  },
  data: function () {
    return {
      clickCount: 0,
    }
  },
  computed: {
    expression: function () {
      return this.$DB.avatar.monitor
    }
  },
  destroyed() {
    // this.$DB.isScreenTouched = false;
  },
  methods: {
    sendInputSignal() {
      EVENTBUS.$emit("send-screen-input")
    },
    incrementClickCount: function () {
      this.clickCount += 1;
      console.log(this.clickCount);
    },
    operateHiddenButton() {
      console.log('ddd')
      // admin 화면에서는 히든버튼 동작 안함
      if (this.$route.fullPath.includes("/admin")) return;
      this.incrementClickCount();
      if (this.clickCount === 5) {
        this.$DB.stopForPageMove = true
        this.$router.push("/admin/front");
        this.clickCount = 0;
      }
    },
  }
};
</script>

<style scoped>
.hidden_area{
  position: absolute;
  left: 710px;
  width: 527px;
  height: 129px;
  /*background-color: red;*/
  z-index: 999;
}
</style>
