<template>
  <section class="body">
    <section class="use-information-list">
      <div
          :class="{ active: isLocationClicked }"
          class="box"
          @click="moveToChildPage(LOCATION_PAGE, 'isLocationClicked')"
      >
        <div class="box__content">
          <h3>건물<br>
            시설 안내</h3>
        </div>
        <div class="box__icon">
          <img src="@/assets/img/use-information-list/first.svg">
        </div>
      </div>

      <div
          :class="{ active: isParkingClicked }"
          class="box"
          @click="moveToChildPage(PARKING_PAGE, 'isParkingClicked')"
      >
        <div class="box__content">
          <h3>주차<br>
            안내</h3>
        </div>
        <div class="box__icon">
          <img src="@/assets/img/use-information-list/second.svg">
        </div>
      </div>

      <div
          :class="{ active: isCertificateClicked }"
          class="box"
          @click="moveToChildPage(CERTIFICATE_PAGE, 'isCertificateClicked')"
      >
        <div class="box__content">
          <h3>제증명<br>
            발급 안내</h3>
        </div>
        <div class="box__icon">
          <img src="@/assets/img/use-information-list/third.svg">
        </div>
      </div>
    </section>
  </section>
</template>

<script>
import moveHelper from "@/helpers/moveHelper";

/**
 * @vuese
 * @group 메인-이용안내
 * 설명
 */
export default {
  name: "UseInformationList",
  data() {
    return {
      // 박스 선택 여부값
      isLocationClicked: false,
      isParkingClicked: false,
      isCertificateClicked: false,

      // 하위 라우터 패스
      LOCATION_PAGE: '/main/use-information/location',
      PARKING_PAGE: '/main/use-information/parking',
      CERTIFICATE_PAGE: '/main/use-information/certificate',
    }
  },
  methods: {
    playSound(sound) {
      if (sound) {
        const audio = new Audio(sound);
        audio.play();
      }
    },
    moveToChildPage(path, status) {
      this.$DB.stopForPageMove = true
      this.playSound('/sound/button_touch_1.wav');
      moveHelper.selectAndDelayMove(path, status, this);
    }
  }
};
</script>

<style scoped>
/* USE_INFORMATION-LIST */
.use-information-list {
  display: grid;
  /* for putting 3rd, 4th box into 3rd column together */
  grid-auto-flow: column;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 720px;
  column-gap: 29px;
  row-gap: 30px;
  /*  clock wise from 12 clock*/
  margin: 100px 98px 0 100px;
}

.use-information-list .box {
  border: solid 1px #979797;
}
.use-information-list .box.active::before {
  content: "";
  display: block;
  width: 535px;
  height: 700px;
  border: solid 10px #6080e8;
  background-color: #e9ecf5;
  border-radius: 30px;
  position: absolute;
  top: -1px;
  left: -1px;
}
.use-information-list .box.active::after {
  content: "";
  display: block;
  position: absolute;
  width: 64px;
  height: 65px;
  top: 40px;
  right: 40px;
  background: url("~@/assets/img/common/check.svg");
  background-size: cover;
}
.use-information-list .box .box__content {
  position: absolute;
  top: 63px;
  left: 56px;
}

.use-information-list .box .box__content h3 {
  font-family: NotoSansKR;
  font-size: 55px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.18;
  letter-spacing: normal;
  color: #2e4388;
}

.use-information-list .box:nth-child(1) .box__icon {
  bottom: 67px;
  right: 69px;
}
.use-information-list .box:nth-child(2) .box__icon {
  bottom: 65px;
  right: 70px;
}
.use-information-list .box:nth-child(3) .box__icon {
  bottom: 75px;
  right: 70px;
}

</style>
