<template>
  <div @click="sendInputSignal">
    <AvatarFace :face-type="expression"/>
  </div>
</template>

<script>

import AvatarFace from "@/components/global/AvatarFace";
import {EVENTBUS, EVENTS} from "@/helpers/eventHelper";
/**
 * @vuese
 * @group 순찰
 * 설명
 */
export default {
  name: "PatrolMove",
  components: {AvatarFace},
  data: function () {
    return {
    }
  },
  computed: {
    expression: function () {
      return this.$DB.avatar.patrol
    }
  },
  methods: {
    sendInputSignal() {
      EVENTBUS.$emit(EVENTS.SEND.SCREEN_INPUT)
    }
  }
};
</script>

<style scoped></style>