<template>
  <section class="body">
    <h2 class="body__title">의상을 선택해주세요</h2>
    <section class="select-costume">
      <div
          v-for="(costume, idx) in costumes"
          :key="idx"
          :ref="`face-${costume.value}`"
          class="box"
          @click="setCostume(`face-${costume.value}`, costume.value)"
      >
        <img :src="costume.imgPath">
      </div>
    </section>
    <button
        id="confirm-btn"
        @click="confirm"
    >확인
    </button>
  </section>
</template>

<script>
import moveHelper from "@/helpers/moveHelper";
import {EVENTBUS, EVENTS} from "@/helpers/eventHelper";

/**
 * @vuese
 * @group 메인-사진찍기
 * 설명
 */
export default {
  name: "SelectCostume",
  props: ['costume'],
  data: function () {
    return {
      selectedCostume: "",
      costumes: [
        {
          value: 'DOCTOR',
          imgPath: "/img/take-picture/ADDY_costume_doctor_f.png"
        },
        {
          value: 'WORKERPANTS',
          imgPath: "/img/take-picture/ADDY_costume_workerpants_f.png"
        },
        {
          value: 'CHECK',
          imgPath: "/img/take-picture/ADDY_costume_check_f.jpg"
        },
        {
          value: 'TUXEDO',
          imgPath: "/img/take-picture/ADDY_costume_tuxedo_black_f.jpg"
        },
      ]
    }
  },
  mounted() {
    // this.$DB.pictureFaceChanged = false;
  },
  methods: {
    playSound(sound) {
      if (sound) {
        const audio = new Audio(sound);
        audio.play();
      }
    },
    confirm(e) {
      if (this.selectedCostume !== '') {
        this.$DB.stopForPageMove = true
        this.playSound('/sound/button_touch_1.wav');
        console.log(e);
        e.target.classList.add('active');
        moveHelper.doAfterDelay(this.goToNextStep);
      }
    },
    goToNextStep() {
      if (this.selectedCostume !== "") {
        this.$DB.stopForPageMove = true
        // @todo 서버에서 shot 화면으로 이동 신호를 주면 그때 라우트 이동하는 걸로 추후 수정해야 함
        this.$router.push('/main/take-picture/shot-avatar');
      }
    },
    addAndRemoveActive(refName) {
      for (const el in this.$refs) {
        this.$refs[el][0].classList.remove('active')
      }
      this.$refs[refName][0].classList.add('active');
    },
    setCostume(refName, str) {
      this.playSound('/sound/button_touch_1-2.wav');
      this.addAndRemoveActive(refName)
      this.selectedCostume = str;
      EVENTBUS.$emit(EVENTS.SEND.AVATAR_COSTUME, this.selectedCostume)
    }
  }
};
</script>

<style scoped>
/* SELECT COSTUME */
.body {
  background: #ffffff;
  /*background: #beceff;*/
  height: 939px;
}

.body .body__title {
  margin-left: -3px;
  font-size: 45px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2e4388;
}

.select-costume {
  display: grid;
  /* for putting 3rd, 4th box into 3rd column together */
  grid-auto-flow: column dense;
  grid-template-columns: repeat(4, 320px);
  grid-template-rows: 589px;
  column-gap: 133px;
  /*  clock wise from 12 clock*/
  margin: 24px 100px 50px 100px;
}

.select-costume .box {
  width: 320px;
  height: 593px;
  border-radius: 30px;
  box-shadow: 0 49px 75px 0 rgba(32, 54, 119, 0.15);
  border: solid 2px #dddddd;
  box-sizing: border-box;
  /*overflow: hidden;*/
}

.box::before {
  box-shadow: none;
}

.select-costume .box img {
  /*width: 100%;*/
  border-radius: 30px;
  height: 589px;
}

.select-costume .box.active::before {
  content: "";
  display: block;
  width: 336px;
  height: 593px;
  border: solid 10px #6080e8;
  border-radius: 30px;
  position: absolute;
  top: -1px;
  left: -2px;
  box-sizing: border-box;
}

.select-costume .box.active::after {
  content: "";
  display: block;
  position: absolute;
  width: 64px;
  height: 65px;
  top: 40px;
  right: 40px;
  background: url("~@/assets/img/common/check.svg");
  background-size: cover;
}

.select-face .box::before {
  box-shadow: none;
}

button#confirm-btn {
  margin-left: 785px;
  padding: 15px 32px;

  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #2e4388;

  width: 350px;
  height: 120px;
  border-radius: 20px;
  border: solid 2px #2e4388;
  background-color: #ffffff;
}

button#confirm-btn.active {
  border-radius: 10px;
  border: solid 2px #6080e8;
  background-color: #6080e8;
  color: #ffffff;
}

button:focus {
  outline: none;
}
</style>
