<template>
  <section class="body">
    <h2 class="body__title">표정을 선택해주세요</h2>
    <section class="select-face">
      <div
          v-for="(face, idx) in faces"
          :key="idx"
          :ref="`face-${face.value}`"
          class="box"
          @click="setFace(`face-${face.value}`, face.value)"
      >
        <img v-if="selectedFace === face.value" :src="face.movingImgPath">
        <img v-else :src="face.staticImgPath">
      </div>
    </section>
    <button
        id="confirm-btn"
        @click="confirm"
    >확인
    </button>
  </section>
</template>

<script>
import moveHelper from "@/helpers/moveHelper";
import {EVENTBUS} from "@/helpers/eventHelper";

/**
 * @vuese
 * @group 메인-사진찍기
 * 설명
 */
export default {
  name: "SelectFace",
  props: ['face'],
  data: function () {
    return {
      selectedFace: "",
      faces: [
        {
          value: 'BASIC',
          movingImgPath: "/img/take-picture/ADDY_Emotion_10_BASIC_ch.gif",
          staticImgPath: "/img/take-picture/3_ADDY_Emotion_10_BASIC_ch.png",
        },
        {
          value: 'SMILE',
          movingImgPath: "/img/take-picture/ADDY_Emotion_12_SMILE_ch.gif",
          staticImgPath: "/img/take-picture/2_ADDY_Emotion_12_SMILE_ch.png",
        },
        {
          value: 'ANGRY',
          movingImgPath: "/img/take-picture/ADDY_Emotion_11_ANGRY_ch.gif",
          staticImgPath: "/img/take-picture/0_ADDY_Emotion_11_ANGRY_ch.png",
        },
        {
          value: 'CHAPLIN',
          movingImgPath: "/img/take-picture/ADDY_Emotion_16_CHAPLIN_ch.gif",
          staticImgPath: "/img/take-picture/5_ADDY_Emotion_16_CHAPLIN_ch.png",
        },
        {
          value: 'SUNGLASSES',
          movingImgPath: "/img/take-picture/ADDY_Emotion_15_SUNGLASSES_ch.gif",
          staticImgPath: "/img/take-picture/9_ADDY_Emotion_27_NC_C_ch.png",
        },
        {
          value: 'SLEEPING2',
          movingImgPath: "/img/take-picture/ADDY_Emotion_18_SLEEPING2_ch.gif",
          staticImgPath: "/img/take-picture/8_ADDY_Emotion_18_SLEEPING2_ch.png",
        },
        {
          value: 'SHINING',
          movingImgPath: "/img/take-picture/ADDY_Emotion_21_SHINING_ch.gif",
          staticImgPath: "/img/take-picture/7_ADDY_Emotion_21_SHINING_ch.png",
        },
        {
          value: 'SHY',
          movingImgPath: "/img/take-picture/ADDY_Emotion_22_SHY_ch.gif",
          staticImgPath: "/img/take-picture/6_ADDY_Emotion_22_SHY_ch.png",
        },
      ]
    }
  },
  methods: {
    playSound(sound) {
      if (sound) {
        const audio = new Audio(sound);
        audio.play();
      }
    },
    confirm(e) {
      if (this.selectedFace !== '') {
        this.$DB.stopForPageMove = true
        this.playSound('/sound/button_touch_1.wav');
        console.log(e)
        e.target.classList.add('active');
        moveHelper.doAfterDelay(this.goToNextStep);
      }
    },
    goToNextStep() {
      if (this.selectedFace !== "") {
        EVENTBUS.$emit("send-avatar-face", this.selectedFace)
        console.log('face: ', this.selectedFace);
        this.$DB.stopForPageMove = true;
        this.$router.push('/main/take-picture/select-dress');
      }
    },
    addAndRemoveActive(refName) {
      for (const el in this.$refs) {
        this.$refs[el][0].classList.remove('active')
      }
      this.$refs[refName][0].classList.add('active');
    },
    setFace(refName, str) {
      this.playSound('/sound/button_touch_1-2.wav');
      this.addAndRemoveActive(refName)
      this.selectedFace = str;
    }
  }
};
</script>

<style scoped>
/* select-face*/
.body {
  background: #ffffff;
  /*background: #beceff;*/
  height: 939px;
}

.body .body__title {
  margin-left: -3px;
  font-size: 45px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2e4388;
}

.select-face {
  /*  clock wise from 12 clock*/
  margin: 24px 100px 60px 100px;
  display: grid;
  /* for putting 3rd, 4th box into 3rd column together */
  grid-auto-flow: row dense;
  grid-template-columns: repeat(4, 410px);
  grid-template-rows: repeat(2, 280px);
  column-gap: 26px;
  row-gap: 20px;
}

.select-face .box.active::before {
  content: "";
  display: block;
  width: 410px;
  height: 280px;
  /*box-shadow: 0 49px 75px 0 rgba(32, 54, 119, 0.5);*/
  /*background-color: rgba(233, 236, 245, 0.5);*/
  border-radius: 30px;
  border: solid 10px #6080e8;
  position: absolute;
  top: -2px;
  left: -2px;
  box-sizing: border-box;
}

.select-face .box.active::after {
  content: "";
  display: block;
  position: absolute;
  width: 44px;
  height: 44px;
  top: 25px;
  right: 26px;
  background: url("~@/assets/img/common/check.svg");
  background-size: cover;
}

.select-face .box {
  /*border: solid 1px #979797;*/
  box-shadow: 0 49px 75px 0 rgba(32, 54, 119, 0.15);
  border: solid 2px #dddddd;
  box-sizing: border-box;
}

.select-face .box::before {
  box-shadow: none;
}

.select-face .box.active {
  background-color: #e9ecf5;
}

.select-face .box img {
  padding-top: 29px;
  padding-left: 60px;
}

button#confirm-btn {
  margin-left: 785px;
  padding: 15px 32px;

  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #2e4388;

  width: 350px;
  height: 120px;
  border-radius: 20px;
  border: solid 2px #2e4388;
  background-color: #ffffff;
}

button#confirm-btn.active {
  border-radius: 10px;
  border: solid 2px #6080e8;
  background-color: #6080e8;
  color: #ffffff;
}

button:focus {
  outline: none;
}
</style>
