<template>
  <div @click="sendInput">
    <AvatarFace :face-type="expression"/>
  </div>
</template>

<script>
import AvatarFace from "@/components/global/AvatarFace";
import {EVENTBUS, EVENTS} from "@/helpers/eventHelper";

/**
 * @vuese
 * @group 메인-사진찍기
 * 설명
 */
export default {
  name: "SelectedAvatar",
  components: {AvatarFace},
  props: ['face', 'costume'],
  data() {
    return {
    }
  },
  created() {
    console.log('shot avatar: ', this.$DB.avatar.picture, this.$DB.avatar.costume);
  },
  mounted() {
    EVENTBUS.$emit(EVENTS.MAIN.COUNTING.STOP)
  },
  methods: {
    sendInput(){
      EVENTBUS.$emit(EVENTS.SEND.SCREEN_INPUT)
    }
  },
  computed: {
    expression: function () {
      return this.$DB.avatar.picture
    }
  },
};
</script>

<style scoped>
.picture {
  font-size: 50px;
  color: #87ceeb;
  margin: 0 auto;
}

p {
  margin-bottom: 100px;
}

.result {
  color: #ffffff;
  font-size: 100px;
}

.next {
  font-size: 30px;
}
</style>
