<template>
  <header>
    <div class="left">
    </div>

    <div class="logo">
      <h3>ADMIN CONSOLE</h3>
    </div>

    <div class="right">
      <div
          v-if="showCloseButton"
          class="btn close"
          @click="close"
      >
        <img
            class="btn__icon"
            src="@/assets/img/header/close-btn.svg"
        />
      </div>
    </div>
  </header>
</template>

<script>
/**
 * @vuese
 * @group 설정
 * 설명
 */
export default {
  name: "AdminHeader",
  computed: {
    showCloseButton() {
      return this.$route.path.includes("admin/setting") || this.$route.path === "/main";
    },
  },
  methods: {
    playSound(sound) {
      if (sound) {
        const audio = new Audio(sound);
        audio.play();
      }
    },
    addAndRemoveActive(el, callback) {
      el.classList.add('active');
      setTimeout(() => {
        el.classList.remove('active');
        callback()
      }, 300)
    },
    close(e) {
      this.playSound('/sound/button_touch_1-1.wav');
      this.addAndRemoveActive(e.srcElement, () => {
        this.$DB.stopForPageMove = true;
        this.$router.push("/admin/front");
      })
    },
  }
};
</script>

<style scoped>

/* HEADER */
header {
  background-color: #ffffff;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 140px;
}

header .left {
  padding-top: 15px;
  padding-left: 50px;
  box-sizing: border-box;
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
}

header .logo {
  display: grid;
  place-items: center;
  padding-top: 3px;
  text-align: center;
}

header .logo h3 {
  color: #3f3f3f;
  font-family: NotoSansKR;
  width: 100%;
  vertical-align: center;
  font-weight: bold;
  font-size: 45px;
  font-stretch: normal;
  font-style: normal;
  line-height: 113px;
}

header .right {
  padding-top: 17px;
  padding-right: 50px;
  box-sizing: border-box;
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
}

header .right .btn {
  padding-left: 20px;
}

/* BTN */
header .btn {
  width: 80px;
  position: relative;
}

header .btn.close {

}

header .btn.close .btn__icon {
  width: 80px;
  height: 100%;
}

header .btn.close .btn__icon.active {
  filter: brightness(1.7);
}
</style>
