<template>
  <div>
    <AdminHeader />
    <router-view></router-view>
  </div>
</template>

<script>
import AdminHeader from "@/views/admin/AdminHeader";

export default {
  name: "AdminIndex",
  components: {AdminHeader},
};
</script>

<style scoped></style>
