<template>
  <section class="body">
    <section class="admin-front">
      <div class="box">
        <div class="box__content">
          <h2>[ 주간 운영 시간 ]</h2>
          <p>{{ daySchedule }}</p>
          <h3>&lt; 이상 체온 기온 &gt;</h3>
          <p>{{ temperature }}</p>
        </div>
      </div>
      <div class="box">
        <div class="box__content">
          <h2>[ 야간 운영 시간 ]</h2>
          <p>{{ nightSchedule }}</p>
          <h3>&lt; 순찰 시나리오 ({{ patrolCount }}회) &gt;</h3>
          <p>{{ patrol }}</p>
        </div>
      </div>
    </section>
    <div class="box__button">
      <button
          class="confirm-btn"
          @click="confirm">확인
      </button>
      <button
          class="confirm-btn"
          @click="moveToSetting">설정
      </button>
    </div>
  </section>
</template>

<script>
import {EVENTBUS, EVENTS, regSaveSettings, disableSaveSettingsEvents} from "@/helpers/eventHelper";

/**
 * @vuese
 * @group 설정
 * 설명
 */
export default {
  name: "AdminFrontPage",
  mounted() {
    regSaveSettings(this);
  },
  beforeDestroy() {
    disableSaveSettingsEvents();
  },
  methods: {
    // @vuese
    confirm(e) {
      this.addAndRemoveActive(e.srcElement, () => {
        EVENTBUS.$emit(EVENTS.SEND.SAVE_SETTINGS)
      })
    },
    moveToSetting(e) {
      this.addAndRemoveActive(e.srcElement, () => {
        this.$DB.stopForPageMove = true;
        this.$router.push("/admin/setting");
      })
    },
    addAndRemoveActive(el, callback) {
      el.classList.add('active');
      setTimeout(() => {
        el.classList.remove('active');
        callback()
      }, 1000)
    },
  },
  computed: {
    setting() {
      return this.$DB.setting
    },
    daySchedule() {
      let str;
      if (this.isDayScheduleDone) {
        const t = this.setting.day.split('-')
        str = `${t[0]} ~ ${t[1]}`
      }
      return str || '스케줄을 설정해주세요';
    },
    nightSchedule() {
      let str;
      if (this.isNightScheduleDone) {
        const t = this.setting.night.split('-')
        str = `${t[0]} ~ ${t[1]}`
      }
      return str || '스케줄을 설정해주세요';
    },
    temperature() {
      let str;
      if (this.isTemperatureDone) {
        const t = this.setting.temp.split('-')
        if (t[0] === 'under') {
          str = `${t[1]}℃ 이하`
        } else if (t[0] === 'over') {
          str = `${t[1]}℃ 이상`
        } else {
          str = `${t[0]}℃ ~ ${t[1]}℃`
        }
      }
      return str || '기준 값을 설정해주세요'
    },
    patrol() {
      let str;
      if (this.isPatrolDone) {
        const t = this.setting.patrol.split('-')
        str = `${t[0] || '-'} / ${t[1] || '-'} / ${t[2] || '-'} / ${t[3] || '-'}`
      }
      return str || '- / - / - / -'
    },
    patrolCount() {
      let count = 0
      if (this.isPatrolDone) {
        this.setting.patrol.split('-').forEach(c => {
          console.log('순찰', c);
          c && count++
        })
      }
      return count
    },
    isDayScheduleDone() {
      return !!this.setting.day;
    },
    isNightScheduleDone() {
      return !!this.setting.night;
    },
    isTemperatureDone() {
      return !!this.setting.temp;
    },
    isPatrolDone() {
      return !!this.setting.patrol;
    },
  }
};
</script>

<style scoped>
/* ADMIN_FRONT */
.admin-front {
  display: grid;
  /* for putting 3rd, 4th box into 3rd column together */
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 560px;
  column-gap: 29px;
  /*  clock wise from 12 clock*/
  margin: 100px 98px 60px 100px;
}

.admin-front .box {
  border: solid 1px #979797;
}

.admin-front .box .box__content {
  text-align: center;
  padding-top: 63px;
}

.admin-front .box .box__content h2 {
  font-family: NotoSansKR;
  font-weight: bold;
  font-size: 55px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  color: #2e4388;
  margin-top: 20px;
}

.admin-front .box .box__content h2 ~ p {
  padding-top: 10px;
  padding-bottom: 20px;
  font-family: NotoSansKR;
  font-weight: 200;
  font-size: 50px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  color: #2e4388;
}

.admin-front .box .box__content h3 {
  font-family: NotoSansKR;
  font-weight: bold;
  font-size: 50px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  color: #2e4388;
  margin-top: 35px;
}

.admin-front .box .box__content h3 ~ p {
  padding-top: 10px;
  font-family: NotoSansKR;
  font-weight: 200;
  font-size: 50px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  color: #2e4388;
}

.box__button {
  margin-left: 595px;
}

button.confirm-btn {
  padding: 15px 32px;
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #2e4388;

  width: 350px;
  height: 120px;
  border-radius: 10px;
  border: solid 2px #2e4388;
  background-color: #ffffff;
}

button.confirm-btn:first-child {
  margin-right: 29px;
}

button.confirm-btn.active {
  border-radius: 10px;
  border: solid 2px #6080e8;
  background-color: #6080e8;
  color: #ffffff;
}

button:focus {
  outline: none;
}
</style>
