<template>
  <div>
    <div class="admin-content">
      <div class="content-bar">
        <h3>Battery</h3>
        <p>현재 배터리 상태</p>
        <h3>{{ batteryStatus }}%</h3>
        <progress id="battery" :value="batteryStatus" max="100"></progress>
      </div>
    </div>
  </div>
</template>

<script>
import {EVENTBUS, EVENTS, prepareBatteryEvents, disableBatteryEvents }from "@/helpers/eventHelper";

/**
 * @vuese
 * @group 설정
 * 설명
 */
export default {
  name: "BatterySetting",
  mounted() {
    prepareBatteryEvents(this);
  },
  beforeDestroy() {
    disableBatteryEvents();
  },
  data() {
    return {
      battery: 0,
      charging: false
    }
  },
  computed: {
    batteryStatus() {
      return this.battery
    }
  },
  methods: {
    dockingStart(e) {
      this.addAndRemoveActive(e.srcElement.parentElement, () => {
        EVENTBUS.$emit(EVENTS.SEND.CHARGING)
      })
    },
    addAndRemoveActive(el, callback) {
      el.classList.add('active');
      setTimeout(() => {
        el.classList.remove('active');
        callback()
      }, 300)
    },
  }
};
</script>

<style scoped>
.content-bar {
  border-bottom: 3px solid #eeeeee;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 65px;
  padding-right: 42px;
  position: relative;
}

.content-bar h2 {
  font-family: NotoSansKR;
  width: 100%;
  vertical-align: center;
  font-weight: bold;
  font-size: 40px;
  font-stretch: normal;
  font-style: normal;
  line-height: 48px;
  color: #212121;
  position: relative;
}

.content-bar h3 {
  font-family: NotoSansKR;
  width: 100%;
  vertical-align: center;
  font-weight: bold;
  font-size: 35px;
  font-stretch: normal;
  font-style: normal;
  line-height: 35px;
  color: #000000;
  position: relative;
}

.content-bar:nth-child(1) p:nth-child(2) {
  width: auto;
  display: inline-block;
}

.content-bar:nth-child(1) h3:nth-child(3) {
  text-align: end;
  width: auto;
}

.content-bar p {
  font-family: NotoSansKR;
  width: 100%;
  vertical-align: center;
  font-weight: bold;
  font-size: 25px;
  font-stretch: normal;
  font-style: normal;
  line-height: 35px;
  color: #696969;
  position: relative;
}

.content-bar progress {
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;
  margin-top: 20px;
  width: 100%;
  height: 17px;
}

.content-bar progress::-webkit-progress-value {
  background-color: #212121;
}

.content-bar progress::-webkit-progress-bar {
  background-color: #eee;
}

.content-bar .docking-btn {
  width: 230px;
  height: 80px;
  border-radius: 50px;
  border: solid 3px #737373;
  position: absolute;
  overflow: hidden;
  bottom: 52px;
  right: 42px;
}

.content-bar .docking-btn p {
  font-family: NotoSansKR;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 80px;
  letter-spacing: normal;
  color: #737373;
  text-align: center;
}

.content-bar .docking-btn.active {
  background-color: #737373;
}

.content-bar .docking-btn.active p {
  color: #ffffff;
}
</style>
