<template>
  <div class="content-bar">
    <div class="frame">
      <div ref="sidebar" class="order">
        <button :class="{ active: selectedNumber === 1 }"
                @click="loadPatrol(1)">1
        </button>
        <button :class="{ active: selectedNumber === 2, deactive: availablePatrolCount < 2 }"
                @click="loadPatrol(2)">2
        </button>
        <button :class="{ active: selectedNumber === 3, deactive: availablePatrolCount < 3 }"
                @click="loadPatrol(3)">3
        </button>
        <button :class="{ active: selectedNumber === 4, deactive: availablePatrolCount < 4 }"
                @click="loadPatrol(4)">4
        </button>
      </div>
      <div :class="{deactive: !currentWillPerform}"
           class="unit">
        <div class="icon" @click="raiseHour">
          <div class="arrow increase"></div>
        </div>
        <p>{{ twoDigitHour }}</p>
        <div class="icon" @click="reduceHour">
          <div class="arrow decrease"></div>
        </div>
      </div>
      <div :class="{deactive: !currentWillPerform}"
           class="unit">
        <div class="icon" @click="raiseMinute">
          <div class="arrow increase"></div>
        </div>
        <p>{{ twoDigitMinutes }}</p>
        <div class="icon" @click="reduceMinute">
          <div class="arrow decrease"></div>
        </div>
      </div>
      <div :class="{deactive: !currentWillPerform}"
           class="unit">
        <div class="icon" @click="togglePeriod">
          <div class="arrow increase"></div>
        </div>
        <p>{{ periodName }}</p>
      </div>
      <div class="perform">
        <p>수행여부</p>
        <input v-model="currentWillPerform" type="checkbox">
      </div>
    </div>
    <h3 class="guide">{{ noticeText }}</h3>
    <div class="box__button">
      <button @click="close">Cancel</button>
      <button ref="saveBtn" @click="saveAndMoveToMonitorPage">Save</button>
    </div>
  </div>
</template>

<script>
import {EVENTBUS, EVENTS} from "@/helpers/eventHelper";

// 24시간형태의 시간과 문자열 상태값을 받아서 29시간의 시간과 불리언 상태를 가지는 클래스
class TimeIn29WithFlag {
  constructor(timeIn24 =[NaN,NaN], flagStr='') {
    console.log('생성 인자', timeIn24[0], timeIn24[1]);
    // 인자로 값을 줬을 때만 내부 변수 생성
    if (!isNaN(timeIn24[1])) {
      [this.hh, this.mm] = this.convert24TimeTo29Time(timeIn24[0], timeIn24[1]);
    }
    if (flagStr) this.flag = flagStr === 'on' ? true : false
  }

  // 둘 중 하나라도 비어있으면 true
  get isEmpty() {
    return this.hh === undefined || this.mm === undefined
  }

  // 시*60 + 분
  get inMinutes() {
    return (this.hh * 60 + this.mm)
  }

  // 29시간을 24시간으로 돌려준다.
  get timeIn24Str() {
    return this.revert29TimeTo24Time(this.hh, this.mm)
  }

  // 불리언을 on off 문자열로 돌려준다.
  get flagStr() {
    return this.flag ? 'on' : 'off'
  }

  // 24시간 표기를 29시간 형식 Number 로 바꾼다 (예. 05:00 => 29:00)
  convert24TimeTo29Time(hour, minutes) {
    console.log('convert24TimeTo29Time hh mm: ', hour, minutes);
    console.log(typeof hour, typeof minutes);
    let adHour, adMinutes
    // 18 ~ 24 => 그대로
    if (Number(hour) >= 18 && Number(hour) <= 24) {
      adHour = Number(hour);
      // 01 ~ 05 => 25 ~ 29
    } else {
      adHour = Number(hour) + 24;
    }
    adMinutes = Number(minutes);
    console.log('before convert :', hour, minutes)
    console.log('after convert :', adHour, adMinutes)
    console.log(typeof adHour, typeof adMinutes);
    return [adHour, adMinutes]
  }

  // 29시간 표기를 24시간으로 바꾼다.
  revert29TimeTo24Time(hour, minutes) {

    function convertHour(calcHour) {
      console.log('before HH', calcHour)
      let HH
      // 24 ~ 29 => 00 ~ 05
      if (calcHour >= 24) {
        HH = '0' + (calcHour - 24);
        // 6 ~ 9 => 06 ~ 09
      } else if (calcHour <= 9) {
        HH = '0' + calcHour;
      } else {
        // 10, 11 => 10, 11
        HH = calcHour;
      }
      if(calcHour === undefined){
        HH = ''
      }
      console.log('after HH', HH)
      return HH
    }

    function convertMinute(calcMinutes) {
      console.log('before HH', calcMinutes)
      let MM
      MM = calcMinutes === 0 ? '00' : calcMinutes
      if(calcMinutes === undefined){
        MM = ''
      }
      console.log('after MM', calcMinutes)

      return MM
    }

    const strIn24 = convertMinute(minutes) ? `${convertHour(hour)}:${convertMinute(minutes)}` : '';

    return strIn24
  }
}

/**
 * @vuese
 * @group 설정
 * 설명
 */
export default {
  name: "PatrolScheduleControl",
  data() {
    return {
      patrolTimesArray: [],
      currentIndex: 0,
      selectedNumber: 1,
      orgPatrol: '',

      nightScheduleLimit: {
        hourIn29: {min: 18, max: 29},
        minutes: {min: 0, max: 59}
      },
      minLimitTimeIn29: new TimeIn29WithFlag(),
      maxLimitTimeIn29: new TimeIn29WithFlag(),

      noticeType: {
        none: -1,
        normal: 0,
        overlap: 1,
        nightIsEmpty: 2,
        outOfNight: 4,
      },
      currentHourNumber: 0,
      currentMinutesNumber: 0,
      currentWillPerformBool: false,

      currentNoticeType: -1,
      timeoutID: 0
    }
  },
  mounted() {
    this.orgPatrol = this.$DB.tempSetting.patrol;
    // this.patrolTimesArray.push(new TimeIn29WithFlag(["00","00"],'off'));
    this.setMaxMinTimeIn29Format();
    this.setPatrolInfoIn29Format(this.$DB.tempSetting.patrol, this.$DB.tempSetting.patrol_flag)
    this.loadPatrol(1)
  },
  beforeDestroy() {
    console.log('오류 결과 배열', this.hasError())
    if (this.hasError()) return

    const patrolStrArr = []
    const flagStrArr = []
    this.patrolTimesArray.forEach((time) => {
      patrolStrArr.push(time.timeIn24Str)
      flagStrArr.push(time.flagStr)
    })
    this.$DB.tempSetting.patrol = patrolStrArr.join('-')
    this.$DB.tempSetting.patrol_flag = flagStrArr.join('-')
    clearTimeout(this.timeoutID)
  },
  computed: {
    currentHour: {
      get() {
        return this.currentHourNumber
      },
      set(calcHour) {
        // 규칙 검사 결과가 최대/최소 범위 벗어남 외의 것이라면 시간을 변경한다.
        const checkRes = this.checkRulesAndSetNotice(calcHour, this.currentMinutesNumber, this.currentWillPerformBool)
        console.log('현재시간 세터', calcHour, checkRes)
        if (checkRes !== this.noticeType.outOfNight) {
          console.log('현재시간 세터', calcHour, checkRes)
          this.patrolTimesArray[this.currentIndex].hh = calcHour
          this.currentHourNumber = calcHour
        }
      }
    },
    currentMinute: {
      get() {
        return this.currentMinutesNumber
      },
      set(calcMinutes) {
        // 규칙 검사 결과가 최대/최소 범위 벗어남 외의 것이라면 시간을 변경한다.
        const checkRes = this.checkRulesAndSetNotice(this.currentHourNumber, calcMinutes, this.currentWillPerformBool)
        if (checkRes !== this.noticeType.outOfNight) {
          this.patrolTimesArray[this.currentIndex].mm = calcMinutes
          this.currentMinutesNumber = calcMinutes
        }
      }
    },
    periodName() {
      if (this.currentHour >= 18 && this.currentHour <= 23) {
        return 'PM';
      } else {
        return 'AM';
      }
    },
    nightTimeGapInHour() {
      const end = this.maxLimitTimeIn29.inMinutes
      const start = this.minLimitTimeIn29.inMinutes
      return Math.floor((end - start) / 60)
    },
    availablePatrolCount() {
      let availableCount

      // 경비 스케줄이 2시간 이내일 경우, 1회
      // 3시간 이내일 경우, 2회
      // 4시간 이내일 경우, 3회
      // 4시간 이상일 경우, 4회
      if (this.nightTimeGapInHour < 2) {
        availableCount = 1
      } else if (this.nightTimeGapInHour < 3) {
        availableCount = 2
      } else if (this.nightTimeGapInHour < 4) {
        availableCount = 3
      } else if (this.nightTimeGapInHour >= 4) {
        availableCount = 4
      }
      return availableCount || 0
    },
    // 수행여부
    currentWillPerform: {
      get() {
        return this.currentWillPerformBool
      },
      set(bool) {
        this.currentWillPerformBool = bool
        this.patrolTimesArray[this.currentIndex].flag = bool

        if (bool) {
          // 현재 시간이 비어있을 경우에만 적절한 초기값을 설정한다
          if (this.patrolTimesArray[this.currentIndex].isEmpty) {
            this.setProperDefaultTime();
          } else {
            this.checkRulesAndSetNotice(this.currentHourNumber, this.currentMinutesNumber, bool)
          }
        } else {
          this.currentNoticeType = this.noticeType.none;
        }
      }
    },
    // 29시간 표기를 12시간 형식으로 바꾸어 string 으로 반환
    twoDigitHour() {
      const number = this.currentHour
      // console.log('시 필터', number)
      // 값이 없으면 아무것도 반환하지 않음
      if (typeof number !== 'number') return

      // 18, 19, 20, 21 => 06, 07, 08, 09
      // 22, 23, 24 => 10, 11, 12
      // 25, 26, 27, 28, 29 => 01, 02, 03, 04, 05
      // string 으로 바꿔서
      let str;
      if (number >= 18 && number <= 21) {
        console.log('1')
        str = '0' + (number - 12);
      } else if (number >= 22 && number <= 23) {
        console.log('2')
        str = (number - 12).toString();
      } else if (number >= 24 && number <= 29) {
        console.log('3')
        str = '0' + (number - 24).toString();
      } else {
        console.log('4')
      }
      return str;
    },
    twoDigitMinutes() {
      const number = this.currentMinute
      // console.log('분 필터', number)
      // 값이 없으면 아무것도 반환하지 않음
      if (typeof number !== 'number') return
      let str;
      if (number === 0) {
        str = '0' + number;
        // console.log(str)
      } else if (number > 0) {
        str = number.toString();
      }
      return str;
    },
    /* =================================
    *        가이드 메시지 조작
    * ================================== */
    noticeText() {
      let noticeText
      switch (this.currentNoticeType) {
        case this.noticeType.normal:
          console.log('notice normal');
          noticeText = `[ ${this.twoDigitHour}:${this.twoDigitMinutes} ${this.periodName} ]에 [순찰 ${this.currentIndex + 1}]을 수행함.`;
          break;
        case this.noticeType.nightIsEmpty:
          noticeText = '! 경비 스케줄을 먼저 설정해주세요 !';
          break;
        case this.noticeType.outOfNight:
          noticeText = '! 경비 스케줄 내에서 선택해주세요 !'
          break;
        case this.noticeType.overlap:
          console.log('notice overlap');
          noticeText = '! 순찰 스케줄이 중복됩니다. 1시간에 1회 이하로 설정해주세요 !';
          break;
        default:
          noticeText = '';
      }
      return noticeText;
    },
  },
  methods: {
    /* =================================
    *          사용될 값 기본 생성
    * ================================== */

    // 순찰시간으로부터 값을 가져와서 시간입력 최대 최소값을 29시간 형식으로 생성한다.
    setMaxMinTimeIn29Format() {
      console.group('최소 최대값 설정')
      const time = this.$DB.tempSetting.night.split('-');
      const startTime = time[0].split(':')
      const endTime = time[1].split(':');

      this.minLimitTimeIn29 = new TimeIn29WithFlag(startTime, '');
      this.maxLimitTimeIn29 = new TimeIn29WithFlag(endTime, '');
      console.groupEnd()
    },
    // 24시간 패트롤 시간과 문자열 플래그를 받아서 29시간 플래그 타입으로 변환된 값의 배열 생성
    setPatrolInfoIn29Format(patrolsStr, flagsStr) {
      console.group('패트롤 문자열을 객체로 전환')
      const patrolArr = patrolsStr.split('-');
      const flagArr = flagsStr.split('-');
      console.log(patrolArr)
      const arr = []
      for (let i = 0; i < 4; i++) {
        arr.push(new TimeIn29WithFlag(patrolArr[i].split(':'), flagArr[i]))
      }
      this.patrolTimesArray = arr;
      console.groupEnd()
    },

    copyTimeObj(obj, hour, minutes) {
      const cobj = new TimeIn29WithFlag();
      cobj.hh = hour ? hour : obj.hh
      cobj.mm = minutes ? minutes : obj.mm
      return cobj;
    },
    // 최소시간을 가진 시간 객체를 반환
    minTimeObj() {
      return this.patrolTimesArray.reduce((minTimeObj, currentObj) => {
            return currentObj.inMinutes < minTimeObj.inMinutes
                ? currentObj : minTimeObj
          }, this.patrolTimesArray[0]
      );
    },
    // 최대시간을 가진 시간 객체를 반환
    maxTimeObj() {
      return this.patrolTimesArray.reduce((maxTimeObj, currentObj) => {
            return currentObj.inMinutes > maxTimeObj.inMinutes
                ? currentObj : maxTimeObj
          }, this.patrolTimesArray[0]
      );
    },
    // 중간시간을 가진 시간 객체를 반환
    // 객체가 3개일 때만 고려한다.
    midTimeObj() {
      const maxObj = this.maxTimeObj
      const minObj = this.minTimeObj
      // 최대/최소 값이랑 같지 않으면 그 객체를 반환
      return this.patrolTimesArray.reduce((midTimeObj, currentObj) => {
            return (currentObj.inMinutes !== minObj.inMinutes || currentObj.inMinutes !== maxObj.inMinutes)
                ? currentObj : midTimeObj
          }, this.patrolTimesArray[0]
      );
    },
    /* =================================
    *         날짜/시간 변환 유틸
    * ================================== */

    setProperDefaultTime() {
      console.group('적절한 기본값 설정하기')
      // 모두 false 이면 true
      const allFlagsOff = this.patrolTimesArray.every((flag) => flag === false)

      const setTo = (timeObj) => {
        console.log('셋투', timeObj)
        this.currentHour = timeObj.hh;
        this.currentMinute = timeObj.mm;
      }
      const calcGap = (large, small) => {
        return (large.inMinutes - small.inMinutes) / 60 >= 2
      }

      // 모든 슬롯이 비활성이면 = 현재 시를 순찰시작시:순찰시작분으로 설정
      if (allFlagsOff) {
        console.log('allFlagsOff')
        setTo(this.minLimitTimeIn29);
        return
      }

      // 슬롯이 하나라도 활성화가 되어 있으면
      if (!allFlagsOff) {
        // 사용될 시간 객체 미리 생성
        const min = this.minTimeObj();
        const max = this.maxTimeObj();
        const mid = this.midTimeObj();
        const minBefore1hr = this.copyTimeObj(min, min.hh - 1);
        const minAfter1hr = this.copyTimeObj(min, min.hh + 1);
        const maxAfter1hr = this.copyTimeObj(max, max.hh + 1);

        // 경우의 수를 미리 구하기
        const startTimeAvailable = !this.isOverlap(this.minLimitTimeIn29)
        const beforeMinAvailable = !this.isOutOfLimit(minBefore1hr) && !this.isOverlap(minBefore1hr)
        const afterMaxAvailable = !this.isOutOfLimit(maxAfter1hr) && !this.isOverlap(maxAfter1hr)
        const maxAndMinHasMoreThan2HourGap = calcGap(max, min)

        let midAfter1hr, isFirstGapEnough, isSecondGapEnough
        // 중간 값이 있을 때만 구하기
        if (mid.hh) {
          midAfter1hr = this.copyTimeObj(mid, mid.hh + 1);
          isFirstGapEnough = calcGap(mid, min)
          isSecondGapEnough = calcGap(max, mid)
        }

        // 순찰 시작시간 가능하면 그걸로 설정
        if (startTimeAvailable) {
          console.log('순찰시작 시:분로 설정')
          setTo(this.minLimitTimeIn29);
          // 기존 시간 중 최소시간보다 한시간 이전이 가능하면 그걸로 설정
        } else if (beforeMinAvailable) {
          console.log('최소-1시간 시:분로 설정')
          setTo(minBefore1hr);
          // 기존 시간 중 최대시간보다 한시간 이후가 가능하면 그걸로 설정
        } else if (afterMaxAvailable) {
          console.log('최대+1시간 시:분로 설정')
          setTo(maxAfter1hr);

          // 슬롯이 3개면 === 기존에 최대/최소값이 있을 경우
        } else if (this.availablePatrolCount === 3) {
          console.log('4개')
          // 최대/최소 시간 중간에 2시간 이상 갭이 있는데
          if (maxAndMinHasMoreThan2HourGap) {
            console.log('최소시간 1시간 후 시:분로 설정')
            setTo(minAfter1hr);
          } else {
            console.log('겹치지 않는 시간 없음')
            this.setNotice(this.noticeType.overlap)
            setTimeout(() => {
              this.currentWillPerform = false
            }, 500)
          }
          // 슬롯이 4개면 === 최대, 중간, 최소값이 있을 경우
        } else if (this.availablePatrolCount === 4) {
          console.log('4개')
          // 중간이 없는, 즉 슬롯은 4개인데 기존 값은 두개 뿐이면
          if (!mid.hh) {
            console.log('flag 2');
            if (maxAndMinHasMoreThan2HourGap) {
              console.log('최소시간 1시간 후 시:분로 설정')
              setTo(minAfter1hr);
            } else {
              console.log('겹치지 않는 시간 없음')
              this.setNotice(this.noticeType.overlap)
              setTimeout(() => {
                this.currentWillPerform = false
              }, 500)
            }
          }
          // 중간이 있는, 즉 값이 세 개가 있으면
          if (mid.hh) {
            console.log('flag 3');
            // 갭1 >= 2 => 중간에 낌
            if (isFirstGapEnough) {
              setTo(minAfter1hr);
              // 갭2 >= 2 => 중간에 낄
            } else if (isSecondGapEnough) {
              setTo(midAfter1hr);
              // else (중간-최소 < 2 && 최대-중간 < 2) => 겹침 에러
            } else {
              console.log('겹치지 않는 시간 없음')
              this.setNotice(this.noticeType.overlap)
              setTimeout(() => {
                this.currentWillPerform = false
              }, 500)
            }
          }
        }
      }
      console.groupEnd();
    },

    loadPatrol(num) {
      // 가능한 개수 이상 스케쥴에는 접근하지 못한다.
      if (num > this.availablePatrolCount) return;
      console.log('배열', this.patrolTimesArray)
      console.log('인덱스', this.currentIndex)
      console.log('객체', this.patrolTimesArray[this.currentIndex])
      this.selectedNumber = num;
      this.currentIndex = num - 1;
      this.currentHourNumber = this.patrolTimesArray[this.currentIndex].hh
      this.currentMinutesNumber = this.patrolTimesArray[this.currentIndex].mm
      this.currentWillPerformBool = this.patrolTimesArray[this.currentIndex].flag
      console.log('패트롤 로드', this.currentHourNumber, this.patrolTimesArray[this.currentIndex].hh)

      // this.refreshGuideMsg();
      this.checkRulesAndSetNotice(this.currentHour, this.currentMinute, this.currentWillPerform)
    },
    // 주어진 시/분으로 규칙을 점검후 메시지를 보여주며 오류 값을 반환한다.
    checkRulesAndSetNotice(currentHour, currentMinute, perform) {
      let res = this.noticeType.none

      console.log('규칙과 경고설정', perform)
      if (!perform) {
        this.setNotice(res)
        return
      }

      const timeObj = new TimeIn29WithFlag()
      timeObj.hh = currentHour;
      timeObj.mm = currentMinute
      // 통과 못하면 갱신 안함
      if (this.isOutOfLimit(timeObj)) {
        res = this.noticeType.outOfNight
      } else if (this.isOverlap(timeObj)) {
        res = this.noticeType.overlap
      } else {
        console.log('그외', currentHour, currentMinute)
        if (currentHour !== undefined && currentMinute !== undefined) {
          res = this.noticeType.normal
        }
      }
      this.setNotice(res)
      return res
    },

    /* =================================
    *           날짜/시간 조작
    * ================================== */

    // 경비 스케줄 범위 내에서 설정 가능 18:00 ~ 29:59
    raiseHour() {
      if (!this.currentWillPerform) return
      // // console.log('시 업', this.currentHour)
      this.currentHour += 1;
    },
    reduceHour() {
      if (!this.currentWillPerform) return
      // // console.log('시 다운', this.currentHour)
      this.currentHour -= 1;
    },
    // 0~50 10씩 증감
    raiseMinute() {
      if (!this.currentWillPerform) return
      // // console.log('분 업', this.currentMinute)
      if (this.currentMinute < 50) {
        this.currentMinute += 10;
      }
    },
    reduceMinute() {
      if (!this.currentWillPerform) return
      // // console.log('분 다', this.currentMinute)
      if (this.currentMinute > 0) {
        this.currentMinute -= 10;
      }
    },

    togglePeriod() {
      if (this.periodName === 'AM') {
        // +12 해서 17보다 커지면 안 바뀌고 에러 메시지
        this.currentHour -= 12;
        // console.log(this.currentHour);
      } else if (this.periodName === 'PM') {
        // -12 해서 6보다 작아지면 안 바뀌고 에러 메시지
        this.currentHour += 12;
        // console.log(this.currentHour);
      }
    },

    /* =================================
    *         값 할당시 조건 체크
    * ================================== */

    // error 1. 경비 스케줄이 세팅되지 않았는지 여부
    checkNightIsEmpty() {
      return this.$DB.tempSetting.night === ""
    }
    ,
    // error 2. 순찰 스케줄이 경비 스케줄 시간 범위를 벗어났는지 여부
    isOutOfLimit(timeObj) {
      const overHour = timeObj.hh < this.minLimitTimeIn29.hh || timeObj.hh > this.maxLimitTimeIn29.hh
      const overMin = timeObj.hh === this.minLimitTimeIn29.hh && timeObj.mm < this.minLimitTimeIn29.mm
      const overMax = timeObj.hh === this.maxLimitTimeIn29.hh && timeObj.mm > this.maxLimitTimeIn29.mm
      // console.log('overHour', overHour, currentHour < this.nightStartHour, currentHour > this.nightEndHour)
      // console.log('overMin', overMin, currentMinute, this.minTimeIn29.mm)
      // console.log('overMax', overMax, currentMinute, this.maxTimeIn29.mm)
      return overHour || overMin || overMax
    }
    ,
    // // 주어진 분이 최대 범위를 벗어났는지 여부
    // checkMinuteIsOurOfLimit(startHour, endHour, currentMinute) {
    //   return startHour === endHour && currentMinute > this.nightScheduleLimit.minutes.max
    // },

    // error 3. 순찰 스케줄간 간격이 겹치는 지 여부 (1시간에 1회만 가능)
    // 분 차이가 60 보다 작으면 true
    isOverlap(timeObj, cidx) {
      const resArr = []
      const currentIdx = cidx ? cidx : this.currentIndex
      this.patrolTimesArray.forEach((timeObjItem, idx) => {
        if (timeObjItem.flag) {
          if (idx === currentIdx) return
          // 시간을 비교한다.
          const gap = timeObjItem.inMinutes - timeObj.inMinutes
          // 앞/뒤로 60분 미만이면 겹침. true 넣기
          resArr.push(gap <= 59 && gap >= -59)
        }
      })
      // 겹치는 게 하나라고 있으면 true 반환
      return resArr.some((bool) => bool === true)
    },

    setNotice(type) {
      this.currentNoticeType = type;
    },

    /* =================================
    *         html 스타일 조작
    * ================================== */

    addAndActive(el, callback) {
      el.classList.add('active');
      setTimeout(() => {
        el.classList.remove('active');
      }, 1000)
      setTimeout(() => {
        callback && callback()
      }, 300)
    },

    /* =================================
    *               취소 저장
    * ================================== */

    close(e) {
      // console.log('취소 되었습니다.');
      this.addAndActive(e.srcElement, () => {
        this.popConfirm('취소 되었습니다.', '확인')
      })
    },

    hasError(){
      let hasError = [];
      this.patrolTimesArray.forEach((time, idx) => {
        if (time.flag) {
          console.log('검사결과', this.isOverlap(time, idx))
          hasError.push(this.isOverlap(time, idx))
        }
      })
      return !hasError.every(num => num === false)
    },
    saveAndMoveToMonitorPage(e) {
      // 설정값에 오류가 있을 경우 동작 안 하고 return
      // 수행여부 체크된 스케줄 forEach => noticeType !== 0 => return
      console.log('오류 결과 배열', this.hasError())
      if (this.hasError()) return

      this.addAndActive(e.srcElement, () => {
        const patrolStrArr = []
        const flagStrArr = []
        this.patrolTimesArray.forEach((time) => {
          patrolStrArr.push(time.timeIn24Str)
          flagStrArr.push(time.flagStr)
        })
        this.$DB.tempSetting.patrol = patrolStrArr.join('-')
        this.$DB.tempSetting.patrol_flag = flagStrArr.join('-')
        this.$DB.setting = Object.assign({}, this.$DB.tempSetting)
        this.popConfirm('적용 되었습니다.', '확인')
      })
    },
    popConfirm(desc, btnTxt) {
      EVENTBUS.$emit(EVENTS.DIALOG.CHANGE_DIALOG_STATUS, {
        modalType: "confirm",
        modalData: {
          isSos: false,
          title: '',
          description: desc,
          closeButtonText: btnTxt,
          confirmAction: () => {
            // 데이터 publish 는 AdminFront 에서 확인버튼 눌렀을 때만 함
            // desc === '적용 되었습니다.' && EVENTBUS.$emit(EVENTS.SEND.SAVE_SETTINGS)
          }
        },
        show: true
      })
      this.timeoutID = setTimeout(() => {
        EVENTBUS.$emit(EVENTS.DIALOG.CHANGE_DIALOG_STATUS, {show: false})
      }, 20000)
    }
    ,
  }
}
;
</script>

<style scoped>
.menu {
  display: flex;
  margin: 0 auto;
  width: 100%;
}

.menu .top {
  font-size: 30px;
  border: 1px solid black;
  padding: 10px 70px;
}

.menu .top.active {
  background: #4CAF50;
}

.frame div:nth-child(4) h3 {
  font-family: NotoSansKR;
  vertical-align: center;
  font-weight: bold;
  font-size: 70px;
  font-stretch: normal;
  font-style: normal;
  line-height: 130px;
  color: #cdcdcd;
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100%;
  top: 30%;
}

.content-bar {
  /*border-bottom: 3px solid #eeeeee;
  padding-top: 60px;*/
  padding-bottom: 60px;
  padding-left: 65px;
  padding-right: 42px;
  position: relative;
  height: 100%;
  height: 941px;
  box-sizing: border-box;
}

.content-bar h2 {
  font-family: NotoSansKR;
  width: 100%;
  vertical-align: center;
  font-weight: bold;
  font-size: 40px;
  font-stretch: normal;
  font-style: normal;
  line-height: 48px;
  color: #212121;
  position: relative;
}

.content-bar h3 {
  font-family: NotoSansKR;
  width: 100%;
  vertical-align: center;
  font-weight: bold;
  font-size: 35px;
  font-stretch: normal;
  font-style: normal;
  line-height: 35px;
  color: #b7b7b7;
  position: relative;
}

.content-bar p {
  font-family: NotoSansKR;
  width: 100%;
  vertical-align: center;
  font-weight: bold;
  font-size: 25px;
  font-stretch: normal;
  font-style: normal;
  line-height: 35px;
  color: #cdcdcd;
  position: relative;
}

.frame {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
}

.frame .order {
  display: grid;
  justify-self: start;
  grid-row-gap: 20px;
  align-items: start;
}

.frame .order button {
  background-color: #b7b7b7;
  height: 80px;
  width: 85px;
  border-radius: 20px;
  font-size: 45px;
}

.frame .order button.active {
  background: #737373;
  color: white;
}

.frame .order button.deactive {
  background: #e5e5e5;
  /*color: #adadad;*/
  color: #e5e5e5;
  border: 1px solid #e5e5e5;
}

.frame .perform {
  justify-self: end;
  align-self: start;
}

.frame .perform p {
  font-size: 35px;
}

.frame .perform input {
  margin-top: 20px;
  height: 46px;
  width: 100%
}

.unit {
  width: 140px;
  display: grid;
  justify-items: center;
  align-content: start;
  position: relative;
}

.unit p {
  display: block;
  font-family: NotoSansKR;
  vertical-align: center;
  font-weight: bold;
  font-size: 85px;
  font-stretch: normal;
  font-style: normal;
  line-height: 130px;
  height: 130px;
  color: #adadad;
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100%;
  border-bottom: 7px solid #cdcdcd;
  margin-bottom: 50px;
}

.unit.active p {
  color: black;
  border-bottom: 7px solid black;
}

.unit.deactive p {
  color: #e5e5e5;
  border-bottom: 7px solid #e5e5e5;
}

.unit:nth-child(2)::after {
  content: ":";
  display: block;
  font-family: NotoSansKR;
  vertical-align: center;
  font-weight: bold;
  font-size: 70px;
  font-stretch: normal;
  font-style: normal;
  line-height: 130px;
  color: #cdcdcd;
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100%;

  position: absolute;
  top: 25%;
  left: 130px
}

.unit.active:nth-child(1)::after,
.unit.active:nth-child(5)::after {
  color: black;
}

/*.unit .deactive {
  color: #e5e5e5;
  border-bottom: 5px solid #e5e5e5;
}*/

.unit .icon {
  border: 1px solid #cdcdcd;
  border-radius: 20px;
  width: 140px;
  height: 80px;
  cursor: pointer;
  padding-top: 20px;
}

.unit.active .icon {
  border: 1px solid #3f3f3f;
}

.unit.deactive .icon {
  border: 1px solid #e5e5e5;
}

.unit .arrow.increase {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;

  border-bottom: 50px solid #adadad;
  margin: 0 auto;
}

.unit.active .arrow.increase {
  border-bottom: 50px solid black;
}

.unit.deactive .arrow.increase {
  border-bottom: 50px solid #e5e5e5;
}

.unit .arrow.decrease {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;

  border-top: 50px solid #adadad;
  margin: 0 auto;
}

.unit.active .arrow.decrease {
  border-top: 50px solid black;
}

.unit.deactive .arrow.decrease {
  border-top: 50px solid #e5e5e5;
}

.content-bar .guide {
  margin-top: 40px;
  text-align: center;
  color: black;
  height: 70px;
  line-height: 70px;
  background-color: #a0a0a0;
}

.box__button {
  position: absolute;
  bottom: -78px;
  right: 241px;
}

.box__button button {
  background-color: white; /* Green */
  border: 1px solid #878079;
  border-radius: 80px;
  color: #878079;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  width: 430px;
  height: 110px;
  margin-left: 50px;
}

.box__button button.active {
  background-color: #737373;
  color: white;
}

button:focus {
  outline: none;
}
</style>
