<template>
  <div class="admin-content">
    <div class="content-bar">
      <h3>스케줄 설정</h3>
      <p>시나리오별 스케줄을 설정할 수 있습니다.</p>
      <div class="menu">
        <div
            :class="{ active: settingItem === 'guide' }"
            class="top"
            @click="onClickGuide"
        >안내 스케줄
        </div>
        <div
            :class="{ active: settingItem === 'security' }"
            class="top"
            @click="onClickSecurity"
        >경비 스케줄
        </div>
        <div
            :class="{ active: settingItem === 'patrol' }"
            class="top"
            @click="onClickPatrol"
        >순찰 스케줄
        </div>
      </div>
    </div>
    <GuideScheduleControl v-if="settingItem === 'guide'"/>
    <SecurityScheduleControl v-if="settingItem === 'security'"/>
    <PatrolScheduleControl v-if="settingItem === 'patrol'"/>
  </div>
</template>

<script>
import GuideScheduleControl from "@/views/admin/GuideScheduleControl";
import PatrolScheduleControl from "@/views/admin/PatrolScheduleControl";
import SecurityScheduleControl from "@/views/admin/SecurityScheduleControl";

/**
 * @vuese
 * @group 설정
 * 설명
 */
export default {
  name: "ScheduleSetting",
  components: {SecurityScheduleControl, PatrolScheduleControl, GuideScheduleControl},
  data() {
    return {
      settingItem: 'guide',
      isModifyMode: false,
    }
  },
  computed: {},
  methods: {
    playSound(sound) {
      if (sound) {
        const audio = new Audio(sound);
        audio.play();
      }
    },
    onClickGuide() {
      this.playSound('/sound/button_touch_1-1.wav');
      this.settingItem = 'guide';
    },
    onClickSecurity() {
      this.playSound('/sound/button_touch_1-1.wav');
      this.settingItem = 'security';
    },
    onClickPatrol() {
      this.playSound('/sound/button_touch_1-1.wav');
      this.settingItem = 'patrol';
    },
  }
};
</script>

<style scoped>
.menu {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  text-align: center;
}

.menu .top {
  font-size: 30px;
  border: 1px solid black;
  padding: 10px 70px;
}

.menu .top.active {
  background: #737373;
  color: #ffffff;
}

.content-bar {
  /*border-bottom: 3px solid #eeeeee;*/
  padding-top: 60px;
  /*padding-bottom: 60px;*/
  padding-left: 65px;
  padding-right: 42px;
  position: relative;
  height: 100%;
  /*height: 941px;*/
  box-sizing: border-box;
}

.content-bar h2 {
  font-family: NotoSansKR;
  width: 100%;
  vertical-align: center;
  font-weight: bold;
  font-size: 40px;
  font-stretch: normal;
  font-style: normal;
  line-height: 48px;
  color: #212121;
  position: relative;
}

.content-bar h3 {
  font-family: NotoSansKR;
  width: 100%;
  vertical-align: center;
  font-weight: bold;
  font-size: 35px;
  font-stretch: normal;
  font-style: normal;
  line-height: 35px;
  color: #000000;
  position: relative;
}

.content-bar p {
  font-family: NotoSansKR;
  width: 100%;
  vertical-align: center;
  font-weight: bold;
  font-size: 25px;
  font-stretch: normal;
  font-style: normal;
  line-height: 35px;
  color: #696969;
  position: relative;
}
</style>
