<template>
  <div class="content-bar">
    <div class="frame">
      <div
          :class="{ active: activeUnit === 'startHourUnit' }"
          class="unit"
          @click="setActiveClass('startHourUnit')"
      >
        <div class="icon" @click="raiseHour('start')">
          <div class="arrow increase"></div>
        </div>
        <p>{{ startHourStr }}</p>
        <div class="icon" @click="reduceHour('start')">
          <div class="arrow decrease"></div>
        </div>
      </div>
      <div
          :class="{ active: activeUnit === 'startMinuteUnit' }"
          class="unit"
          @click="setActiveClass('startMinuteUnit')"
      >
        <div class="icon" @click="raiseMinute('start')">
          <div class="arrow increase"></div>
        </div>
        <p>{{ startMinuteStr }}</p>
        <div class="icon" @click="reduceMinute('start')">
          <div class="arrow decrease"></div>
        </div>
      </div>
      <div
          :class="{ active: activeUnit === 'startPeriodUnit' }"
          class="unit"
          @click="setActiveClass('startPeriodUnit')"
      >
        <div class="icon" @click="togglePeriod('start')">
          <div class="arrow increase"></div>
        </div>
        <p>{{ startPeriodName }}</p>
      </div>

      <div><h3>~</h3></div>

      <div
          :class="{ active: activeUnit === 'endHourUnit' }"
          class="unit"
          @click="setActiveClass('endHourUnit')"
      >
        <div class="icon" @click="raiseHour('end')">
          <div class="arrow increase"></div>
        </div>
        <p>{{ endHourStr }}</p>
        <div class="icon" @click="reduceHour('end')">
          <div class="arrow decrease"></div>
        </div>
      </div>
      <div
          :class="{ active: activeUnit === 'endMinuteUnit' }"
          class="unit"
          @click="setActiveClass('endMinuteUnit')"
      >
        <div class="icon" @click="raiseMinute('end')">
          <div class="arrow increase"></div>
        </div>
        <p>{{ endMinuteStr }}</p>
        <div class="icon" @click="reduceMinute('end')">
          <div class="arrow decrease"></div>
        </div>
      </div>
      <div
          :class="{ active: activeUnit === 'endPeriodUnit' }"
          class="unit"
          @click="setActiveClass('endPeriodUnit')"
      >
        <div class="icon" @click="togglePeriod('end')">
          <div class="arrow increase"></div>
        </div>
        <p>{{ endPeriodName }}</p>
      </div>
    </div>
    <h3 class="guide">{{ noticeText }}</h3>
    <div class="box__button">
      <button @click="close">Cancel</button>
      <button @click="saveAndMoveToMonitorPage">Save</button>
    </div>
  </div>
</template>

<script>
import {EVENTBUS, EVENTS} from "@/helpers/eventHelper";

/**
 * @vuese
 * @group 설정
 * 설명
 */
export default {
  name: "SecurityScheduleControl",
  data() {
    return {
      activeUnit: '',

      startHour: 0,
      startMinute: 0,
      endHour: 0,
      endMinute: 0,

      nightSchedule: '',
      // 경비 스케줄은 18:00 ~ 05:59 범위 내에서 설정 가능
      nightScheduleLimit: {
        hour: {min: 18, max: 29},
        minutes: {min: 0, max: 59}
      },

      noticeType: {
        normal: 0,
        outOfLimit: 1,
        over24: 2,
        reversed: 3,
        duplicateWithNightSchedule: 4
      },
      noticeText: '',
      patrol: "---",
      patrol_flag: "---",

      timeoutID: 0
    }
  },
  mounted() {
    this.patrol = this.$DB.tempSetting.patrol
    this.patrol_flag = this.$DB.tempSetting.patrol_flag
    this.nightSchedule = this.$DB.tempSetting.night;
    this.setDefaultSchedule();
    this.setNotice(this.noticeType.normal);
  },
  beforeDestroy() {
    this.$DB.tempSetting.night = this.nightSchedule;
    clearTimeout(this.timeoutID)
  },
  computed: {
    startHourStr: {
      get() {
        // 18, 19, 20, 21 => 06, 07, 08, 09
        // 22, 23, 24 => 10, 11, 12
        // 25, 26, 27, 28, 29 => 01, 02, 03, 04, 05
        // string 으로 바꿔서
        let str;
        if (this.startHour >= 18 && this.startHour <= 21) {
          str = '0' + (this.startHour - 12);
        } else if (this.startHour >= 22 && this.startHour <= 23) {
          str = (this.startHour - 12).toString();
        } else if (this.startHour >= 24 && this.startHour <= 29) {
          str = '0' + (this.startHour - 24).toString();
        } else {
          str = '00';
        }
        return str;
      },
      set(input) {
        // 미리 계산
        const calcHour = input

        // 미리 계산한 시간으로 모든 조건을 통과하지 못하면
        // 주의, 분 계산할 때는 꼭 시간까지 고려해야함.
        const failed = this.checkHourIsOutOfLimit(calcHour)
            || this.checkMinuteIsOurOfLimit(calcHour, this.endHour, this.startMinute)
            || this.checkStarAndEndIS24Hour(calcHour, this.endHour, this.startMinute, this.endMinute)
            || this.checkStarAndEndIsReversed(calcHour, this.endHour, this.startMinute, this.endMinute)

        if (this.checkHourIsOutOfLimit(calcHour)) {
          this.setNotice(this.noticeType.outOfLimit)
        } else if (this.checkMinuteIsOurOfLimit(calcHour, this.endHour, this.startMinute)) {
          this.setNotice(this.noticeType.outOfLimit)
        } else if (this.checkStarAndEndIS24Hour(calcHour, this.endHour, this.startMinute, this.endMinute)) {
          this.setNotice(this.noticeType.over24)
        } else if (this.checkStarAndEndIsReversed(calcHour, this.endHour, this.startMinute, this.endMinute)) {
          this.setNotice(this.noticeType.reversed)
        }

        // 조건 실패 안 할 때만 시간을 갱신
        if (failed) return
        this.startHour = calcHour;
        this.holdChangedValue();
        this.setNotice(this.noticeType.normal)

        // 경비 스케쥴 변경 시 순찰 스케쥴 초기화
        this.resetPatrolSchedule();
      }
    },
    startMinuteStr: {
      get() {
        let str;
        if (this.startMinute === 0) {
          // 0 분
          str = '0' + this.startMinute;
        } else if (this.startMinute > 0) {
          // 10, 20 ~ 50 분
          str = this.startMinute.toString();
        }
        return str;
      },
      set(input) {
        // 미리 계산
        const calcMinutes = input

        // 미리 계산한 시간으로 모든 조건을 통과하지 못하면
        // 주의, 분 계산할 때는 꼭 시간까지 고려해야함.
        const failed = this.checkHourIsOutOfLimit(this.startHour)
            || this.checkMinuteIsOurOfLimit(this.startHour, this.endHour, calcMinutes)
            || this.checkStarAndEndIS24Hour(this.startHour, this.endHour, calcMinutes, this.endMinute)
            || this.checkStarAndEndIsReversed(this.startHour, this.endHour, calcMinutes, this.endMinute)

        if (this.checkHourIsOutOfLimit(this.startHour)) {
          this.setNotice(this.noticeType.outOfLimit)
        } else if (this.checkMinuteIsOurOfLimit(this.startHour, this.endHour, calcMinutes)) {
          this.setNotice(this.noticeType.outOfLimit)
        } else if (this.checkStarAndEndIS24Hour(this.startHour, this.endHour, calcMinutes, this.endMinute)) {
          this.setNotice(this.noticeType.over24)
        } else if (this.checkStarAndEndIsReversed(this.startHour, this.endHour, calcMinutes, this.endMinute)) {
          this.setNotice(this.noticeType.reversed)
        }

        // 조건 실패 안 할 때만 시간을 갱신
        if (failed) return
        this.startMinute = calcMinutes;
        this.holdChangedValue();
        this.setNotice(this.noticeType.normal)

        // 경비 스케쥴 변경 시 순찰 스케쥴 초기화
        this.resetPatrolSchedule();
      }
    },
    endHourStr: {
      get() {
        // 18, 19, 20, 21 => 06, 07, 08, 09
        // 22, 23, 24 => 10, 11, 12
        // 25, 26, 27, 28, 29 => 01, 02, 03, 04, 05
        // string 으로 바꿔서
        let str;
        if (this.endHour >= 18 && this.endHour <= 21) {
          str = '0' + (this.endHour - 12);
        } else if (this.endHour >= 22 && this.endHour <= 23) {
          str = (this.endHour - 12).toString();
        } else if (this.endHour >= 24 && this.endHour <= 29) {
          str = '0' + (this.endHour - 24).toString();
        } else {
          str = '00';
        }
        return str;
      },
      set(input) {
        // 미리 계산
        const calcHour = input

        // 미리 계산한 시간으로 모든 조건을 통과하지 못하면
        // 주의, 분 계산할 때는 꼭 시간까지 고려해야함.
        const failed = this.checkHourIsOutOfLimit(calcHour)
            || this.checkMinuteIsOurOfLimit(this.startHour, calcHour, this.startMinute)
            || this.checkStarAndEndIS24Hour(this.startHour, calcHour, this.startMinute, this.endMinute)
            || this.checkStarAndEndIsReversed(this.startHour, calcHour, this.startMinute, this.endMinute)

        if (this.checkHourIsOutOfLimit(calcHour)) {
          this.setNotice(this.noticeType.outOfLimit)
        } else if (this.checkMinuteIsOurOfLimit(this.startHour, calcHour, this.startMinute)) {
          this.setNotice(this.noticeType.outOfLimit)
        } else if (this.checkStarAndEndIS24Hour(this.startHour, calcHour, this.startMinute, this.endMinute)) {
          this.setNotice(this.noticeType.over24)
        } else if (this.checkStarAndEndIsReversed(this.startHour, calcHour, this.startMinute, this.endMinute)) {
          this.setNotice(this.noticeType.reversed)
        }

        // 조건 실패 안 할 때만 시간을 갱신
        if (failed) return
        this.endHour = calcHour;
        this.holdChangedValue();
        this.setNotice(this.noticeType.normal)

        // 경비 스케쥴 변경 시 순찰 스케쥴 초기화
        this.resetPatrolSchedule();
      }
    },
    endMinuteStr: {
      get() {
        let str;
        if (this.endMinute === 0) {
          // 0 분
          str = '0' + this.endMinute;
        } else if (this.endMinute > 0) {
          // 10, 20 ~ 50 분
          str = this.endMinute.toString();
        }
        return str;
      },
      set(input) {
        // 미리 계산
        const calcMinutes = input

        // 미리 계산한 시간으로 모든 조건을 통과하지 못하면
        // 주의, 분 계산할 때는 꼭 시간까지 고려해야함.
        const failed = this.checkHourIsOutOfLimit(this.startHour)
            || this.checkMinuteIsOurOfLimit(this.startHour, this.endHour, this.startMinute)
            || this.checkStarAndEndIS24Hour(this.startHour, this.endHour, this.startMinute, calcMinutes)
            || this.checkStarAndEndIsReversed(this.startHour, this.endHour, this.startMinute, calcMinutes)

        if (this.checkHourIsOutOfLimit(this.startHour)) {
          this.setNotice(this.noticeType.outOfLimit)
        } else if (this.checkMinuteIsOurOfLimit(this.startHour, this.endHour, this.startMinute)) {
          this.setNotice(this.noticeType.outOfLimit)
        } else if (this.checkStarAndEndIS24Hour(this.startHour, this.endHour, this.startMinute, calcMinutes)) {
          this.setNotice(this.noticeType.over24)
        } else if (this.checkStarAndEndIsReversed(this.startHour, this.endHour, this.startMinute, calcMinutes)) {
          this.setNotice(this.noticeType.reversed)
        }

        // 조건 실패 안 할 때만 시간을 갱신
        if (failed) return
        this.endMinute = calcMinutes;
        this.holdChangedValue();
        this.setNotice(this.noticeType.normal)

        // 경비 스케쥴 변경 시 순찰 스케쥴 초기화
        this.resetPatrolSchedule();
      }
    },
    // night 스케줄은 18 ~ 23 시 PM, 24 ~ 29 시 AM
    startPeriodName() {
      if (this.startHour > 17 && this.startHour < 24) {
        return 'PM';
      } else {
        return 'AM';
      }
    },
    endPeriodName() {
      if (this.endHour > 17 && this.endHour < 24) {
        return 'PM';
      } else {
        return 'AM';
      }
    },
  },
  methods: {
    /* =================================
    *          사용될 값 기본 생성
    * ================================== */

    // DB에 저장된 기존 스케줄을 가져와 기본값으로 세팅
    setDefaultSchedule() {
      const time = this.nightSchedule.split('-');
      console.log('time: ', time);
      const startTime = time[0].split(':')
      console.log('startTime', startTime);
      const endTime = time[1].split(':');
      console.log('endTime', endTime);

      if (Number(startTime[0]) >= 18 && Number(startTime[0]) < 24) {
        this.startHour = Number(startTime[0]);
      } else {
        this.startHour = Number(startTime[0]) + 24;
      }
      console.log('s HH', this.startHour);
      this.startMinute = Number(startTime[1]);
      if (Number(endTime[0]) >= 18 && Number(endTime[0]) < 24) {
        this.endHour = Number(endTime[0]);
      } else {
        this.endHour = Number(endTime[0]) + 24;
      }
      console.log('e HH', this.endHour);
      this.endMinute = Number(endTime[1]);
    },
    // 버튼 클릭 시, 해당 unit 에 active 클래스 적용
    setActiveClass(unit) {
      this.activeUnit = unit;
    },
    playSound(sound) {
      if (sound) {
        const audio = new Audio(sound);
        audio.play();
      }
    },

    /* =================================
    *         값 할당시 조건 체크
    * ================================== */


    // 주어진 시간이 최대/최소 범위를 벗어났는지 여부
    checkHourIsOutOfLimit(currentHour) {
      return currentHour < this.nightScheduleLimit.hour.min
          || currentHour > (this.nightScheduleLimit.hour.max)
    },
    // 주어진 분이 최대 범위를 벗어났는지 여부
    checkMinuteIsOurOfLimit(startHour, endHour, currentMinute) {
      return startHour === endHour && currentMinute > this.nightScheduleLimit.minutes.max
    },
    checkStarAndEndIS24Hour(startHour, endHour, startMinute, endMinute) {
      return startHour === endHour && startMinute === endMinute
    },
    // 낮 스케쥴을 무조건 시작 시간이 더 작아야함. 즉 역배면 안 됨
    checkStarAndEndIsReversed(startHour, endHour, startMinute, endMinute) {
      const hourReversed = startHour > endHour
      const minutesReversed = startHour === endHour && (startMinute > endMinute)
      // 시간이 역배
      // 17:00 18:00
      // 시간은 정배여도, 분이 역배인 경우도 생각해야함.
      // 17:30 17:45
      return hourReversed || minutesReversed
    },

    setNotice(type) {
      switch (type) {
        case this.noticeType.normal:
          this.noticeText = `[ ${this.startHourStr}:${this.startMinuteStr} ${this.startPeriodName} ~ ${this.endHourStr}:${this.endMinuteStr} ${this.endPeriodName} ]에 '경비 시나리오'를 수행함.`;
          break;
        case this.noticeType.outOfLimit:
          this.noticeText = '입력가능한 최대/최소 벗어났습니다.'
          break;
          // error 1. 설정된 스케줄 범위가 24시간이 넘을 경우
        case this.noticeType.over24:
          this.noticeText = '! 스케줄 설정은 24시간을 넘을 수 없습니다 !';
          break;
          // error 2. 시작시각이 종료시각보다 후속 시간일 경우
          // error 3. 종료시각이 시작시각보다 선행 시간일 경우
          // 시작 시 > 종료 시
          // 시간은 같고, 시작 분 > 종료 분
        case this.noticeType.reversed:
          this.noticeText = '! 시작 스케줄은 종료 스케줄보다 앞설 수 없습니다 !';
          break;
          // @todo error 4. 안내 스케줄과 경비 스케줄 일정이 겹치는 경우 -> 타스케줄과 일정이 중복됩니다
        case this.noticeType.duplicateWithNightSchedule:
          this.noticeText = '! 경비 스케쥴과 시간이 겹칩니다. !';
          break;
      }
    },

    /* =================================
    *           날짜/시간 조작
    * ================================== */

    raiseHour(hour) {
      this.playSound('/sound/button_touch_1-1.wav');
      switch (hour) {
        case 'start':
          this.startHourStr = this.startHour + 1;
          break;
        case 'end':
          this.endHourStr = this.endHour + 1;
          break;
      }
    },
    reduceHour(hour) {
      this.playSound('/sound/button_touch_1-1.wav');
      switch (hour) {
        case 'start':
          this.startHourStr = this.startHour - 1;
          break;
        case 'end':
          this.endHourStr = this.endHour - 1;
          break;
      }
    },
    // 분 조절, 0 ~ 50 10씩 증감
    raiseMinute(minute) {
      this.playSound('/sound/button_touch_1-1.wav');
      switch (minute) {
        case 'start':
          if (this.startMinute < 50) {
            this.startMinuteStr = this.startMinute + 10;
          }
          break;
        case 'end':
          if (this.endMinute < 50) {
            this.endMinuteStr = this.endMinute + 10;
          }
          break;
      }
    },
    reduceMinute(minute) {
      this.playSound('/sound/button_touch_1-1.wav');
      switch (minute) {
        case 'start':
          if (this.startMinute > 0) {
            this.startMinuteStr = this.startMinute - 10;
          }
          break;
        case 'end':
          if (this.endMinute > 0) {
            this.endMinuteStr = this.endMinute - 10;
          }
          break;
      }
    },
    holdChangedValue() {
      // 시가 9 이하이면 앞에 '0' 붙여줘야 함
      // 시가 24 이상이면 -24 하고, 앞에 '0'붙여줘야 함
      // 분이 0 이면 '00' 으로 바꿔줘야 함
      let startHH = '';
      let startMM = '';
      let endHH = '';
      let endMM = '';
      if (this.startHour >= 24) {
        startHH = '0' + (this.startHour - 24);
      } else if (this.startHour <= 9) {
        startHH = '0' + this.startHour;
      } else {
        startHH = this.startHour;
      }
      if (this.startMinute === 0) {
        startMM = '00';
      } else {
        startMM = this.startMinute;
      }
      if (this.endHour >= 24) {
        endHH = '0' + (this.endHour - 24);
      } else if (this.endHour <= 9) {
        endHH = '0' + this.endHour;
      } else {
        endHH = this.endHour;
      }
      if (this.endMinute === 0) {
        endMM = '00';
      } else {
        endMM = this.endMinute;
      }
      this.nightSchedule = `${startHH}:${startMM}-${endHH}:${endMM}`;
      console.log('nightSchedule', this.nightSchedule);
    },
    // AM/PM 변경 버튼 클릭 시, +/- 12시간 계산
    togglePeriod(period) {
      this.playSound('/sound/button_touch_1-1.wav');
      switch (period) {
        case 'start':
          if (this.startPeriodName === 'AM') {
            this.startHourStr += 12;
            console.log('start H str', this.startHourStr);
          } else if (this.startPeriodName === 'PM') {
            this.startHourStr -= 12;
            console.log('start H str', this.startHourStr);
          }
          break;
        case 'end':
          if (this.endPeriodName === 'AM') {
            this.endHourStr += 12;
            console.log('end HH str', this.endHourStr);
          } else if (this.endPeriodName === 'PM') {
            this.endHourStr -= 12;
            console.log('end HH str', this.endHourStr);
          }
          break;
      }
    },

    // 경비 스케줄 시나리오 스케줄 선택 시, 안내 스케줄 값 자동 변경
    // 경비스케줄을 설정을 변경할 경우, 순찰 스케줄 데이터 모두 삭제(디폴트 값 없음/수행여부도 체크되지 않음)
    resetPatrolSchedule() {
      this.$DB.tempSetting.patrol = "---"
      this.$DB.tempSetting.patrol_flag = "off-off-off-off"
    },

    /* =================================
    *         html 스타일 조작
    * ================================== */

    addAndActive(el, callback) {
      el.classList.add('active');
      setTimeout(() => {
        callback && callback()
        el.classList.remove('active');
      }, 300)
    },

    /* =================================
    *               취소 저장
    * ================================== */
    close(e) {
      console.log('취소 되었습니다.');
      this.addAndActive(e.srcElement, () => {
        this.popConfirm('취소 되었습니다.', '확인')
      })
    },
    saveAndMoveToMonitorPage(e) {
      this.addAndActive(e.srcElement, () => {
        this.$DB.tempSetting.night = this.nightSchedule
        this.$DB.setting = Object.assign({}, this.$DB.tempSetting)
        this.popConfirm('적용 되었습니다.', '확인')
        console.log('db setting updated: ', this.$DB.settingUpdated);
      })
    },
    popConfirm(desc, btnTxt) {
      EVENTBUS.$emit(EVENTS.DIALOG.CHANGE_DIALOG_STATUS, {
        modalType: "confirm",
        modalData: {
          isSos: false,
          title: '',
          description: desc,
          closeButtonText: btnTxt,
          confirmAction: () => {
            // 데이터 publish 는 AdminFront 에서 확인버튼 눌렀을 때만 함
            // desc === '적용 되었습니다.' && EVENTBUS.$emit(EVENTS.SEND.SAVE_SETTINGS)
          }
        },
        show: true
      })
      clearTimeout(this.timeoutID)
      this.timeoutID = setTimeout(()=>{
        EVENTBUS.$emit(EVENTS.DIALOG.CHANGE_DIALOG_STATUS, {show: false})
      },20000)
    },
  }
};
</script>

<style scoped>
.menu {
  display: flex;
  margin: 0 auto;
  width: 100%;
}

.menu .top {
  font-size: 30px;
  border: 1px solid black;
  padding: 10px 70px;
}

.menu .top.active {
  background: #4CAF50;
}

.frame div:nth-child(4) h3 {
  font-family: NotoSansKR;
  vertical-align: center;
  font-weight: bold;
  font-size: 70px;
  font-stretch: normal;
  font-style: normal;
  line-height: 130px;
  color: #cdcdcd;
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100%;
  top: 30%;
}

.content-bar {
  /*border-bottom: 3px solid #eeeeee;
  padding-top: 60px;*/
  padding-bottom: 60px;
  padding-left: 65px;
  padding-right: 42px;
  position: relative;
  height: 100%;
  height: 941px;
  box-sizing: border-box;
}

.content-bar h2 {
  font-family: NotoSansKR;
  width: 100%;
  vertical-align: center;
  font-weight: bold;
  font-size: 40px;
  font-stretch: normal;
  font-style: normal;
  line-height: 48px;
  color: #212121;
  position: relative;
}

.content-bar h3 {
  font-family: NotoSansKR;
  width: 100%;
  vertical-align: center;
  font-weight: bold;
  font-size: 35px;
  font-stretch: normal;
  font-style: normal;
  line-height: 35px;
  color: #b7b7b7;
  position: relative;
}

.content-bar p {
  font-family: NotoSansKR;
  width: 100%;
  vertical-align: center;
  font-weight: bold;
  font-size: 25px;
  font-stretch: normal;
  font-style: normal;
  line-height: 35px;
  color: #cdcdcd;
  position: relative;
}


.frame {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 1fr .5fr 1fr 1fr 1fr;
  justify-items: center;
}

.unit {
  width: 140px;
  display: grid;
  justify-items: center;
  align-content: start;
  position: relative;
}

.unit p {
  display: block;
  font-family: NotoSansKR;
  vertical-align: center;
  font-weight: bold;
  font-size: 85px;
  font-stretch: normal;
  font-style: normal;
  line-height: 130px;
  color: #adadad;
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100%;
  border-bottom: 7px solid #cdcdcd;
  margin-bottom: 50px;
}

.unit.active p {
  color: black;
  border-bottom: 7px solid black;
}

.unit:nth-child(1)::after,
.unit:nth-child(5)::after {
  content: ":";
  display: block;
  font-family: NotoSansKR;
  vertical-align: center;
  font-weight: bold;
  font-size: 70px;
  font-stretch: normal;
  font-style: normal;
  line-height: 130px;
  color: #cdcdcd;
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100%;

  position: absolute;
  top: 25%;
  left: 110px
}

.unit.active:nth-child(1)::after,
.unit.active:nth-child(5)::after {
  color: black;
}

.unit .deactive {
  color: #e5e5e5;
  border-bottom: 5px solid #e5e5e5;
}

.unit .icon {
  border: 1px solid #cdcdcd;
  border-radius: 20px;
  width: 140px;
  height: 80px;
  cursor: pointer;
  padding-top: 20px;
}

.unit.active .icon {
  border: 1px solid #3f3f3f;
}

.unit .arrow.increase {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;

  border-bottom: 50px solid #adadad;
  margin: 0 auto;
}

.unit.active .arrow.increase {
  border-bottom: 50px solid black;
}

.unit .arrow.decrease {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;

  border-top: 50px solid #adadad;
  margin: 0 auto;
}

.unit.active .arrow.decrease {
  border-top: 50px solid black;
}

.content-bar .guide {
  margin-top: 40px;
  text-align: center;
  color: black;
  height: 70px;
  line-height: 70px;
  background-color: #a0a0a0;
}

.box__button {
  position: absolute;
  bottom: -78px;
  right: 241px;
}

.box__button button {
  background-color: white; /* Green */
  border: 1px solid #878079;
  border-radius: 80px;
  color: #878079;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  width: 430px;
  height: 110px;
  margin-left: 50px;
}

.box__button button.active {
  background-color: #737373;
  color: white;
}

button:focus {
  outline: none;
}
</style>
