<template>
  <section class="body">
    <section class="admin-front">
      <div class="box">
        <div ref="sidebar" class="box__content">
          <h3 class="active" @click="moveTo($event,'/admin/setting/battery')">배터리 상태</h3>
          <h3 @click="moveTo($event,'/admin/setting/sound')">사운드 설정</h3>
          <h3 @click="moveTo($event,'/admin/setting/temperature-range')">이상 체온 설정</h3>
          <h3 @click="moveTo($event,'/admin/setting/scenario-schedule')">스케줄 설정</h3>
          <div
              :class="{ active: false }"
              class="power-btn"
              @click="powerOff"
          >
            <p>POWER OFF</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="box__content">
          <router-view/>
        </div>
      </div>

    </section>
  </section>
</template>

<script>

import {disablePowerOffEvent, EVENTBUS, EVENTS, regSendPowerOff} from "@/helpers/eventHelper";

/**
 * @vuese
 * @group 설정
 * 설명
 */
export default {
  name: "SettingPage",
  components: {},
  mounted() {
    regSendPowerOff(this);
    // 임시 설정 변수로 기존 객체를 복제
    this.$DB.tempSetting = Object.assign({}, this.$DB.setting)
  },
  beforeDestroy() {
    disablePowerOffEvent();
  },
  methods: {
    // @vuese
    playSound(sound) {
      if (sound) {
        const audio = new Audio(sound);
        audio.play();
      }
    },
    // @vuese
    powerOff(e) {
      console.log(e)
      this.addAndRemoveActive(e.srcElement.parentElement, () => {
        console.log('서비스가 종료됩니다!');
        EVENTBUS.$emit(EVENTS.SEND.POWER_OFF)
      })
    },
    addAndRemoveActive(el, callback) {
      console.log()
      el.classList.add('active');
      setTimeout(() => {
        callback()
      }, 300)
    },
    moveTo(e, path) {
      this.playSound('/sound/button_touch_1-1.wav');
      this.$refs.sidebar.children.forEach((el) => {
        el.classList.remove('active');
      })
      this.addAndRemoveActive(e.srcElement, () => {
        this.$DB.stopForPageMove = true;
        this.$router.push(path);
      })
    },
  }
};
</script>

<style scoped>
/* TREATMENT-LIST */
.admin-front {
  display: grid;
  /* for putting 3rd, 4th box into 3rd column together */
  grid-auto-flow: column;
  grid-template-columns: 503px 1fr;
  grid-template-rows: 938px;
  /*column-gap: 29px;*/
  /*row-gap: 30px;*/
  /*  clock wise from 12 clock*/
  /*margin: 100px 98px 0 100px;*/
}

.admin-front .box:nth-child(n) {
  border-radius: 0;
  margin: 0;
}

.admin-front .box:nth-child(1) {
  background-color: #e8e8e8;
}

.admin-front .box:nth-child(2) {
  background-color: #f5f5f5;
}


.admin-front .box:nth-child(1) .box__content {
  width: 100%;
  height: 100%;
  position: absolute;
}

.admin-front .box:nth-child(2) .box__content {
  width: 100%;
}

.admin-front .box .box__content h3 {
  padding-left: 52px;
  font-family: NotoSansKR;
  width: 100%;
  vertical-align: center;
  font-weight: bold;
  font-size: 40px;
  font-stretch: normal;
  font-style: normal;
  line-height: 113px;
  color: #b7b7b7;
  position: relative;
}

.admin-front .box .box__content h3.active {
  background-color: #737373;
  color: #ffffff;
}

.admin-front .box .box__content p {
  font-family: NotoSansKR;
  font-weight: 200;
  font-size: 40px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  color: #2e4388;
}

.admin-front .box:nth-child(2) .box__button {
  position: absolute;
  bottom: 72px;
  left: 76px;
}

.admin-front .box:nth-child(2) .box__button button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
}

.admin-front .box .box__content .power-btn {
  width: 360px;
  height: 80px;
  border-radius: 50px;
  border: solid 1px #737373;
  position: absolute;
  overflow: hidden;
  bottom: 40px;
  left: 45px;
}

/*.admin-front .box .box__content .power-btn::after {
  content: "";
  position: absolute;
  top: 14px;
  right: 30px;
  width: 40px;
  height: 49px;
  !*background-color: #ffffff;*!
  background: url("~@/assets/img/department-detail/marker.svg");
}*/

.admin-front .box .box__content .power-btn p {
  font-family: NotoSansKR;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 80px;
  letter-spacing: normal;
  color: #737373;
  text-align: center;
}

.admin-front .box .box__content .power-btn.active {
  background-color: #737373;
}

.admin-front .box .box__content .power-btn.active p {
  color: white;
}

/*.admin-front .box .box__content .power-btn.active::after {
  display: block;
  content: "";
  width: 40px;
  height: 49px;
  position: absolute;
  top: 14px;
  right: 30px;
  background-size: cover;
  background: url("~@/assets/img/common/map-marker-white.svg");
}*/
</style>
