<template>
  <div>
    <div class="admin-content">
      <div class="content-bar">
        <h3>상단 Volume</h3>
        <p>로봇의 head display 볼륨을 조절할 수 있습니다.</p>
        <h3>{{ headVolume }}%</h3>
        <div class="slide-container">
          <input id="headVolume" v-model="headVolume" class="slider" max="100" min="1" type="range">
        </div>
      </div>
    </div>
    <div class="box__button">
      <button @click="close">Cancel</button>
      <button @click="saveValue">Save</button>
    </div>
  </div>
</template>

<script>
import {EVENTBUS, EVENTS} from "@/helpers/eventHelper";

export default {
  name: "SoundSetting",
  data() {
    return {
      head_volume: "",
      timeoutID: 0
    }
  },
  mounted() {
    this.head_volume = this.$DB.tempSetting.head_volume
  },
  beforeDestroy() {
    clearTimeout(this.timeoutID)
  },
  watch: {},
  computed: {
    headVolume: {
      get() {
        return this.head_volume
      },
      set(input) {
        this.head_volume = input
      }
    },
  },
  methods: {
    addAndActive(el, callback) {
      el.classList.add('active');
      setTimeout(() => {
        callback && callback()
        el.classList.remove('active');
      }, 300)
    },
    close(e) {
      console.log('취소 되었습니다.');
      this.addAndActive(e.srcElement,()=>{
        this.popConfirm('취소 되었습니다.', '확인')
      })
    },
    saveValue(e) {
      console.log('on click save ', this.currentTempValue);
      this.addAndActive(e.srcElement,()=>{
        this.$DB.tempSetting.head_volume = this.head_volume
        this.$DB.setting = Object.assign({}, this.$DB.tempSetting)
        this.popConfirm('적용 되었습니다.', '확인');
      });
    },
    popConfirm(desc, btnTxt) {
      EVENTBUS.$emit(EVENTS.DIALOG.CHANGE_DIALOG_STATUS, {
        modalType: "confirm",
        modalData: {
          isSos: false,
          title: '',
          description: desc,
          closeButtonText: btnTxt,
          confirmAction: ()=>{
            // 데이터 publish 는 AdminFront 에서 확인버튼 눌렀을 때만 함
            // desc === '적용 되었습니다.' && EVENTBUS.$emit(EVENTS.SEND.SAVE_SETTINGS)
          }
        },
        show: true
      })
      clearTimeout(this.timeoutID)
      this.timeoutID = setTimeout(()=>{
        EVENTBUS.$emit(EVENTS.DIALOG.CHANGE_DIALOG_STATUS, {show: false})
      },20000)
    },
  }
};
</script>

<style scoped>
.content-bar {
  border-bottom: 3px solid #eeeeee;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 65px;
  padding-right: 42px;
  position: relative;
}

.content-bar h2 {
  font-family: NotoSansKR;
  width: 100%;
  vertical-align: center;
  font-weight: bold;
  font-size: 40px;
  font-stretch: normal;
  font-style: normal;
  line-height: 48px;
  color: #212121;
  position: relative;
}

.content-bar h3 {
  font-family: NotoSansKR;
  width: 100%;
  vertical-align: center;
  font-weight: bold;
  font-size: 35px;
  font-stretch: normal;
  font-style: normal;
  line-height: 35px;
  color: #000000;
  position: relative;
}

.content-bar p:nth-child(2) {
  width: auto;
  display: inline-block;
}

.content-bar h3:nth-child(3) {
  width: auto;
  position: relative;
  left: 730px;
  display: inline-block;
}

.content-bar p {
  font-family: NotoSansKR;
  width: 100%;
  vertical-align: center;
  font-weight: bold;
  font-size: 25px;
  font-stretch: normal;
  font-style: normal;
  line-height: 35px;
  color: #696969;
  position: relative;
}

.slide-container {
  width: 100%;
}

input {
  width: 100%;
  background: #464646;
}

.slider {
  margin-top: 30px;
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  /*border-radius: 5px;*/
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  border-radius: 50%;
  background: black;
  cursor: pointer; /* Cursor on hover */
}

.frame {
  display: flex;
  margin: 0 auto;
}

.unit {
  margin: 50px;
}

.unit p {
  font-size: 50px;
  padding: 30px 0;
}

.gray {
  color: gray;
}

.box__button {
  position: absolute;
  bottom: 35px;
  left: 215px;
}

.box__button button {
  background-color: white; /* Green */
  border: 1px solid #878079;
  border-radius: 80px;
  color: #878079;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  width: 430px;
  height: 110px;
  margin-left: 50px;
}

.box__button button.active {
  background-color: #737373;
  color: white;
}

button:focus {
  outline: none;
}
</style>
