<template>
  <div class="admin-content">
    <div class="content-bar">
      <h3>이상 체온 설정</h3>
      <p>이상 체온 값을 설정할 수 있습니다.</p>
      <div class="frame">
        <!-- <div
            :class="{ active: activeUnit === 'startTempUnit' }"
            class="unit"
            @click="setActiveClass('startTempUnit')"
        >
          <div class="icon" @click="raiseTemp('start')">
            <div class="arrow increase"></div>
          </div>
          <p :class="{ gray: isModifyMode }">{{ startTemp }}</p>
          <div class="icon" @click="lowerTemp('start')">
            <div class="arrow decrease"></div>
          </div>
        </div>
        <div><h3>~</h3></div> -->
        <div style="position:absolute;top:373px;left:732px;">
            <p style="font-size:87px;color:black;">이상</p>
        </div>
        <div style="margin-left:330px;"
            :class="{ active: activeUnit === 'endTempUnit' }"
            class="unit"
            @click="setActiveClass('endTempUnit')"
        >
          <div class="icon" @click="raiseTemp('end')">
            <div class="arrow increase"></div>
          </div>
          <p :class="{ gray: isModifyMode }">{{ endTemp }}</p>
          <div class="icon" @click="lowerTemp('end')">
            <div class="arrow decrease"></div>
          </div>
        </div>
        <!-- <div
            :class="{ active: isModifyMode && activeUnit === 'toggleTempUnit' }"
            class="unit"
            @click="setActiveClass('toggleTempUnit')"
        >
          <div class="icon" @click="toggleMode()">
            <div class="arrow increase"></div>
          </div>
          <p :class="{ deactive: !isModifyMode }">{{ modeType }}</p>
        </div> -->
      </div>
      <h3 class="guide">{{ guideText }}이상 체온 감지 시, 이상(고온) 체온으로 판단함.</h3>
      <div class="box__button">
        <button @click="close">Cancel</button>
        <button @click="saveValue">Save</button>
      </div>
    </div>
  </div>
</template>
<script>
import {EVENTBUS, EVENTS} from "@/helpers/eventHelper";
/**
 * @vuese
 * @group 설정
 * 설명
 */
export default {
  name: "TemperatureSetting",
  data() {
    return {
      activeUnit: '',
      startTemp: 37,
      endTemp: 41,
      maxTemp: 43,
      minTemp: 30,
      modeType: '-',
      isModifyMode: false,
      timeoutID: 0
    }
  },
  mounted() {
    this.defaultTemp = this.$DB.tempSetting.temp;
    this.setDefaultTemp();
  },
  beforeDestroy() {
    clearTimeout(this.timeoutID)
  },
  watch: {
    startTemp(value) {
      this.isModifyMode = value === this.endTemp;
      if (this.isModifyMode) {
        this.modeType = '이상';
      } else {
        this.modeType = '-';
      }
    },
    endTemp(value) {
      this.isModifyMode = value === this.startTemp;
      if (this.isModifyMode) {
        this.modeType = '이상';
      } else {
        this.modeType = '-';
      }
    },
  },
  computed: {
    guideText() {
      return `[${this.endTemp}℃]`;
    //   if (!this.isModifyMode) {
    //     return `[${this.startTemp}℃ ~ ${this.endTemp}℃]`;
    //   } else if (this.isModifyMode && this.modeType !== '-') {
    //     return `[${this.endTemp}℃ ${this.modeType}]`;
    //   } else {
    //     return '';
    //   }
    },
    currentTempValue() {
      let data;
      data = `over-${this.endTemp}`;
    //   if (this.startTemp === this.endTemp) {
    //     console.log('mode: ', this.modeType);
    //     switch (this.modeType) {
    //       case '이상':
    //         data = `over-${this.endTemp}`;
    //         break;
    //       case '이하':
    //         data = `under-${this.endTemp}`;
    //         break;
    //     }
    //   } else {
    //     data = `${this.startTemp}-${this.endTemp}`;
    //   }
      console.log('data: ', data);
      return data;
    }
  },
  methods: {
    // DB에 저장된 기존 이상체온설정을 가져와 기본값으로 세팅
    setDefaultTemp() {
      const range = this.defaultTemp.split('-');
      console.log('range ', range);
      this.startTemp = Number(range[1]);
      this.endTemp = Number(range[1]);
      this.modeType = '이상';
    //   if (range[0] === 'under') {
    //     this.startTemp = Number(range[1]);
    //     this.endTemp = Number(range[1]);
    //     this.modeType = '이하';
    //   } else if (range[0] === 'over') {
    //     this.startTemp = Number(range[1]);
    //     this.endTemp = Number(range[1]);
    //     this.modeType = '이상';
    //   } else {
    //     this.startTemp = Number(range[0]);
    //     this.endTemp = Number(range[1]);
    //   }
    },
    // 버튼 클릭 시, 해당 unit 에 active 클래스 적용
    setActiveClass(unit) {
      this.activeUnit = unit;
    },
    playSound(sound) {
      if (sound) {
        const audio = new Audio(sound);
        audio.play();
      }
    },
    // 증가/감소 : 최대/최소 온도 범위 (0 ~ 50) 내에서 +1/-1
    raiseTemp(temp) {
      this.playSound('/sound/button_touch_1-1.wav');
      switch (temp) {
        case 'start':
          if ((this.startTemp >= this.minTemp && this.startTemp < this.maxTemp) && !this.isModifyMode) {
            this.startTemp = this.startTemp + 1;
          }
          break;
        case 'end':
          if (this.endTemp >= this.minTemp && this.endTemp < this.maxTemp) {
            this.endTemp = Number(this.endTemp.toFixed(1)) + 0.1;
            this.endTemp = Number(this.endTemp.toFixed(1))
          }
          break;
      }
    },
    lowerTemp(temp) {
      this.playSound('/sound/button_touch_1-1.wav');
      switch (temp) {
        case 'start':
          if (this.startTemp > this.minTemp && this.startTemp <= this.maxTemp) {
            this.startTemp = this.startTemp - 1;
          }
          console.log('lower');
          break;
        case 'end':
          if (this.endTemp > this.minTemp && this.endTemp <= this.maxTemp && !this.isModifyMode) {
            this.endTemp = Number(this.endTemp.toFixed(1)) - 0.1;
            this.endTemp = Number(this.endTemp.toFixed(1))
          }
          break;
      }
    },
    toggleMode() {
      if (this.isModifyMode) {
        this.playSound('/sound/button_touch_1-1.wav');
        switch (this.modeType) {
          case '이상':
            this.modeType = '이하';
            break;
          case '이하':
            this.modeType = '이상';
            break;
        }
      }
    },
    addAndActive(el, callback) {
      el.classList.add('active');
      setTimeout(() => {
        callback && callback()
      }, 300)
    },
    close(e) {
      this.addAndActive(e.srcElement,()=>{
        this.popConfirm('취소 되었습니다.', '확인')
      })
      this.$nextTick(() => {
        console.log('제거 제거')
        e.srcElement.classList.remove('active');
      })
    },
    saveValue(e) {
      this.addAndActive(e.srcElement, ()=>{
        this.$DB.tempSetting.temp = this.currentTempValue;
        this.$DB.setting = Object.assign({}, this.$DB.tempSetting)
        this.popConfirm('적용 되었습니다.', '확인');
      });
      this.$nextTick(() => {
        e.srcElement.classList.remove('active');
      })
    },
    popConfirm(desc, btnTxt) {
      EVENTBUS.$emit(EVENTS.DIALOG.CHANGE_DIALOG_STATUS, {
        modalType: "confirm",
        modalData: {
          isSos: false,
          title: '',
          description: desc,
          closeButtonText: btnTxt,
          confirmAction: ()=>{
            // 데이터 publish 는 AdminFront 에서 확인버튼 눌렀을 때만 함
            // desc === '적용 되었습니다.' && EVENTBUS.$emit(EVENTS.SEND.SAVE_SETTINGS)
          }
        },
        show: true
      })
      clearTimeout(this.timeoutID)
      this.timeoutID = setTimeout(()=>{
        EVENTBUS.$emit(EVENTS.DIALOG.CHANGE_DIALOG_STATUS, {show: false})
      },20000)
    },
  }
};
</script>
<style scoped>
.content-bar {
  border-bottom: 3px solid #eeeeee;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 65px;
  padding-right: 42px;
  position: relative;
  height: 100%;
  height: 941px;
  box-sizing: border-box;
}
.content-bar h2 {
  font-family: NotoSansKR;
  width: 100%;
  vertical-align: center;
  font-weight: bold;
  font-size: 40px;
  font-stretch: normal;
  font-style: normal;
  line-height: 48px;
  color: #212121;
  position: relative;
}
.content-bar h3 {
  font-family: NotoSansKR;
  width: 100%;
  vertical-align: center;
  font-weight: bold;
  font-size: 35px;
  font-stretch: normal;
  font-style: normal;
  line-height: 35px;
  color: #000000;
  position: relative;
}
.content-bar p {
  font-family: NotoSansKR;
  width: 100%;
  vertical-align: center;
  font-weight: bold;
  font-size: 25px;
  font-stretch: normal;
  font-style: normal;
  line-height: 35px;
  color: #696969;
  position: relative;
}
.frame {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr .2fr .6fr 1fr;
  justify-items: center;
  margin-top: 80px;
}
.unit {
  margin: 0;
  width: 200px;
  display: grid;
  justify-items: center;
  align-content: start;
  position: relative;
}
.unit p {
  display: block;
  font-family: NotoSansKR;
  vertical-align: center;
  font-weight: bold;
  font-size: 85px;
  font-stretch: normal;
  font-style: normal;
  line-height: 130px;
  color: #adadad;
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100%;
  border-bottom: 7px solid #cdcdcd;
  margin-bottom: 50px;
}
.unit.active p {
  color: black;
  border-bottom: 7px solid black;
}
.frame div:nth-child(2) h3 {
  font-family: NotoSansKR;
  vertical-align: center;
  font-weight: bold;
  font-size: 70px;
  font-stretch: normal;
  font-style: normal;
  line-height: 130px;
  color: #cdcdcd;
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100%;
  top: 30%;
}
.unit:nth-child(-n+3)::after {
  content: "℃";
  display: block;
  font-family: NotoSansKR;
  vertical-align: center;
  font-weight: bold;
  font-size: 70px;
  font-stretch: normal;
  font-style: normal;
  line-height: 130px;
  color: #cdcdcd;
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 30%;
  left: 160px
}
.unit.active:nth-child(-n+3)::after {
  color: black;
}
.unit .deactive {
  color: #e5e5e5;
  border-bottom: 5px solid #e5e5e5;
}
.unit .icon {
  border: 1px solid #cdcdcd;
  border-radius: 20px;
  width: 140px;
  height: 80px;
  cursor: pointer;
  padding-top: 20px;
}
.unit.active .icon {
  border: 1px solid #3f3f3f;
}
.unit .arrow.increase {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 50px solid #adadad;
  margin: 0 auto;
}
.unit.active .arrow.increase {
  border-bottom: 50px solid black;
}
.unit .arrow.decrease {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 50px solid #adadad;
  margin: 0 auto;
}
.unit.active .arrow.decrease {
  border-top: 50px solid black;
}
.content-bar .guide {
  margin-top: 90px;
  text-align: center;
  color: black;
  height: 70px;
  line-height: 70px;
  background-color: #a0a0a0;
}
.box__button {
  position: absolute;
  bottom: 36px;
  right: 241px;
}

.box__button button {
  background-color: white; /* Green */
  border: 1px solid #878079;
  border-radius: 80px;
  color: #878079;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  width: 430px;
  height: 110px;
  margin-left: 50px;
}
.box__button button.active {
  background-color: #737373;
  color: white;
}
button:focus {
  outline: none;
}
</style>
