<template>
  <section class="body">
    <section class="main-list">
      <div
          :class="{ active: isMedicalClicked }"
          class="box"
          @click="moveToChildPage(MEDICAL_INFORMATION_PAGE, 'isMedicalClicked')"
      >
        <div class="box__content">
          <h3>진료 안내</h3>
          <ul>
            <li>· 진료과 / 의료진 안내</li>
            <li>· 외래 / 응급진료 안내</li>
            <li>· 입 / 퇴원 안내</li>
            <li>· 병문안 안내</li>
          </ul>
        </div>
        <div class="box__icon">
          <img src="@/assets/img/main_list/first.svg">
        </div>
      </div>

      <div
          :class="{ active: isUseClicked }"
          class="box"
          @click="moveToChildPage(USE_INFORMATION_PAGE, 'isUseClicked')"
      >
        <div class="box__content">
          <h3>이용 안내</h3>
          <ul>
            <li>· 건물 안내</li>
            <li>· 주차 안내</li>
            <li>· 제증명 발급 안내</li>
          </ul>
        </div>
        <div class="box__icon">
          <img src="@/assets/img/main_list/second.svg">
        </div>
      </div>

      <div
          :class="{ active: isVoiceClicked }"
          class="box"
          @click="moveToChildPage(VOICE_SEARCH_PAGE, 'isVoiceClicked')"
      >
        <div class="box__content">
          <h3>음성 문의</h3>
        </div>
        <div class="box__icon">
          <img src="@/assets/img/main_list/third.svg">
        </div>
      </div>

      <div
          :class="{ active: isPictureClicked }"
          class="box"
          @click="moveToChildPage(TAKE_PICTURE_PAGE, 'isPictureClicked')"
      >
        <div class="box__content">
          <h3>함께 사진 찍기</h3>
        </div>
        <div class="box__icon">
          <img src="@/assets/img/main_list/fourth.svg">
        </div>
      </div>
    </section>
  </section>
</template>

<script>
import moveHelper from "@/helpers/moveHelper";
/**
 * @vuese
 * @group 메인-기본
 * 메인 컨텐츠부, 초기 화면
 */
export default {
  name: "MainList",
  data() {
    return {
      // 박스 선택 여부값
      isMedicalClicked: false,
      isUseClicked: false,
      isVoiceClicked: false,
      isPictureClicked: false,

      // 하위 라우터 패스
      MEDICAL_INFORMATION_PAGE: '/main/medical-information',
      USE_INFORMATION_PAGE: '/main/use-information',
      VOICE_SEARCH_PAGE: '/main/voice-search',
      TAKE_PICTURE_PAGE: '/main/take-picture'
    }
  },
  methods: {
    playSound(sound) {
      if (sound) {
        const audio = new Audio(sound);
        audio.play();
      }
    },
    moveToChildPage(path, status) {
      this.$DB.stopForPageMove = true
      console.log('클릭 숫ㄴ')
      this.playSound('/sound/button_touch_1.wav');
      moveHelper.selectAndDelayMove(path, status, this);
    }
  }
};
</script>

<style>
/* MAIN LST*/
.main-list {
  display: grid;
  /* for putting 3rd, 4th box into 3rd column together */
  grid-auto-flow: column dense;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 345px);
  column-gap: 29px;
  row-gap: 30px;
  /*  clock wise from 12 clock*/
  margin: 101px 100px 0 100px;
}

.main-list .box:nth-child(n) {
  border: solid 1px #979797;
}

.main-list .box:nth-child(-n+2).active::before {
  content: "";
  display: block;
  width: 534px;
  height: 700px;
  border: solid 10px #6080e8;
  background-color: #e9ecf5;
  border-radius: 30px;
  position: absolute;
  top: -1px;
  left: -1px;
}
.main-list .box:nth-child(n+3).active::before {
  content: "";
  display: block;
  width: 534px;
  height: 325px;
  border: solid 10px #6080e8;
  background-color: #e9ecf5;
  border-radius: 30px;
  position: absolute;
  top: -1px;
  left: -1px;
}

.main-list .box.active::after {
  content: "";
  display: block;
  position: absolute;
  width: 64px;
  height: 65px;
  top: 40px;
  right: 40px;
  background: url("~@/assets/img/common/check.svg");
  background-size: cover;
}

/*.main-list .box.active .box__content {
  position: absolute;
  top: 42px;
  left: 47px;
}*/

/*.main-list .box.active .box__content ul {
  padding-top: 25px;
  padding-left: 8px;
}*/

/*.main-list .box.active .box__content ul li {
  font-family: NotoSansKR;
  font-size: 34px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.49;
  letter-spacing: normal;
  color: #2e4388;
}*/


.main-list .box .box__content {
  position: absolute;
  top: 50px;
  left: 55px;
}
.main-list .box:nth-child(1) .box__content {
  position: absolute;
  top: 53px;
  left: 57px;
}

.main-list .box .box__content h3 {
  font-family: NotoSansKR;
  font-size: 55px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -1.38px;
  color: #2e4388;
}

.main-list .box:nth-child(n+3) .box__content h3 {
  font-family: NotoSansKR;
  font-size: 55px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2e4388;
}

.main-list .box .box__content ul {
  padding-top: 26px;
  padding-left: 6px;
}
.main-list .box:nth-child(1) .box__content ul {
  padding-top: 25px;
  padding-left: 9px;
}

.main-list .box .box__content ul li {
  font-family: NotoSansKR;
  font-size: 34px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.49;
  letter-spacing: normal;
  color: #2e4388;
}

.main-list .box:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.main-list .box:nth-child(1) .box__icon {
  bottom: 69px;
  right: 70px;
}

.main-list .box:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

.main-list .box:nth-child(2) .box__icon {
  bottom: 67px;
  right: 69px;
}
.main-list .box:nth-child(3) .box__icon {
  bottom: 65px;
  right: 92px;
}
.main-list .box:nth-child(4) .box__icon {
  bottom: 69px;
  right: 61px;
}
</style>
