<template>
  <div id="app">
    <router-view/>
    <Dialog/>
  </div>
</template>

<script>
import {DB} from "@/assets/whole-data";
import {prepareAppEvents, removeAllEvents} from "@/helpers/eventHelper";
import {prepareAPI} from "@/helpers/apiHelper";
import Dialog from "@/components/global/Dialog";

export default {
  name: "App",
  components: {Dialog},
  async created() {
    this.$DB = DB;
  },
  mounted() {
    prepareAPI(this);
    prepareAppEvents(this);
  },
  beforeDestroy() {
    removeAllEvents();
  },
  data() {
    return {
      isConnected: false,
      leftTime: 0,
      intervalId: 0
    }
  },
}
</script>

<style>
</style>
