<template>
  <section class="body">
    <h2 class="body__title">건물 시설 안내<h3 class="body__subtitle">( 초성 검색 )</h3></h2>
    <section class="location-search-content">
      <div class="search-bar">
        <input ref="input" v-model="searchText" class="input" type="text" @click="getCursorPosition">
        <img src="~@/assets/img/common/search-bar-icon.svg" @click="doSearch">
      </div>
      <p class="description">{{ statusMsg[searchStatus] }}</p>
      <location-search-keypad
          v-if="showKeypad"
          :cursor-position.sync="cursorPosition"
          :search-status.sync="searchStatus"
          :search-text.sync="searchText"
          @end="endInput"
          v-on:do-search="requestInitialSearch"
      />
      <location-search-result-blocks v-else/>
    </section>
  </section>
</template>

<script>
import LocationSearchKeypad from "@/views/main/use-information/location/LocationSearchKeypad";
import LocationSearchResultBlocks from "@/views/main/use-information/location/LocationSearchResultBlocks";
import {EVENTBUS, EVENTS, prepareLocationSearchEvents, disableLocationSearchEvents} from "@/helpers/eventHelper";

/**
 * @vuese
 * @group 메인-이용안내-층별안내와 초성검색
 * 설명
 */
export default {
  name: "LocationSearch",
  components: {LocationSearchResultBlocks, LocationSearchKeypad},
  data: function () {
    return {
      searchStatus: 'DEFAULT',
      searchText: "",
      hasNoInitialResult: false,
      // initialResultArray: [],
      showKeypad: true,
      cursorPosition: 0,
    }
  },
  watch: {
    searchText(value) {
      // console.log('text: ', this.searchText);
      // const unicode = escape(this.replaceAll(value, "\\", "%"));
      // console.log('unicode: ', unicode);
      if (this.searchStatus === 'NO_INPUT' && value !== '') {
        this.searchStatus = 'DEFAULT';
      }
      if (this.searchStatus === 'NO_RESULT') {
        this.searchStatus = 'DEFAULT';
        this.hasNoInitialResult = false;
      }
    },
    cursorPosition(value) {
      this.$refs.input.selectionStart = value;
      this.$refs.input.selectionEnd = value;
    },
    hasNoInitialResult(value) {
      if (value) {
        this.searchStatus = 'NO_RESULT';
      }
    },
    // initialResultArray(array) {
    //   if (array.length !== 0) {
    //     this.searchStatus = 'RESULT';
    //     this.showKeypadToggle();
    //   }
    // },
    $DB: {
      handler(newVal) {
        if (newVal.initialResultArray.length !== 0) {
          this.searchStatus = 'RESULT';
          this.showKeypadToggle();
        }
      },
      deep: true,
    },
  },
  computed: {
    statusMsg() {
      return {
        DEFAULT: '‘채혈실’ 이 궁금하신 경우 , ㅊㅎㅅ 이라고 검색해주세요',
        RESULT: `'${this.searchText}' 검색 결과`,
        NO_RESULT: '검색되는 시설이 없습니다.',
        NO_INPUT: '검색할 시설의 초성을 입력해주세요.',
      }
    },
  },
  mounted() {
    prepareLocationSearchEvents(this);
    this.$refs.input.focus();
    this.cursorPosition = this.$refs.input.selectionStart;
    // EVENTBUS.$emit(EVENTS.MAIN.COUNTING.START);
  },
  beforeDestroy() {
    disableLocationSearchEvents();
    // EVENTBUS.$emit(EVENTS.MAIN.COUNTING.STOP)
    this.hasNoInitialResult = false;
    // this.initialResultArray = [];
  },
  destroyed() {
    // this.$DB.initialInput = '';
    // this.$DB.hasNoInitialResult = false;
  },
  methods: {
    getCursorPosition(e) {
      this.cursorPosition = e.target.selectionStart;
    },
    playSound(sound) {
      if (sound) {
        const audio = new Audio(sound);
        audio.play();
      }
    },
    requestInitialSearch() {
      EVENTBUS.$emit(EVENTS.SEND.INITIAL_SEARCH, this.searchText);
    },
    doSearch() {
      this.playSound('/sound/button_touch_1.wav');
      if (this.searchText.length === 0) {
        this.searchStatus = 'NO_INPUT';
      } else {
        this.requestInitialSearch();
      }
    },
    showKeypadToggle() {
      this.showKeypad = !this.showKeypad;
    },
    endInput() {
      console.log('endInput')
      this.$refs.input.focus();
    },
    replaceAll(strTemp, strValue1, strValue2) {
      const t = true
      while (t) {
        if (strTemp.indexOf(strValue1) !== -1)
          strTemp = strTemp.replace(strValue1, strValue2);
        else
          break;
      }
      return strTemp;
    }
  }
};
</script>

<style scoped>
/* LOCATION-SEARCH */
.body .body__subtitle {
  margin-left: 5px;
}

/* SEARCH */

.location-search-content {
  width: 1920px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*  clock wise from 12 clock*/
  /*margin: 20px 98px 100px 102px;*/
}

.location-search-content .search-bar {
  margin-top: 65px;
}

.location-search-content .search-bar {
  width: 860px;
  height: 143px;
  border-radius: 85px;
  border: solid 3px rgba(255, 255, 255, 0.5);
  position: relative;
  overflow: hidden;
}

.location-search-content .search-bar img {
  content: "";
  position: absolute;
  top: 35px;
  right: 65px;
  bottom: 42px;
  width: 66px;
  height: 66px;
  object-fit: contain;
  /*background-color: #ffffff;*/
}

.location-search-content .search-bar .input,
.location-search-content .search-bar .input:focus {
  outline: none;
  margin-top: 20px;
  padding-left: 72px;
  width: 705px;
  height: 103px;
  font-family: NotoSansKR;
  font-size: 70px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 150px;
  letter-spacing: -1.75px;
  color: #ffffff;
  border: none;
  background-color: #3f538e;
}

.location-search-content .description {
  margin-top: 27px;
  width: 877px;
  height: 59px;
  font-family: NotoSansKR;
  font-size: 40px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -1px;
  text-align: center;
  color: #ffffff;
}

.location-search-content .keypad {
  margin-top: 90px;
}

.location-search-content .keyword-list {
  margin-top: 90px;
}
</style>
