<template>
  <div class="keypad">
    <div
        v-for="key in keySet"
        :key="key.index"
        :class="{ 'active': key.selected,
        'two-key': key.value === 'backspace' || key.value === 'ENTER',
         'backspace': key.value === 'backspace', 'enter': key.value === 'ENTER' }"
        class="key"
        @click="addSelectedInitialCha(key)"
    >
      <p>{{ key.value }}</p>
    </div>
  </div>
</template>

<script>
/**
 * @vuese
 * @group 메인-이용안내-층별안내와 초성검색
 * 설명
 */
export default {
  name: "LocationSearchKeypad",
  props: ['searchText', 'cursorPosition'],
  data: function () {
    return {
      inputText: "",
      keySet: [
        {
          value: 'ㄱ',
          selected: false
        },
        {
          value: 'ㅋ',
          selected: false
        },
        {
          value: 'ㄴ',
          selected: false
        },
        {
          value: 'ㄹ',
          selected: false,
        },
        {
          value: 'ㄷ',
          selected: false,
        },
        {
          value: 'ㅌ',
          selected: false,
        },
        {
          value: 'ㅂ',
          selected: false,
        },
        {
          value: 'backspace',
          selected: false,
        },
        {
          value: 'ㅍ',
          selected: false,
        },
        {
          value: 'ㅅ',
          selected: false,
        },
        {
          value: 'ㅎ',
          selected: false,
        },
        {
          value: 'ㅈ',
          selected: false,
        },
        {
          value: 'ㅊ',
          selected: false,
        },
        {
          value: 'ㅇ',
          selected: false,
        },
        {
          value: 'ㅁ',
          selected: false,
        },
        {
          value: 'ENTER',
          selected: false,
        },
      ],
      keyStack: [],
      intervalId: 0
    }
  },
  mounted() {
    this.removeWithInterval();
  },
  beforeDestroy() {
    clearInterval(this.intervalId)
  },
  methods: {
    applyActiveClass(key) {
      key.selected = true;
      this.keyStack.push(key.value)
      this.removeWithInterval()
    },
    removeWithInterval() {
      const vm = this
      this.intervalId = setInterval(() => {
        console.log('키 비활성화 ', vm.keyStack[0])
        vm.keySet.forEach((keyObj) => {
          keyObj.selected = false
        })
      }, 300);
    },
    playSound(sound) {
      if (sound) {
        const audio = new Audio(sound);
        audio.play();
      }
    },
    addSelectedInitialCha(key) {
      if (key.value === 'backspace') {
        this.deleteOneCharacter(key);
      } else if (key.value === 'ENTER') {
        this.doSearch(key);
      } else {
        if (this.inputText.length < 8) {
          this.applyActiveClass(key);
          this.playSound('/sound/button_touch_1-2.wav');
          this.inputText = this.inputText.substring(0, this.cursorPosition)
              + key.value
              + this.inputText.substring(this.cursorPosition, this.inputText.length + 1);
          this.$emit('update:searchText', this.inputText);

          this.$nextTick(() => {
            this.movePositionWith(1)
          })
        } else {
          this.$nextTick(() => {
            this.applyActiveClass(key);
            this.$emit('end');
          })
        }
      }
    },
    doSearch(key) {
      this.applyActiveClass(key);
      this.playSound('/sound/button_touch_1.wav');
      if (this.inputText.length === 0) {
        this.$emit('update:searchStatus', 'NO_INPUT');
      } else {
        this.$emit('do-search');
      }
    },
    deleteOneCharacter(key) {
      if (this.inputText !== "") {
        this.playSound('/sound/button_touch_1-2.wav');
        this.applyActiveClass(key);
        this.inputText = this.inputText.substring(0, this.cursorPosition - 1) +
            this.inputText.substring(this.cursorPosition);
        this.$emit('update:searchText', this.inputText);
        this.$nextTick(() => {
          this.movePositionWith(-1)
        })
        // 글자가 비어있어도, 커서는 깜빡이게 해야함
      } else {
        this.$nextTick(() => {
          this.$emit('end');
        })
      }
    },
    movePositionWith(amount) {
      let res = this.cursorPosition + amount
      res = res >= 0 ? res : 0;
      this.$emit('update:cursorPosition', res);
      this.$nextTick(() => {
        this.$emit('end');
      })
    }
  }
};
</script>

<style scoped>

/* KEYPAD, KEYWORD */
.keypad {
  width: 1531px;
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(2, 151px);
  column-gap: 20px;
  row-gap: 20px;
}

.keypad .key {
  width: 155px;
  height: 151px;
  border-radius: 30px;
  box-shadow: 0 49px 75px 0 rgba(32, 54, 119, 0.5);
  background-color: #ffffff;
  position: relative;
}

.keypad .key p {
  /*width: 56px;*/
  /*height: 89px;*/
  font-family: NotoSansKR;
  font-size: 60px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 151px;
  letter-spacing: normal;
  text-align: center;
  color: #2e4388;
}

.keypad .two-key {
  width: 327px;
  height: 151px;
  border-radius: 30px;
  box-shadow: 0 49px 75px 0 rgba(32, 54, 119, 0.5);
  background-color: #e4e7f2;
}

.keypad .backspace {
  text-indent: -9999px;
  grid-row: 1/1;
  grid-column: 8/ span 2;
}

.keypad .backspace::before {
  content: "backspace";
  display: block;
  margin: 52px auto 0 auto;
  width: 62px;
  height: 48px;
  object-fit: contain;
  background: url("~@/assets/img/search/backspace.svg");
}

.keypad .enter {
  grid-row: 2/2;
  grid-column: 8/ span 2;
}

.keypad .active {
  height: 151px;
  border-radius: 30px;
  box-shadow: 0 49px 75px 0 rgba(32, 54, 119, 0.5);
  background-color: #6181e8;
}

.keypad .active p {
  /*width: 56px;*/
  /*height: 89px;*/
  font-family: NotoSansKR;
  font-size: 60px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 151px;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
</style>
