<template>
  <section class="body">
    <h2 class="body__title">건물 시설 안내<h3 class="body__subtitle">( 층별 안내 )</h3></h2>
    <div
        class="search-btn"
        @click="moveToInitialSearchPage"
    >
      <p class="input">검색하기</p>
    </div>
    <section class="location-floor-list">
      <div class="box">
        <img
            :src="currentFloorMapImg"
            alt="Workplace"
            class="map"
            usemap="#floor_map"
        >
        <map name="floor_map">
        </map>
        <div
            v-if="selectedRoomNumber"
            :class="{ active: pointingPlace.number === selectedRoomNumber }"
            :style="{ top: pointingPlace.position.top + 'px', left: pointingPlace.position.left + 'px'}"
            class="pointing-ball"
        >
          {{ pointingPlace.number }}
        </div>

        <div class="floor_list">
          <div
              v-for="floor in floors"
              :key="floor.index"
              :class="{ active: floor === selectedFloor }"
              class="floor_number"
              @click="onClickFloorName(floor)"
          >
            <div class="active-back"></div>
            <p>{{ floor }}</p>
          </div>
        </div>

        <div class="overlay" >
          <div class="location-list" v-dragscroll.y="true">
            <div
                v-for="room in currentFloor"
                :key="room.number"
                :class="{ active: room.number === selectedRoomNumber ,
                double: room.name.split('<br>').length===2,
                triple: room.name.split('<br>').length===3,
                quadruple: room.name.split('<br>').length===4}"
                class="location-name"
                @click="onClickRoom(room.number)"
            >
              <p class="number">{{ room.number }}</p>
              <p class="name" v-html="room.name">{{ }}</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</template>

<script>
// import {EVENTBUS, EVENTS} from "@/helpers/eventHelper";
import { dragscroll } from 'vue-dragscroll'
import moveHelper from "@/helpers/moveHelper";

/**
 * @vuese
 * @group 메인-이용안내-층별안내와 초성검색
 * 설명
 */
export default {
  name: "LocationFloorList",
  directives: {
    'dragscroll': dragscroll
  },
  data() {
    return {
      selectedFloor: '1F',
      selectedRoomNumber: '',
      pointingPlace: {
        position: {
          top: 0,
          left: 0
        }
      },
    }
  },
  computed: {
    floors() {
      let array = [];
      this.$DB.locations.forEach((item) => {
        array.push(item.floor);
      });
      return [...new Set(array)];
    },
    currentFloor() {
      return this.$DB.locations.filter((item) => item.floor === this.selectedFloor);
    },
    currentFloorMapImg() {
      let imgSrc = '';
      switch (this.selectedFloor) {
        case '1F':
          imgSrc = '/img/common/map-floor-1f.png';
          break;
        case '2F':
          imgSrc = '/img/common/map-floor-2f.png';
          break;
        case '3F':
          imgSrc = '/img/common/map-floor-3f.png';
          break;
        case '4F':
          imgSrc = '/img/common/map-floor-4f.png';
          break;
        case '5F':
          imgSrc = '/img/common/map-floor-5f.png';
          break;
        case 'B1F':
          imgSrc = '/img/common/map-floor-b1f.png';
          break;
      }
      return imgSrc;
    },
  },
  mounted() {
    this.findAndActivateLocation();
  },
  methods: {
    // 특정 키워드로 해당 시설 위치 확인을 위해 진입한 경우
    findAndActivateLocation() {
      console.log('지도에서 찾으려는 곳 이름: ', this.$route.query.name);
      if (this.$route.query.name) {
        let obj = {};
        // 응급의학과 인 경우
        if (this.$route.query.name === '응급실' || this.$route.query.name === '응급의학과') {
          obj = this.$DB.locations.filter((item) => {
            return item.name.includes('응급의학과');
          })[0];
          // 호스피스완화의료병동 인 경우
        } else if (this.$route.query.name === '호스피스완화의료병동') {
          obj = this.$DB.locations.filter((item) => {
            return item.name.includes('호스피스');
          })[0];
          // 마취통증의학과 인 경우 (수술실 위치 표시)
        } else if (this.$route.query.name === '마취통증의학과') {
          obj = this.$DB.locations.filter((item) => {
            return item.name.includes('수술실');
          })[0];
          // 나머지 모든 경우
        } else {
          obj = this.$DB.locations.filter((item) => {
            // case 1. "비뇨기과/흉부외과/<br>정신건강의학과/피부과"
            if (item.name.includes('/')) {
              // <br> 을 공백을 치환해서 자료 정리
              const nameArr = item.name.replace('<br>', '').split('/');
              const filteredResultArr = nameArr.filter((name) => {
                return name.includes(this.$route.query.name);
              });
              return filteredResultArr.length > 0;
              // case 2. "외과"
            } else {
              return item.name === this.$route.query.name;
            }
          })[0];
        }
        console.log('찾는 곳 위치정보: ', obj);
        this.selectedFloor = obj.floor;
        this.selectedRoomNumber = obj.number;
        this.pointingPlace = obj;
      }
    },
    playSound(sound) {
      if (sound) {
        const audio = new Audio(sound);
        audio.play();
      }
    },
    moveToInitialSearchPage() {
      console.log('클릭순서')
      this.$DB.stopForPageMove = true
      this.playSound('/sound/button_touch_1.wav');
      moveHelper.moveAfterDelay('/main/use-information/location/search', this)
    },
    onClickFloorName(name) {
      this.playSound('/sound/button_touch_1.wav');
      this.selectedFloor = name;
      this.selectedRoomNumber = '';
      this.pointingPlace = {
        position: {
          top: 0,
          left: 0
        }
      };
    },
    onClickRoom(num) {
      this.playSound('/sound/button_touch_1.wav');
      this.selectedRoomNumber = num;
      this.pointingPlace = this.currentFloor.filter((item) => item.number === this.selectedRoomNumber)[0];
    },
  }
};
</script>

<style scoped>
/* LOCATION-FLOOR-LIST */
.body .body__title {
  margin-left: -3px;
  font-size: 45px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.body .body__subtitle {
  margin-left: 3px;
  font-size: 45px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.search-btn {
  width: 221px;
  height: 80px;
  border-radius: 64.5px;
  background-color: #6181e8;
  position: absolute;
  top: 169px;
  left: 1598px;
}

.search-btn::after {
  content: "";
  position: absolute;
  top: 25px;
  right: 34px;
  /*bottom: 42px;*/
  width: 31px;
  height: 31px;
  /*object-fit: contain;*/
  /*background-color: #ffffff;*/
  background: url("~@/assets/img/common/search-btn-icon.svg");
}

.search-btn .input {
  position: absolute;
  /*top: 17px;*/
  left: 34px;
  font-family: NotoSansKR;
  font-size: 30px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 80px;
  letter-spacing: -0.75px;
  color: #ffffff;
}

.location-floor-list {
  /*display: grid;*/
  /*grid-auto-flow: row;*/
  /*grid-template-rows: 720px;*/
  /*  clock wise from 12 clock*/
  margin: 30px 100px 0 100px;
  position: relative;
}

.location-floor-list .box {
  width: 1719px;
  height: 711px;
  border: solid 1px #979797;
  /* anti-clock-wise */
  /*padding: 17px 12px 16px 24px;*/
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}

/*.location-floor-list .box .map {*/
/*display: none;*/
/*}*/
.location-floor-list .box img {
  width: 1098px;
  height: 678px;
  position: absolute;
  top: 17px;
  left: 24px;
}

.location-floor-list .box .floor_list {
  width: 127px;
  height: 710px;
  position: absolute;
  top: 3px;
  left: 1193px;
}

.location-floor-list .box .floor_list .floor_number {
  margin-left: 5px;
  width: 112px;
  height: 117px;
  background: #ffffff;
  position: relative;
}

.location-floor-list .box .floor_list .floor_number:not(.active):nth-child(-n+5) {
  /*display: block;*/
  /*width: 112px;*/
  border-bottom: 1px solid #d6d6d6;
  /*position: relative;*/
  /*top: -1px;*/
  /*left: 15px;*/
  /*bottom: 0;*/
  /*background-color: #4CAF50;*/
}

.location-floor-list .box .floor_list .floor_number p {
  font-family: NotoSansKR;
  font-size: 35px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 118px;
  letter-spacing: -0.88px;
  text-align: center;
  color: #617deb;
  width: 121px;
  margin: 0 auto;
  position: absolute;
  /*left: 48px;*/
}

.location-floor-list .box .floor_list .floor_number.active p {
  /*background-color: #4CAF50;*/
  color: #ffffff;
  z-index: 9999;
  width: 127px;
  padding-left: 10px;
  box-sizing: border-box;
}

.location-floor-list .box .floor_list .floor_number.active {
  margin-left: 0;
  display: block;
  width: 127px;
  height: 118px;
  margin-top: -1px;
  background: #ffffff;
  position: relative;
}

.location-floor-list .box .floor_list .floor_number.active .active-back {
  width: 127px;
  height: 119px;
  margin-top: -2px;
  background-color: #6181e8;
  /* 좌상-x .... 좌하-x /좌상-y ... 좌하-x */
  border-radius: 63px 0 0 63px/ 63px 0 0 63px;
  position: absolute;
  top: 0;
}

.location-floor-list .box .floor_list .floor_number.active p::before {
  content: "";
  display: block;
  width: 36px;
  height: 36px;
  background-color: #ffffff;
  border-radius: 0% 0% 100% 0%;
  /* 좌상-x .... 좌하-x /좌상-y ... 좌하-x */
  /* top-left | top-right | bottom-right | bottom-left */
  /*border-radius: 0 / 18px;*/
  position: absolute;
  top: -38px;
  right: 0;
  bottom: 0;
}

.location-floor-list .box .floor_list .floor_number.active::before {
  content: "";
  display: block;
  width: 36px;
  height: 36px;
  background-color: #6181e8;
  position: absolute;
  top: -36px;
  right: 0;
  bottom: 0;
}

.location-floor-list .box .floor_list .floor_number.active::after {
  content: "";
  display: block;
  width: 36px;
  height: 36px;
  background-color: #6181e8;
  position: absolute;
  top: 117px;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.location-floor-list .box .floor_list .floor_number.active p::after {
  content: "";
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 0% 100% 0% 0%;
  background-color: #ffffff;
  position: absolute;
  top: 117px;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.location-floor-list .box .overlay {
  height: 710px;
  position: absolute;
  top: 0;
  left: 1320px;
  /* contain scroll with 8px */
  width: 400px;
  background-color: #6181e8;
  padding-top: 50px;
  /*padding-bottom: 50px;*/
  padding-left: 43px;
  padding-right: 12px;
  box-sizing: border-box;
}

.location-floor-list .box .overlay .location-list {
  height: 611px;
  overflow-y: scroll; /* Show vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
  box-sizing: border-box;
}

.location-floor-list .box .overlay .location-list::-webkit-scrollbar {
  width: 8px;
}

.location-floor-list .box .overlay .location-list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, .2);
}

.location-floor-list .box .overlay .location-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ffffff;
}

.location-floor-list .box .location-list .location-name {
  height: 58px;
  margin-bottom: 34px;
  position: relative;
}

.location-floor-list .box .location-list .location-name p:first-child {
  font-family: NotoSansKR;
  font-size: 25px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 58px;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;

  background-color: #41589a;
  border-radius: 50px;
  height: 58px;
  width: 58px;
  margin: 0 auto;
  display: inline-block;
  position: absolute;
  top: 0px;
}

.location-floor-list .box .location-list .location-name p:last-child {
  font-family: NotoSansKR;
  font-size: 35px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 59px;
  letter-spacing: -0.88px;
  color: #2e4388;
  display: inline-block;
  margin-left: 15px;
  position: relative;
  top: 0px;
  left: 58px;
}

.location-floor-list .box .location-list .location-name.active p:first-child {
  color: #3f4d6d;
  background-color: #ffffff;
}

.location-floor-list .box .location-list .location-name.active p:last-child {
  color: #ffffff;
}

.location-floor-list .box .location-list .location-name.double {
  height: 110px;
  line-height: 50px;
}

.location-floor-list .box .location-list .location-name.triple {
  height: 184px;
  line-height: 50px;
}

.location-floor-list .box .location-list .location-name.quadruple {
  height: 234px;
  line-height: 50px;
}

.pop-over {
  height: 86px;
  border-radius: 10px;
  box-shadow: 5px 10px 10px 0 rgba(75, 100, 173, 0.5);
  border: solid 3px #617deb;
  background-color: #ffffff;
  position: absolute;
  box-sizing: border-box;
}

.pop-over p::after {
  position: absolute;
  content: "";
  display: block;
  width: 0;
  height: 0;
  left: calc(50% - 18px);
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-top: 18px solid #ffffff;
}

.pop-over::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  margin-left: calc(50% - 20px);
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #617deb;
}

.pop-over p {
  margin: 0 53px;
  font-family: NotoSansKR;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 80px;
  letter-spacing: normal;
  text-align: center;
  color: #617deb;
}

.pointing-ball {
  font-family: NotoSansKR;
  font-size: 19px;
  /* font-weight: bold; */
  font-stretch: normal;
  font-style: normal;
  line-height: 37px;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  background-color: #40516c;
  border-radius: 50px;
  height: 38px;
  width: 38px;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  top: -4px;
}

.pointing-ball.active {
  color: #3f4d6d;
  background-color: #ffffff;
  animation-name: example;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes example {
  from {
    background-color: red;
    color: #ffffff;
    font-weight: bold;
  }
  to {
    background-color: #ffffff;
  }
}
</style>
