<template>
  <div class="keyword-list">
    <div
        v-for="block in resultBlocks"
        :key="block.index"
        :ref="`keyword-${block}`"
        :class="{ 'two-key': block.length >= 6 }"
        class="keyword"
        @click="moveToPointingPlace(`keyword-${block}`, block)"
    >
      <p>{{ block }}</p>
    </div>
  </div>
</template>

<script>
/**
 * @vuese
 * @group 메인-이용안내-층별안내와 초성검색
 * 설명
 */
export default {
  name: "LocationSearchResultBlocks",
  components: {},
  computed: {
    resultBlocks() {
      let array = [];
      this.$DB.initialResultArray.forEach((keyword) => {
        array.push(keyword.trim());
      })
      // console.log('trimmed => ', array);
      return array;
    }
  },
  mounted() {
    // console.log('res blocks: ', this.$DB.initialResultArray);
  },
  destroyed() {
    // this.$DB.initialResultArray = [];
  },
  methods: {
    // 초성검색 결과 블록 클릭 시 해당 위치 안내
    moveToPointingPlace(refName, keyword) {
      this.$refs[refName][0].classList.add('active');
      const placeName = keyword;
      setTimeout(() => {
        this.$DB.stopForPageMove = true;
        this.$router.push({path: '/main/use-information/location', query: {name: placeName}});
      })
    }
  }
};
</script>

<style scoped>
.keyword-list {
  display: flex;
  flex-wrap: wrap;
  width: 1260px;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 151px);
  column-gap: 20px;
  row-gap: 20px;
}

.keyword-list .keyword {
  width: 155px;
  height: 151px;
  border-radius: 30px;
  box-shadow: 0 49px 75px 0 rgba(32, 54, 119, 0.5);
  background-color: #ffffff;
  position: relative;
}

.keyword-list .keyword {
  width: 300px;
}

.keyword-list .keyword p {
  /*width: 56px;*/
  /*height: 89px;*/
  font-family: NotoSansKR;
  font-size: 55px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 151px;
  letter-spacing: normal;
  text-align: center;
  color: #2e4388;
}

.keyword-list .keyword.two-key {
  width: 620px;
}

.keyword-list .active {
  height: 151px;
  border-radius: 30px;
  box-shadow: 0 49px 75px 0 rgba(32, 54, 119, 0.5);
  background-color: #6181e8;
}

.keyword-list .active p {
  /*width: 56px;*/
  /*height: 89px;*/
  font-family: NotoSansKR;
  font-size: 55px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 151px;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
</style>
