<template>
  <section class="body">
    <section class="voice-search-content">
      <div class="box">
        <div class="top">
          <img alt="음성" src="~@/assets/img/voice-search/음성.gif">
        </div>
        <div v-if="!hasResult" class="bottom">
          <div class="please-tell">
            <h2>{{ statusMsg[searchStatus] }}</h2>
          </div>
          <div class="example">
            <ul>
              <li># 병원 진료 시간 언제까지야?</li>
              <li># 병문안 시간 언제까지야?</li>
              <li># 정형외과 어디 있어?</li>
              <li># 외래 진료 순서 알려줘.</li>
            </ul>
            <div></div>
            <ul>
              <li># 처음 왔는데 어디로 가야해?</li>
              <li># 편의점 어디야?</li>
              <li># 신경과 선생님이 누구야?</li>
              <li># 퇴원 절차 알려줘.</li>
            </ul>
          </div>
        </div>
        <div v-else class="bottom">
          <div class="asking-word">
            <h2>{{ statusMsg['RESULT'] }}</h2>
          </div>
          <div class="result">
            <div v-dragscroll.y="true" class="overlay">
              <ul>
                <li
                    v-for="(result, idx) in voiceResultList"
                    :key="idx"
                    :ref="`result-${idx}`"
                    :class="{ active: result.isClicked }"
                >
                  <p>{{ result.keyword }}</p>
                  <p>{{ result.isDepartment ? '안내' : '위치안내' }}</p>
                  <p
                      @click="processResult(result, `result-${idx}`)"
                  >
                    바로가기
                  </p>
                </li>
                <li :class="{ active: retryBtnClicked }">
                  <p></p>
                  <p></p>
                  <p @click="retry">다시 묻기</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</template>

<script>

import {
  disableVoiceSearchEvents,
  EVENTBUS, EVENTS,
  prepareVoiceSearchEvents
} from "@/helpers/eventHelper";
import {dragscroll} from 'vue-dragscroll'

class VoiceResult {
  constructor(keyword, data) {
    this.keyword = keyword;
    this.isDepartment = false;
    this.data = data;
    this.isClicked = false;
  }
}

/**
 * @vuese
 * @group 메인-음성안내
 * 설명
 */
export default {
  name: "VoiceSearchPage",
  directives: {
    'dragscroll': dragscroll
  },
  data() {
    return {
      hasResult: false,
      searchStatus: 'DEFAULT',
      askBtnClicked: false,
      voiceKeywordArray: [],
      voiceQuestionStr: "",
      retryBtnClicked: false,
    }
  },
  computed: {
    statusMsg() {
      return {
        DEFAULT: '궁금하신 내용을 말씀해주세요!',
        RESULT: this.voiceQuestionStr || '',
      }
    },
    voiceResultList() {
      // 원본 [외과, 정형외과]
      const org = [];
      this.voiceKeywordArray.forEach((word) => org.push(word.trim()))
      console.log('trimmed org', org);
      // 진료과 data
      const depArray = this.$DB.department;
      const listArray = [];
      org.forEach((keyword) => {
        // 외과
        // 진료과 안내 정보를 array.push
        depArray.forEach((dep) => {
          if (dep.title_korean === keyword) {
            const temp = new VoiceResult(keyword, dep.type);
            temp.isDepartment = true;
            listArray.push(temp);
          }
        });
        // 위치 결과를 array.push
        const temp = new VoiceResult(keyword, keyword);
        listArray.push(temp);
      });
      console.log('뿌려줄 리스트: ', listArray);
      // 키워드 당 위치안내 가 기본.
      // 키워드 array forEach 돌려서 department.title_korean 과 일치하는 게 있으면
      // 안내(진료과) 라인을 추가
      // 화면에 보여줄 총 라인 배열을 화면에 v-for 전개
      return listArray;
    },
  },
  mounted() {
    // 이 페이지는 타임아웃이 없기 때문에 다시 시작도 없음
    this.$DB.stopForPageMove = true;
    EVENTBUS.$emit(EVENTS.MAIN.COUNTING.STOP)
    prepareVoiceSearchEvents(this);
  },
  beforeDestroy() {
    disableVoiceSearchEvents();
  },
  methods: {
    playSound(sound) {
      if (sound) {
        const audio = new Audio(sound);
        audio.play();
      }
    },
    addAndRemoveActive(refName) {
      for (const el in this.$refs) {
        this.$refs[el][0].classList.remove('active')
      }
      this.$refs[refName][0].classList.add('active');
    },
    processResult(result, refName) {
      this.$DB.stopForPageMove = true;
      this.playSound('/sound/button_touch_1.wav');
      this.addAndRemoveActive(refName);
      setTimeout(() => {
        if (result.isDepartment) {
          // 진료과 디테일로 이동
          this.$router.push({path: `/main/medical-information/department/${result.data}`});
        } else {
          // 위치안내 페이지로 이동
          this.$router.push({path: '/main/use-information/location', query: {name: result.keyword}});
        }
      }, 300);

    },
    retry() {
      this.$DB.stopForPageMove = true;
      EVENTBUS.$emit(EVENTS.SEND.VOICE_RETRY)
      EVENTBUS.$emit(EVENTS.MAIN.COUNTING.STOP)
      setTimeout(() => {
        this.retryBtnClicked = false;
      }, 300)
    },
  }
};
</script>

<style scoped>
/* VOICE_SEARCH-LIST */
.voice-search-content {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 737px;
  /*  clock wise from 12 clock*/
  margin: 101px 100px 100px 100px;
}

.voice-search-content .box {
  border-radius: 30px;
  box-shadow: 0 49px 75px 0 rgba(32, 54, 119, 0.5);
  background-color: #ffffff;

  display: grid;
  grid-auto-flow: row;
  grid-template-rows: calc(421px - 131px) calc(316px + 131px);
}

.box .top {
  position: relative;
}

.box .top img {
  position: absolute;
  top: 58px;
  left: 743px;
}

/* 듣기화면 */
.box .bottom .please-tell {
  margin: 38px auto;

}

.box .bottom .please-tell h2 {
  font-family: NotoSansKR;
  font-size: 45px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 60px;
  letter-spacing: normal;
  color: #2e4388;
  text-align: center;
  animation-name: example;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes example {
  from {
    color: #ffffff;
  }
  to {
    color: #2e4388;
  }
}

.box .bottom .example {
  border-radius: 0 0 30px 30px/ 0 0 30px 30px;
  background-color: #e9ecf5;
  padding: 50px 424px 61px 439px;

  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 362px 133px 362px;
  grid-template-rows: 200px;
}

.box .bottom .example li {
  font-family: NotoSansKR;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  color: #2e4388;
}

/* 결과화면 */
.box .bottom .asking-word {
  margin: 38px auto;
}

.box .bottom .asking-word h2 {
  font-family: NotoSansKR;
  font-size: 45px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #6080e8;
}

.box .bottom .result {
  border-radius: 0 0 30px 30px/ 0 0 30px 30px;
  background-color: #e9ecf5;
  padding: 8px 13px 10px 0;
  overflow: hidden;
}

.box .bottom .result .overlay {
  margin-left: calc(8px - 8px);
  height: 293px;
  overflow: overlay;
}

.box .bottom .result .overlay::-webkit-scrollbar {
  width: 8px;
}

.box .bottom .result .overlay::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(190, 190, 190, .3);
  /*border-radius: 10px;*/
  /*opacity: 0.2;*/
}

.box .bottom .result .overlay::-webkit-scrollbar-thumb {
  height: 29px;
  border-radius: 10px;
  background-color: #bebebe;
}

.box .bottom .result .overlay li {
  padding-top: 3px;
  padding-bottom: 3px;
  position: relative;
  height: 97px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.box .bottom .result .overlay li::after {
  content: "";
  border-left: 1px solid rgba(47, 67, 136, .5);
  height: 34px;
  position: absolute;
  top: 32px;
  left: 733px;
}

.box .bottom .result .overlay li:nth-child(1) {
  padding-top: 0;
}

.box .bottom .result .overlay li.active::before {
  content: "";
  border-radius: 45px;
  background-color: #6080e8;
  left: 29px;
  width: 1662px;
  height: 90px;
  top: 2px;
  position: absolute;
}

.box .bottom .result .overlay li.active:nth-child(n+2)::before {
  top: 6px;
}

.box .bottom .result .overlay li.active::after {
  content: "";
  border-left: 1px solid rgba(255, 255, 255, .5);
  height: 34px;
}

.box .bottom .result .overlay li p {
  font-family: NotoSansKR;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 97px;
  letter-spacing: normal;
  color: #2e4388;
  display: inline-block;
  text-align: left;
}

.box .bottom .result .overlay li.active p {
  font-family: NotoSansKR;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 97px;
  letter-spacing: normal;
  color: #ffffff
}

.box .bottom .result .overlay li p:nth-child(1) {
  position: absolute;
  left: 552px;
}

.box .bottom .result .overlay li p:nth-child(2) {
  position: absolute;
  left: 813px;
}

.box .bottom .result .overlay li p:nth-child(3) {
  position: absolute;
  left: 1033px;
}

</style>
