<template>
  <section class="body">
    <section class="department-list">
      <div
          v-for="dep in departmentList"
          :key="dep.id"
          :class="{ active: dep.selected }"
          class="box"
          @click="moveToChildPage(dep)"
      >
        <div
            class="box__icon"
            :style="`top:${dep.position.x}px;left:${dep.position.y}px;`"
        >
          <img :src="dep.img">
        </div>
        <div class="box__content">
          <h3>{{ dep.nameKo }}</h3>
        </div>
      </div>
    </section>
  </section>
</template>

<script>
import moveHelper from "@/helpers/moveHelper";

class Department {
  constructor(type, nameKo, img, position) {
    this.type = type;
    this.nameKo = nameKo;
    this.img = img;
    this.position = position || {x: 0, y: 0};
    this.selected = false;
  }
}
/**
 * @vuese
 * @group 메인-진료안내-진료과
 * 설명
 */
export default {
  name: "DepartmentList",
  data() {
    return {
      departmentList: []
    }
  },
  mounted() {
    this.generateData();
  },
  methods: {
    // 전역 DB 에서 진료과 데이터를 뽑아 데이터 배열을 만든다
    generateData() {
      this.$DB.department.forEach((item) => {
        this.departmentList.push(new Department(item.type, item.title_korean, item.img, item.position));
      })
    },
    playSound(sound) {
      if (sound) {
        const audio = new Audio(sound);
        audio.play();
      }
    },
    // 박스 선택 시 박스 선택 유무값 변경 후 하위 라우트로 지연 이동하게 함
    moveToChildPage(dep) {
      this.$DB.stopForPageMove = true;
      this.playSound('/sound/button_touch_1.wav');
      const path = `${this.$route.path}/${dep.type}`;
      dep.selected = true;
      moveHelper.moveAfterDelay(path, this);
    }
  }
};
</script>

<style scoped>
/* department-list*/
.department-list {
  /*  clock wise from 12 clock*/
  margin: 70px 100px 70px 100px;
  display: grid;
  /* for putting 3rd, 4th box into 3rd column together */
  grid-auto-flow: row dense;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 20px;
}

.department-list .box {
  width: 270px;
  height: 253px;
  border: solid 1px #979797;
  box-sizing: border-box;
}

.department-list .box.active::before {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  left: -1px;
  width: 270px;
  height: 253px;
  border-radius: 30px;
  box-shadow: 0 49px 75px 0 rgba(32, 54, 119, 0.5);
  border: solid 8px #6080e8;
  background-color: #e9ecf5;
  box-sizing: border-box;
}

.department-list .box.active::after {
  content: "";
  display: block;
  position: absolute;
  width: 44px;
  height: 44px;
  top: 22px;
  right: 23px;
  background: url("~@/assets/img/common/check.svg");
  background-size: cover;
}

.department-list .box .box__content {
  position: absolute;
  top: 162px;
  width: 100%;
  margin: 0 auto;
}

.department-list .box .box__content h3 {
  font-family: NotoSansKR;
  font-size: 34px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: normal;
  text-align: center;
  color: #2e4388;
}

.department-list .box .box__icon {
  position: absolute;
}
</style>
