<template>
  <section class="body">
    <h2 class="body__title">
      {{ currentDepartment.title_korean }}
    </h2>
    <section class="department-detail">
      <div class="box">
        <div class="description">
          <p>
            <span v-html="currentDepartment.description"></span>
          </p>
        </div>
        <div class="location">
          <div class="name">
            <span v-html="currentDepartment.location"></span>
          </div>
          <div>
            <div
                :class="{ active: false }"
                class="search-bar"
                @click="moveToLocationPage"
            >
              <p>위치 확인</p>
            </div>
          </div>
        </div>
        <div
            :class="{ available: isPreviousAvailable, active: isLeftClicked }"
            class="left-btn"
            @click="moveToPreviousPage('isLeftClicked')"
        >
        </div>
        <div class="doctor-list">
          <section
              v-for="profile in extractShowPart"
              :key="profile.id"
              class="doctor-profile"
              @click="showModal(profile.ord)"
          >
            <div class="face">
              <img
                  class="img"
                  :src="profile.picture"
              >
            </div>
            <div class="name-and-title">
              <h1 class="name">{{ profile.name }}</h1>
              <h2 class="job-title">{{ profile.title }}</h2>
            </div>
          </section>
        </div>
        <div
            :class="{ available: isNextAvailable, active: isRightClicked }"
            class="right-btn"
            @click="moveToNextPage('isRightClicked')"
        >
        </div>
      </div>
    </section>
  </section>
</template>

<script>
import moveHelper from "@/helpers/moveHelper";
import {EVENTBUS, EVENTS} from "@/helpers/eventHelper";
/**
 * @vuese
 * @group 메인-진료안내-진료과
 * 설명
 */
export default {
  name: "DepartmentDetail",
  data() {
    return {
      // @vuese
      // 게터
      currentPageIndex: 1,
      unit: 4,
      selectedProfileNumber: 0,

      // 좌우 버튼 선택 여부값
      isLeftClicked: false,
      isRightClicked: false
    }
  },
  watch: {
    // @vuese
    // 게터
    currentPageIndex() {
      this.isLeftClicked = false;
      this.isRightClicked = false;
    }
  },
  computed: {
    // 전역 DB 에서 읽어온 의료진 리스트 데이터
    departmentList() {
      return this.$DB.department;
      // return departmentList.department;
    },
    // 해당 진료과 데이터
    currentDepartment() {
      const extract = this.departmentList.filter((item) => (item.type === this.$route.params.name));
      return extract[0];
    },
    // 해당 진료과 의료진 데이터
    doctors() {
      return this.currentDepartment.doctors;
    },
    // @vuese
    // 게터
    profileNumber: {
      get() {
        return this.selectedProfileNumber;
      },
      set(no) {
        this.selectedProfileNumber = no;
      }
    },
    extractShowPart() {
      // page:1 이면 0~3 (n*4-4 ~ n*4-1)
      // page:2 이면 4~7
      const startIndex = this.currentPageIndex * this.unit - this.unit;
      const endIndex = this.currentPageIndex * this.unit;
      return this.doctors.slice(startIndex, endIndex);
    },
    isNextAvailable() {
      return this.currentPageIndex < this.maxPageIndex;
    },
    isPreviousAvailable() {
      return this.currentPageIndex > 1;
    },
    maxPageIndex() {
      return Math.ceil(this.doctors.length / this.unit);
    }
  },
  created() {
  },
  methods: {
    // @vuese
    // 모달 데이터 반환
    modalData() {
      return {
        profileNumber: this.profileNumber,
        department: this.currentDepartment
      }
    },
    playSound(sound) {
      if (sound) {
        const audio = new Audio(sound);
        audio.play();
      }
    },
    moveToLocationPage() {
      this.playSound('/sound/button_touch_1.wav');
      // @todo active class 적용
      setTimeout(() => {
        console.log('이동');
        this.$router.push({path: '/main/use-information/location', query: {name: this.currentDepartment.title_korean}});
      }, 300);
    },
    showModal(profileOrd) {
      this.playSound('/sound/button_touch_1.wav');
      this.profileNumber = profileOrd;
      this.$DB.stopForPopup = true;
      EVENTBUS.$emit(EVENTS.MAIN.COUNTING.STOP);
      EVENTBUS.$emit(EVENTS.DIALOG.CHANGE_DIALOG_STATUS, {
        modalType: "doctorProfiles",
        modalData: this.modalData(),
        show: true
      })
    },
    showNextPage() {
      if (this.isNextAvailable) {
        this.currentPageIndex += 1;
      }
    },
    showPreviousPage() {
      if (this.isPreviousAvailable) {
        this.currentPageIndex -= 1;
      }
    },
    // 좌우 버튼 클릭 시 active 클래스 적용하고 0.3초 후 페이지 이동
    moveToNextPage(status) {
      if (this.isNextAvailable) {
        this.playSound('/sound/button_touch_1.wav');
        moveHelper.setActiveClass(status, this);
        moveHelper.doAfterDelay(this.showNextPage);
      }
    },
    moveToPreviousPage(status) {
      if (this.isPreviousAvailable) {
        this.playSound('/sound/button_touch_1.wav');
        moveHelper.setActiveClass(status, this);
        moveHelper.doAfterDelay(this.showPreviousPage);
      }
    },

  }
};
</script>

<style scoped>
/* DEPARTMENT DETAIL */
.department-detail {
  /*  clock wise from 12 clock*/
  margin: 20px 100px 104px 100px;
}

.department-detail .box {
  height: 718px;
  border-radius: 30px;
  box-shadow: 0 49px 75px 0 rgba(32, 54, 119, 0.5);
  border: solid 1px #979797;
  background-color: #ffffff;
  box-sizing: border-box;

  display: grid;
  /* for putting 3rd, 4th box into 3rd column together */
  grid-auto-flow: row dense;
  grid-template-columns: 117px 371px 371px 371px 371px 117px;
  grid-template-rows: 228px 489px;
  /*column-gap: 20px;*/
  /*row-gap: 20px;*/

  overflow: hidden;

  position: relative;
  box-sizing: border-box;
}

.department-detail .box .description {
  grid-column: 1/5;

  padding-top: 42px;
  padding-left: 48px;

  width: 1007px;
  height: 144px;
}

.department-detail .box .description p {
  font-family: NotoSansKR;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.64;
  letter-spacing: normal;
  color: #000000;
}

.department-detail .box .location {
  grid-column: 5/7;
  position: relative;
}

.department-detail .box .location .name span {
  /*width: 56px;*/
  /*height: 80px;*/
  font-family: NotoSansKR;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #6080e8;

  /*margin-bottom: 128px;*/
  width: 100%;
  position: absolute;
  top: 59px;
  left: 220px;
}

.department-detail .box .location .search-bar {
  width: 254px;
  height: 80px;
  border-radius: 50px;
  border: solid 1px #6080e8;
  position: absolute;
  overflow: hidden;
  top: 110px;
  left: 145px;
}

.department-detail .box .location .search-bar::after {
  content: "";
  position: absolute;
  top: 14px;
  right: 30px;
  width: 40px;
  height: 49px;
  /*background-color: #ffffff;*/
  background: url("~@/assets/img/department-detail/marker.svg");
}

.department-detail .box .location .search-bar p {
  font-family: NotoSansKR;
  font-size: 30px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 80px;
  letter-spacing: normal;
  color: #84a3ff;
  padding-left: 40px;
}

.department-detail .box .location .search-bar.active {
  background-color: #6080e8;
}

.department-detail .box .location .search-bar.active p {
  color: #ffffff;
}

.department-detail .box .location .search-bar.active::after {
  display: block;
  content: "";
  width: 40px;
  height: 49px;
  position: absolute;
  top: 14px;
  right: 30px;
  background-size: cover;
  background: url("~@/assets/img/common/map-marker-white.svg");
}

.department-detail .box .left-btn {
  background-color: #f5f5f5;

}

.department-detail .box .right-btn {
  background-color: #f5f5f5;
}

.department-detail .box .left-btn.available::before {
  content: "";
  display: block;
  width: 37px;
  height: 27px;
  background: url("~@/assets/img/department-detail/deactive-left-arrow.svg");

  position: absolute;
  top: 463px;
  left: 37px;
}

.department-detail .box .right-btn.available::before {
  content: "";
  display: block;
  width: 37px;
  height: 27px;
  background: url("~@/assets/img/department-detail/deactive-right-arrow.svg");

  position: absolute;
  top: 463px;
  right: 37px;
  background-size: cover;
}

.department-detail .box .left-btn.active,
.department-detail .box .right-btn.active {
  background-color: #6080e8;
}

.department-detail .box .left-btn.available.active::before {
  background: url("~@/assets/img/department-detail/deactive-left-arrow.svg");
}

.department-detail .box .right-btn.available.active::before {
  background: url("~@/assets/img/department-detail/active-right-arrow.svg");
}

.department-detail .box .doctor-list {
  grid-column: 2/6;
  border-top: 1px solid #d6d6d6;

  display: grid;
  /* for putting 3rd, 4th box into 3rd column together */
  grid-auto-flow: column dense;
  grid-template-columns:  repeat(4, 370px);
  /*grid-template-rows: 228px 489px;*/
}

.department-detail .box .doctor-list .doctor-profile {
  border-left: 1px solid #d6d6d6;
}

.department-detail .box .doctor-list .doctor-profile .face {
  margin-top: 56px;
  margin-left: 59px;
}

.department-detail .box .doctor-list .doctor-profile .name-and-title {
  margin-top: 20px;
}

.department-detail .box .doctor-list .doctor-profile .name {
  font-family: NotoSansKR;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  text-align: center;
  font-size: 35px;
  letter-spacing: -0.88px;
  color: #6080e8;
}

.department-detail .box .doctor-list .doctor-profile .job-title {
  font-family: NotoSansKR;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2e4388;
  text-align: center;
}

.department-detail .box .doctor-list .doctor-profile .major-description {
  margin-top: 9px;
  text-align: center;
}

.department-detail .box .doctor-list .doctor-profile .major-description p {
  font-family: NotoSansKR;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2e4388;
}

.department-detail .box .doctor-list .doctor-profile .major-description span {
  font-weight: 500;
}
</style>
