<template>
  <lottie :key="number" :height="1080" :options="defaultOptions" :width="1920" class="face"
          v-on:animCreated="handleAnimation"/>
</template>

<script>
import Lottie from 'vue-lottie';
import * as basic from '@/assets/lottie/ADDY_Emotion_10_BASIC.json';
import * as angry from '@/assets/lottie/ADDY_Emotion_11_ANGRY.json';
import * as smile from '@/assets/lottie/ADDY_Emotion_12_SMILE.json';
import * as sunglasses from '@/assets/lottie/ADDY_Emotion_15_SUNGLASSES.json';
import * as chaplin from '@/assets/lottie/ADDY_Emotion_16_CHAPLIN.json';
import * as sleeping from '@/assets/lottie/ADDY_Emotion_18_SLEEPING2.json';
import * as shining from '@/assets/lottie/ADDY_Emotion_21_SHINING.json';
import * as shy from '@/assets/lottie/ADDY_Emotion_22_SHY.json';
import * as eat from '@/assets/lottie/ADDY_Emotion_24_EAT.json';

/**
 * @vuese
 * @group 아바타 표정
 * 설명
 */
export default {
  name: "AvatarFace",
  components: {
    'lottie': Lottie
  },
  props: ['faceType'],
  data: function () {
    return {
      face: '',
      basic: basic.default,
      angry: angry.default,
      smile: smile.default,
      sunglasses: sunglasses.default,
      chaplin: chaplin.default,
      sleeping: sleeping.default,
      shining: shining.default,
      shy: shy.default,
      eat: eat.default,
      animationSpeed: 1,
      number: 1,
    }
  },
  watch: {
    faceType() {
      this.makeExpression();
    }
  },
  computed: {
    defaultOptions() {
      return {animationData: this.face};
    }
  },
  created() {
    this.makeExpression();
    // this.changeFace();
  },
  mounted() {
  },
  methods: {
    handleAnimation: function (anim) {
      this.anim = anim;
    },
    makeExpression() {
      switch (this.faceType) {
        case 'BASIC':
          this.face = this.basic;
          break;
        case 'SMILE':
          this.face = this.smile;
          break;
        case 'ANGRY':
          this.face = this.angry;
          break;
        case 'SUNGLASSES':
          this.face = this.sunglasses;
          break;
        case 'CHAPLIN':
          this.face = this.chaplin;
          break;
        case 'SLEEPING2':
          this.face = this.sleeping;
          break;
        case 'SHINING':
          this.face = this.shining;
          break;
        case 'SHY':
          this.face = this.shy;
          break;
        case 'EAT':
          this.face = this.eat;
          break;
      }
      this.toggleNumber();
    },
    changeFace() {
      setTimeout(() => {
        this.face = this.sleeping;
        this.number += 1;
      }, 3000);
    },
    toggleNumber() {
      if (this.number === 0) {
        this.number = 1;
      } else {
        this.number = 0;
      }
    }
  }
};
</script>

<style scoped>
.face {
  background: #dee7ff;
}
</style>