<template>
  <div :class="{blue: !isAdmin, grey: isAdmin}" class="app__container" @click="resetLeftTimeAndEndInput">
    <div id="temp" ref="temp" class="temporary">
      <Header v-show="!isNoHeaderPage"/>
      <router-view/>
    </div>
    <div class="testList" v-if="isTesting">
      <button @click="isFrontTest = true"><h2>프론트</h2></button>
      <button @click="isFrontTest = false"><h2>브릿지 연동</h2></button>
      <div v-if="isFrontTest">
        <!--        <h2> 프론트 테스트</h2>-->
        <ul>
          <li>주요 페이지 이동<br/>
            <select id="path" v-model="path">
              <option selected value="/boot">로딩화면</option>
              <option value="/boot/password">비밀번호입력화면</option>
              <option value="/admin/front">어드민 첫화면</option>
              <option value="/main/">메인 페이지</option>
              <option value="/main/medical-information/department">진료과 목록</option>
              <option value="/main/medical-information/department/surgery">외과 상세</option>
              <option value="/main/use-information/location?name=산부인과">산부인과 위치안내</option>
              <option value="/main/use-information/location/search">초성검색</option>
              <option value="/main/voice-search">음성검색</option>
              <option value="/monitor">모니터링 화면</option>
              <option value="/patrol">순찰/이동 화면</option>
              <option value="/main/take-picture/select-avatar">함께사진찍기 화면</option>
              <option value="/patrol/code-scan">코드스캔 화면 이동</option>
              <option value="/patrol/fire-detection">화재감지 화면 이동</option>
              <option value="/patrol/take-picture">사진찍기 화면 이동</option>
            </select>
            <button @click="moveTo()">이동</button>
          </li>
          <li>부팅 화면<br>
            <button @click="()=> {$DB.stopForPageMove = true;sendMockData()}">가짜 데이터 수신 처리</button>
          </li>

          <li>어드민
            <ul>
              <li><select id="settingType" v-model="settingType">
                <option selected value="day">주간 운영시간</option>
                <option value="night">야간 운영시간</option>
                <option value="temp">이상체온</option>
                <option value="patrol">순찰시나리오</option>
              </select>
                <button @click="removeAdminSetting()">삭제</button>
              </li>
              <li @click="alterAdminSetting('patrol', '22:00-23:30--')">
                순찰시나리오 줄이기
              </li>
              <li>
                <button @click="setBattery">배터리 수치 조작</button>
                <br/>
                <button @click="toggleCharging">충전 상태 조작</button>
              </li>
            </ul>
          </li>

          <li>메인
            <ul>
              <li><select id="settingType" v-model="eventsObj">
                <option selected :value="{
                  name: EVENTS.DIALOG.CHANGE_DIALOG_STATUS,
                  param: {show: false}
                  }">비상호출 창 강제 닫기
                </option>
                <option selected :value="{
                  name: EVENTS.MAIN.COUNTING.START,
                  param: 15
                  }">타임아웃 15초 카운팅 시작
                </option>
                <option selected :value="{
                  name: EVENTS.MAIN.COUNTING.STOP,
                  param: ''
                  }">타임아웃 카운팅 멈추기
                </option>
              </select>
                <button @click="emitEvent">실행</button>
              </li>
            </ul>
          </li>
          <li> 초성검색 결과 설정<br>
            <input v-model="chosungResult">
            <button @click="setInitialResult">설정</button>
          </li>
          <li> 음성검색 결과 프론트로<br>
            텍스트: <input v-model="voiceResult"><br>
            대표어: <input v-model="voiceKeyword">
            <button @click="setVoiceResult">요청</button>
          </li>
          <li>순찰
            <ul>
              <li><select id="settingType" v-model="eventsObj">
                <option selected :value="{
                  name: EVENTS.DIALOG.CHANGE_DIALOG_STATUS,
                  param: {
                        modalType: 'generalWarning',
                        modalData: {
                        isSos: true,
                        title: '화재가 감지되었습니다.',
                        closeButtonText: '확인'
                        },
                        show: true
                        }
                  }">화재감지창 열기
                </option>
              </select>
                <button @click="emitEvent">실행</button>
              </li>
            </ul>
          </li>
          <li>아바타 표정
            <ul>
              <li><select id="faceType1" v-model="faceType">
                <option value="ANGRY">화난 표정</option>
                <option value="SMILE">웃는 표정</option>
                <option value="CHAPLIN">채플린</option>
                <option value="SUNGLASSES">선글라스</option>
                <option value="SHINING">샤이닝</option>
                <option value="SLEEPING2">잠자기</option>
              </select>
                <button @click="changeFace('monitor')">모니터링 변경</button>
              </li>
              <li><select id="faceType2" v-model="faceType">
                <option selected value="ANGRY">화난 표정</option>
                <option value="SMILE">웃는 표정</option>
                <option value="CHAPLIN">채플린</option>
                <option value="SUNGLASSES">선글라스</option>
                <option value="SHINING">샤이닝</option>
                <option value="SLEEPING2">잠자기</option>
              </select>
                <button @click="changeFace('patrol')">순찰/이동 변경</button>
              </li>
              <li><select id="faceType3" v-model="faceType">
                <option selected value="ANGRY">화난 표정</option>
                <option value="SMILE">웃는 표정</option>
                <option value="CHAPLIN">채플린</option>
                <option value="SUNGLASSES">선글라스</option>
                <option value="SHINING">샤이닝</option>
                <option value="SLEEPING2">잠자기</option>
              </select>
                <button @click="changeFace('picture')">함께사진찍기 변경</button>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div v-else>
        <ul>
          <li>
            <ul>
              <li>주요 페이지 이동 요청<br>
                <select id="bridge3" v-model="topicMsg">
                  <option value="request|moveto/Boot Page">로딩화면</option>
                  <option value="request|moveto/Boot Password Page">비밀번호입력화면</option>
                  <option value="request|moveto/Admin Front Page">어드민 첫화면</option>
                  <option value="request|moveto/Main List Page">메인 페이지</option>
                  <option value="request|moveto/Medical Department detail-Neurosurgery">신경외과</option>
                  <option value="request|moveto/Location Search">초성검색</option>
                  <option value="request|moveto/Voice Search Page">음성검색</option>
                  <option value="request|moveto/Monitor Page">모니터</option>
                  <option value="request|moveto/Patrol">순찰/이동 화면</option>
                  <option value="request|moveto/Select Avatar">함께사진찍기 화면</option>
                  <option value="request|moveto/Patrol Code Scan">코드스캔 화면 이동</option>
                  <option value="request|moveto/Patrol Fire Detection">화재감지 화면 이동</option>
                  <option value="request|moveto/Patrol Take Picture">사진찍기 화면 이동</option>
                </select>
                <button @click="requestToBridgeSetView">이동</button>
              </li>
              <li>부팅 화면<br>
                <button @click="()=>{
                  eventsObj ={
                  name: EVENTS.TEST.TO_BRIDGE,
                  param: 'request|data'
                  }
                  emitEvent()
                }">데이터 발송 요청
                </button>
              </li>
              <li>어드민
                <ul>
                  <li>
                    <button @click="()=>{eventsObj ={name: EVENTS.TEST.TO_BRIDGE,
                          param: 'request|changeBattery'};emitEvent();}"
                    >배터리 수치 요청
                    </button>
                    <br/>
                    <button @click="()=>{eventsObj ={name: EVENTS.TEST.TO_BRIDGE,
                          param: 'request|changeCharging'};emitEvent();}"
                    >충전 변경 요청
                    </button>
                  </li>
                </ul>
              </li>
              <li>메인
                <ul>
                  <li><select id="settingType" v-model="eventsObj">
                    <option selected :value="{
                  name: EVENTS.TEST.TO_BRIDGE,
                  param: 'request|emergencyClose'
                  }">비상호출 창 강제 닫기 요청
                    </option>
                  </select>
                    <button @click="emitEvent">실행</button>
                  </li>
                </ul>
              </li>
              <li>모니터링/순찰/충전/사진 표정변경<br>
                <select id="bridge4" v-model="topicMsg">
                  <option value="request|changeFace Monitor BASIC">모니터 대기 베이직</option>
                  <option value="request|changeFace Monitor CHAPLIN">모니터 안내 채플린</option>
                  <option value="request|changeFace Monitor BASIC">모니터 충전이동 베이직</option>
                  <option value="request|changeFace Monitor EAT">모니터 충전이동 먹기</option>
                  <option value="request|changeFace Patrol ANGRY">순찰 이동 앵그리</option>
                  <option value="request|changeFace Patrol SURPRISED">순찰 이상감지 (표정없음)</option>
                  <option value="request|changeFace Patrol EAT">순찰 먹기</option>
                  <option value="request|changeFace ShotAvatar SUNGLASSES">사진찍기 선글라스</option>
                  <!--              <option value="SUNGLASSES">선글라스</option>-->
                  <!--              <option value="SHINING">샤이닝</option>-->
                  <!--              <option value="SLEEPING2">잠자기</option>-->
                </select>
                <button @click="requestToBridge">요청</button>
              </li>
              <li> 프론트에서 브릿지로<br>
                <select id="bridge2" v-model="topicMsg">
                  <option value='timeout'>타임아웃</option>
                  <option
                      value="data|{'setting': {'day': '08:00-17:30','night': '18:00-07:00','patrol': '22:00-23:30--04:00','temp': 'under-37'}}">
                    서버로 설정 데이터
                  </option>
                  <option value='initial|ㅇㄱ'>'ㅇㄱ' 초성검색 요청</option>
                  <option value='voice recognition'>음성검색 시작</option>
                  <option value='picture|5s'>함께사진 5초남음</option>
                  <option value='picture|touch'>함께사진 15초지연</option>
                  <option value='fire|popup_off'>화재팝업 꺼짐</option>
                </select>
                <button @click="requestToBridge">발송</button>
              </li>
              <li> 브릿지에서 프론트로<br>
                <select id="bridge1" v-model="topicMsg">
                  <option value='request|data'>초기설정발송</option>
                  <option value='request|changeCharging'>도킹상태변경</option>
                  <option value='request|changeBattery'>배터리수치변경</option>
                  <option value='request|preventon'>화면 터치|활성</option>
                  <option value='request|preventoff'>화면 터치|끄기</option>
                  <option value='request|emergencyClose'>비상호출팝업|강제닫기</option>
                  <option value='request|firePopup_on'>화재감지팝업|열기</option>
                  <option value='request|firePopup_off'>화재감지팝업|닫기</option>
                </select>
                <button @click="requestToBridge">요청</button>
              </li>
              <li> 초성검색 결과 프론트로<br>
                <input v-model="chosungResult">
                <button @click="requestToBridgeChosungResult">요청</button>
              </li>
              <li> 음성검색 결과 프론트로<br>
                <input v-model="voiceKeyword">
                <input v-model="voiceResult">
                <button @click="requestToBridgeVoiceResult">요청</button>
              </li>
              <li> 함께사진찍기 브릿지로<br>
                <select id="bridge2" v-model="topicMsg">
                  <option value="avatar|ANGRY">화난 표정</option>
                  <option value="avatar|SMILE">웃는 표정</option>
                  <option value="avatar|CHAPLIN">채플린</option>
                  <option value="avatar|SUNGLASSES">선글라스</option>
                  <option value="avatar|SHINING">샤이닝</option>
                  <option value="avatar|SLEEPING2">잠자기</option>
                </select>
                <button @click="requestToBridge">발송</button>
                <br>
                <select id="bridge2" v-model="topicMsg">
                  <option value="dress|dress1">의복1</option>
                  <option value="dress|dress2">의복2</option>
                  <option value="dress|dress3">의복3</option>
                  <option value="dress|dress4">의복4</option>
                </select>
                <button @click="requestToBridge">발송</button>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import Header from "@/components/global/Header";
import ROSLIB from "roslib";
import {EVENTBUS, EVENTS, prepareBaseContentEvents} from "@/helpers/eventHelper";
import {ros, PUB} from "@/helpers/apiHelper";
import {mockData} from "@/assets/mock-data";

/**
 * @vuese
 * @group 메인-기본
 * 헤더와 컨텐츠 본문을 담는 베이스 컨테이너
 */
export default {
  name: "BaseContentsContainer.vue",
  components: {Header},
  mounted() {
    // 프론트 -> 브릿지 일반
    PUB.toBridge = new ROSLIB.Topic({
      ros: ros,
      name: '/dt/front_end/front_end_to_bridge',
      messageType: 'std_msgs/String'
    });
    prepareBaseContentEvents(this);
  },
  data() {
    return {
      // 테스트 UI 보이기 숨기기
      isTesting: false,
      // 프론트/브릿지 테스트 여부
      isFrontTest: true,

      topicMsg: '',
      faceType: '',
      settingType: '',
      path: '',
      toBridge: '',
      toBridgeSetView: '',
      chosungResult: '외과, 신경외과, 흉부외과',
      voiceKeyword: '외과, 신경외과, 흉부외과',
      voiceResult: '외과는 어디야',

      charging: false,
      eventsObj: '',
    }
  },
  methods: {
    resetLeftTimeAndEndInput() {
      console.group("화면 클릭해서 타임아웃 다시 시작");
      const path = this.$route.path
      const preventReset = () => {
        return path === "/monitor" ||
            // path === "/main/voice-search" ||
            path === "/main/take-picture/shot-avatar" ||
            this.$DB.stopForPageMove || // 페이지 이동 중
            this.$DB.stopForPopup // 팝업 켜졌을 때
      }
      const isMain = () => {
        return path.includes("main")
      }
      console.log(isMain() && !preventReset() ? '함' : '안함' )
      console.log("isMain :",isMain(), "!preventReset :", !preventReset() )
      if(isMain() && !preventReset()) EVENTBUS.$emit(EVENTS.MAIN.COUNTING.RESTART)
      console.groupEnd();
    },


    // 브릿지 미연결 시 프론트 자체적으로 테스트
    sendMockData() {
      this.$router.push('/')
      setTimeout(() => {
        EVENTBUS.$emit(EVENTS.RECEIVE.DATA, mockData)
      }, 500)
    },
    removeAdminSetting() {
      this.$DB.setting[this.settingType] = ''
    },
    alterAdminSetting(name, value) {
      this.$DB.setting[name] = value
    },
    changeFace(page) {
      console.log(this.$DB.avatar[page])
      this.$DB.avatar[page] = this.faceType
      console.log(this.$DB.avatar[page])
    },
    moveTo() {
      this.$DB.stopForPageMove = true
      this.$router.push(this.path)
    },
    setBattery() {
      function getRandomInt(max) {
        return Math.floor(Math.random() * Math.floor(max));
      }

      const randNom = getRandomInt(100)
      EVENTBUS.$emit(EVENTS.RECEIVE.BATTERY_STATUS, {data: randNom})
    },
    toggleCharging() {
      this.charging = !this.charging
      EVENTBUS.$emit(EVENTS.RECEIVE.CHARGING_STATUS, {data: this.charging})
    },
    // 브릿지 연결 시 요청 테스트
    requestToBridge() {
      EVENTBUS.$emit(EVENTS.TEST.TO_BRIDGE, this.topicMsg);
    },
    requestToBridgeSetView() {
      EVENTBUS.$emit(EVENTS.TEST.SET_VIEW);
    },
    requestToBridgeChosungResult() {
      EVENTBUS.$emit(EVENTS.TEST.INITIAL_SEARCH_RESULT)

    },
    requestToBridgeVoiceResult() {
      EVENTBUS.$emit(EVENTS.TEST.VOICE_SEARCH_RESULT)
    },
    emitEvent() {
      if (this.eventsObj.param) {
        EVENTBUS.$emit(this.eventsObj.name, this.eventsObj.param)
      } else {
        EVENTBUS.$emit(this.eventsObj.name)
      }
    },
    setInitialResult() {
      let res;
      let arr = [];
      this.chosungResult.split(',').forEach((keyword) => {
        arr.push(keyword.trim());
      });
      if (arr.length === 0) {
        arr = 'no result';
      }
      res = {
        result: arr
      }
      EVENTBUS.$emit(EVENTS.RECEIVE.INITIAL_SEARCH_RESULT, JSON.stringify(res));
    },
    setVoiceResult() {
      let res;
      let arr = [];
      this.voiceKeyword.split(',').forEach((keyword) => {
        arr.push(keyword.trim());
      });
      res = {
        result: this.voiceResult,
        keyword: arr,
      };
      EVENTBUS.$emit(EVENTS.RECEIVE.VOICE_SEARCH_RESULT, JSON.stringify(res));
    },
  },
  computed: {
    isNoHeaderPage() {
      return this.$route.path.includes("monitor") || this.$route.path.includes("boot") || this.$route.path.includes("admin") ||
          this.$route.path === "/patrol" || this.$route.path === "/main/take-picture/shot-avatar"
    },
    isAdmin() {
      return this.$route.path === '/boot/password' || this.$route.path.includes('admin/setting')
    },
    EVENTS() {
      return EVENTS;
    }
  }
};
</script>

<style scoped>
.testList {
  position: absolute;
  top: 20px;
  left: 1950px;
}

.testList h2 {
  font-size: 30px;
  padding-bottom: 15px;
}

.testList li input,
.testList li select,
.testList li button,
.testList li {
  padding: 10px;
  font-size: 20px;
}

.freeze {
  /* disable all mouse events on subElements */
  pointer-events: none;
}
</style>
