<template>
  <!--
  dialog tag
  https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dialog

  structure
  https://adamwathan.me/2016/01/04/composing-reusable-modal-dialogs-with-vuejs/
  https://levelup.gitconnected.com/how-to-create-a-reusable-modal-dialog-component-in-angular-8-241cc738d260
   -->
  <div>
    <emergency-call-popup
        :modal-data="this.modalData"
        :modal-type="this.modalType"
        :show.sync="this.sosWarningShow"
        @close="close"
    />
    <fire-detection-popup
        :modal-data="this.modalData"
        :modal-type="this.modalType"
        :show.sync="this.generalWarningShow"
        @close="close"
    />
    <doctor-profiles-popup
        :modal-data="this.modalData"
        :modal-type="this.modalType"
        :show.sync="this.doctorProfilesShow"
        @close="close"
    />
    <confirm-popup
        :modal-data="this.modalData"
        :modal-type="this.modalType"
        :show.sync="this.confirmShow"
        @close="close"
    />
  </div>
</template>

<script>
import EmergencyCallPopup from "@/components/global/EmergencyCallPopup";
import DoctorProfilesPopup from "@/components/global/DoctorProfilesPopup";
import FireDetectionPopup from "@/components/global/FireDetectionPopup";
import ConfirmPopup from "@/components/global/ConfirmPopup";
import {EVENTBUS, EVENTS} from "@/helpers/eventHelper";
/**
 * @vuese
 * @group 다이얼로그
 * 설명
 */
export default {
  name: "Dialog",
  components: {
    ConfirmPopup,
    FireDetectionPopup,
    DoctorProfilesPopup,
    EmergencyCallPopup
  },
  mounted() {
    this.regChangeDialogStatus();
  },
  data() {
    return {
      sosWarningShow: false,
      generalWarningShow: false,
      doctorProfilesShow: false,
      confirmShow: false,
      modalType: false,
      modalData: {},
      show: false,
    }
  },
  watch: {
    // @vuese
    // 이벤트다
    show: function (val) {
      if (val) {
        // 팝업에 보여줄 자료가 설정되기 전에 팝업이 먼저 보여지는 현상 때문에 틱 지연시킴
        this.$nextTick(() => {
          this[`${this.modalType}Show`] = true;
          // @Todo 열릴때 팝업 이름 안 보내줘도 되나?
          // EVENTBUS.$emit("send-status",
          //     {
          //       pageName: this.$route.name,
          //       pageParameter: this.$route.params.name ? this.$route.params.name : ''
          //     })
        })
      } else {
        console.log('modalType', this.modalType);
        this[`${this.modalType}Show`] = false;
        EVENTBUS.$emit(EVENTS.SEND.STATUS,
            {
              pageName: this.$route.name,
              pageParameter: this.$route.params.name ? this.$route.params.name : ''
            })
      }
    },
  },
  methods: {
    // @vuese
    // EVENTS.DIALOG.CHANGE_DIALOG_STATUS 등록
    regChangeDialogStatus() {
      EVENTBUS.$on(EVENTS.DIALOG.CHANGE_DIALOG_STATUS, (msgObj) => {
        if (msgObj.show) {
          this.modalType = msgObj.modalType
          this.modalData = msgObj.modalData
          this.show = msgObj.show;
        } else {
          console.log("msgobj show", msgObj.show);
          this.show = msgObj.show;
        }
      })
    },
    close() {
      this.show = false;
    },
  },
}
</script>

<style scoped>

</style>