<template>
  <div id="modal-content-wrapper">
    <dialog ref="dialog">
      <div id="modal-header">
        <h1 id="modal-title">{{ departmentName }} 전문의</h1>
        <img src="~@/assets/img/department-detail/popup-close.svg" @click="confirm">
      </div>
      <section id="modal-body">
        <div :class="{ available: isPreviousAvailable, active: isLeftClicked }"
             class="left-btn"
             @click="moveToPreviousPage('isLeftClicked')"
        >
        </div>
        <div class="cover">
          <div class="face">
            <img
                class="img"
                :src="extractShowPart[0].picture"
            >
          </div>
          <div class="divider"></div>
          <div class="name-and-title">
            <h1 class="name">{{ extractShowPart[0].name }}</h1>
            <h2 class="job-title">{{ extractShowPart[0].title }}</h2>
          </div>
        </div>
        <div class="history">
          <div class="major clearfix">
            <h1>주진료분야</h1>
            <ul>
              <li>
                {{ extractShowPart[0].major }}
              </li>
            </ul>
          </div>
          <div class="education clearfix">
            <h1>학력</h1>
            <ul>
              <li v-for="item in extractShowPart[0].education" :key="item.ord">
                {{ item.value }}
              </li>
            </ul>
          </div>
          <div class="carrier clearfix">
            <h1>경력</h1>
            <ul>
              <li v-for="item in extractShowPart[0].career" :key="item.ord">
                {{ item.value }}
              </li>
            </ul>
          </div>
          <div class="academy clearfix">
            <h1>학회</h1>
            <ul>
              <li v-for="item in extractShowPart[0].academy" :key="item.ord">
                {{ item.value }}
              </li>
            </ul>
          </div>
        </div>
        <div :class="{ available: isNextAvailable, active: isRightClicked }"
             class="right-btn"
             @click="moveToNextPage('isRightClicked')">
        </div>
      </section>
    </dialog>
  </div>
</template>


<script>
import moveHelper from "@/helpers/moveHelper";
import {EVENTBUS, EVENTS} from "@/helpers/eventHelper";
/**
 * @vuese
 * @group 다이얼로그
 * 설명
 */
export default {
  name: "DoctorProfilesPopup",
  props: ['show', 'modalType', 'modalData'],
  data() {
    return {
      currentPageIndex: 1,
      unit: 1,

      // 좌우 버튼 선택 여부값
      isLeftClicked: false,
      isRightClicked: false,

      timeoutId: 0
    }
  },
  beforeDestroy() {
    clearTimeout(this.timeoutId);
  },
  watch: {
    show(val, oldVal) {
      // 부모 close 실행-> 자식 close 실행 -> 부모 close 실행 순환 막기
      if(val === oldVal)  return

      if (val === true && this.modalType === 'doctorProfiles') {
        this.open();
      } else {
        this.close();
      }
      console.log('의사팝업 쇼우')
    },
    currentPageIndex() {
      this.isLeftClicked = false;
      this.isRightClicked = false;
    }
  },
  computed: {
    department() {
      return this.modalData.department ? this.modalData.department
          : {
            title_korean: '', doctors: [
              {
                id: 1,
                ord: 1,
                picture: "",
                name: "",
                title: "",
                major: "",
                education: [
                  {
                    ord: 1,
                    value: ""
                  }
                ],
                career: [
                  {
                    ord: 1,
                    value: ""
                  },
                ]
              },
            ]
          }
    },
    departmentName() {
      return this.department.title_korean
    },
    // 해당 진료과 의료진 데이터
    doctors() {
      return this.department.doctors
    },
    extractShowPart() {
      const startIndex = this.currentPageIndex - 1;
      const endIndex = this.currentPageIndex;
      return this.doctors.slice(startIndex, endIndex);
    },
    isNextAvailable() {
      return this.currentPageIndex < this.maxPageIndex;
    },
    isPreviousAvailable() {
      return this.currentPageIndex > 1;
    },
    maxPageIndex() {
      return this.doctors.length;
    }
  },
  methods: {
    playSound(sound) {
      if (sound) {
        const audio = new Audio(sound);
        audio.play();
      }
    },
    open() {
      this.currentPageIndex = this.modalData.profileNumber;
      this.$refs.dialog.showModal();
      clearTimeout(this.timeoutID)
      this.timeoutId = setTimeout(()=>{
        EVENTBUS.$emit(EVENTS.SEND.TIMEOUT)
        this.$emit('close');

        this.$DB.stopForPopup = false
        this.$DB.stopForPageMove = true
        this.$router.push('/monitor');
      },20000)
    },
    confirm() {
      this.playSound('/sound/button_touch_1.wav');
      // 버튼 선택 여부값 변경하고 0.3초 후 팝업 닫음
      this.isClicked = true;
      setTimeout(() => {
        // BaseContentsContainer 에서 restart 실행될 수 있게 값을 설정
        this.$DB.stopForPopup = false
        this.modalData.confirmAction && this.modalData.confirmAction();
        EVENTBUS.$emit(EVENTS.MAIN.COUNTING.RESTART)
        this.$emit('close');
      }, 300);
    },
    close() {
      this.$refs.dialog.close();
    },
    showNextPage() {
      if (this.isNextAvailable) {
        this.currentPageIndex += 1;
      }
    },
    showPreviousPage() {
      if (this.isPreviousAvailable) {
        this.currentPageIndex -= 1;
      }
    },
    // 좌우 버튼 클릭 시 active 클래스 적용하고 0.3초 후 페이지 이동
    moveToNextPage(status) {
      if (this.isNextAvailable) {
        this.playSound('/sound/button_touch_1.wav');
        moveHelper.setActiveClass(status, this);
        moveHelper.doAfterDelay(this.showNextPage);
      }
    },
    moveToPreviousPage(status) {
      if (this.isPreviousAvailable) {
        this.playSound('/sound/button_touch_1.wav');
        moveHelper.setActiveClass(status, this);
        moveHelper.doAfterDelay(this.showPreviousPage);
      }
    },
  },
}
</script>

<style scoped>
/* POPUP */
#modal-content-wrapper {
  position: absolute;
  top: 540px;
  left: 960px;
}

dialog {
  position: absolute;
  top: 223px;
  left: 295px;

  width: 1330px;
  height: 682px;
  margin-left: 0;
  margin-top: -24px;

  padding: 0;
  border-radius: 30px;
  overflow: hidden;
  border: none;
  box-sizing: border-box;
}

dialog::backdrop {
  width: 1920px;
  height: 1080px;
  background: rgba(0, 0, 0, 0.9);
}

dialog #modal-header {
  padding-top: 28px;
  width: 1330px;
  height: 105px;
  background-color: #455b9d;
  margin: 0 auto;
  box-sizing: border-box;
}

dialog #modal-header img {
  width: 80px;
  height: 80px;

  position: absolute;
  left: 1226px;
  top: 13px;
}

dialog #modal-title {
  text-align: center;
  font-family: NotoSansKR;
  font-size: 34px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: normal;
  color: #ffffff;
}

dialog #modal-body {
  display: grid;
  /* for putting 3rd, 4th box into 3rd column together */
  grid-auto-flow: column dense;
  grid-template-columns:  117px 370px 725px 117px;
  grid-template-rows: 577px;
}

dialog #modal-body .left-btn {
  background-color: #f5f5f5;
}

dialog #modal-body .right-btn {
  background-color: #f5f5f5;
}

dialog #modal-body .left-btn.available::before {
  content: "";
  display: block;
  width: 37px;
  height: 27px;
  background: url("~@/assets/img/department-detail/deactive-left-arrow.svg");

  position: absolute;
  bottom: 266px;
  left: 37px;
}

dialog #modal-body .right-btn.available::before {
  content: "";
  display: block;
  width: 37px;
  height: 27px;
  background: url("~@/assets/img/department-detail/deactive-right-arrow.svg");

  position: absolute;
  bottom: 266px;
  right: 47px;
  background-size: cover;
}

dialog #modal-body .left-btn.active,
dialog #modal-body .right-btn.active {
  background-color: #6080e8;
}

dialog #modal-body .left-btn.available.active::before {
  background: url("~@/assets/img/department-detail/active-left-arrow.svg");
}

dialog #modal-body .right-btn.available.active::before {
  background: url("~@/assets/img/department-detail/active-right-arrow.svg");
}

dialog #modal-body .doctor-list {
  grid-column: 2/6;
  border-top: 1px solid #d6d6d6;

  display: grid;
  /* for putting 3rd, 4th box into 3rd column together */
  grid-auto-flow: column dense;
  grid-template-columns:  repeat(4, 370px);
  /*grid-template-rows: 228px 489px;*/
}

dialog #modal-body .cover .face {
  margin-top: 90px;
  padding-left: 60px;
}

dialog #modal-body .cover .divider {
  position: absolute;
  border-left: 1px solid #d6d6d6;
  height: 579px;
  top: 105px;
  left: 485px;
}

dialog #modal-body .name-and-title {
  margin-top: 28px;
}

dialog #modal-body .cover .name {
  font-family: NotoSansKR;
  font-size: 35px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.88px;
  color: #6080e8;
  text-align: center;
}

dialog #modal-body .cover .job-title {
  font-family: NotoSansKR;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2e4388;
  text-align: center;
}

dialog #modal-body .history {
  padding-top: 36px;
  padding-left: 55px;
  padding-bottom: 30px;
}

dialog #modal-body .history h1 {
  width: 150px;
  height: 50px;
  border-radius: 25px;
  background-color: #e9ecf5;

  font-family: NotoSansKR;
  line-height: 50px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #333333;
}

dialog #modal-body .history li {
  font-family: NotoSansKR;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333333;
}

dialog #modal-body .history h1,
dialog #modal-body .history ul {
  float: left;
}

.clearfix {
  clear: both;
}

dialog #modal-body .history ul {
  margin-left: 39px;
}

dialog #modal-body .history > div:nth-child(n+2) {
  padding-top: 16px;
}
</style>