<template>
  <div id="modal-content-wrapper">
    <dialog ref="dialog">
      <div v-if="modalData && modalData.title" id="modal-header">
        <img v-show="modalData.isSos" id="modal-logo" src="~@/assets/img/common/modal-top-sos.svg">
        <h1 id="modal-title">{{ modalData.title }}</h1>
      </div>
      <section id="modal-body">
        <p id="modal-description">{{ modalData.description }}</p>
      </section>
      <div id="modal-footer">
        <!--        <button id="modal-action-button" @click="modalData.action()">-->
        <!--          {{ modalData.actionButtonText }}-->
        <!--        </button>-->
        <button
            v-show="modalData.closeButtonText"
            id="modal-close-button"
            :class="{ 'active': isClicked, 'disable': cancelBtnDisabled }"
            :disabled="cancelBtnDisabled"
            @click="confirm"
        >
          {{ modalData.closeButtonText }}
        </button>
      </div>
    </dialog>
  </div>
</template>

<script>
import {EVENTBUS, EVENTS} from "@/helpers/eventHelper";

/**
 * @vuese
 * @group 다이얼로그
 * 설명
 */
export default {
  name: "EmergencyCallPopup",
  props: ['show', 'modalType', 'modalData'],
  data() {
    return {
      // 버튼 선택 여부값
      isClicked: false,
      cancelBtnDisabled: false,
      timeoutId: 0,
    }
  },
  watch: {
    show: function (val, oldVal) {
      // 부모 close 실행-> 자식 close 실행 -> 부모 close 실행 순환 막기
      if (val === oldVal) return

      if (val === true && this.modalType === 'sosWarning') {
        this.open();
      } else {
        this.close();
      }
    }
  },
  methods: {
    playSound(sound) {
      if (sound) {
        const audio = new Audio(sound);
        audio.play();
      }
    },
    open() {
      // 버튼 선택 여부값 초기화
      this.isClicked = false;
      this.cancelBtnDisabled = false;
      this.$refs.dialog.showModal();
      this.disableBtn();
      // 비상호출 신호를 브릿지로 발송
      // @arg 없음
      EVENTBUS.$emit(EVENTS.SEND.EMERGENCY_CALL);
      this.$nextTick(() => {
        // EVENTBUS.$emit(EVENTS.MAIN.COUNTING.STOP)
      })
    },
    confirm() {
      this.playSound('/sound/button_touch_1.wav');
      // 버튼 선택 여부값 변경하고 0.3초 후 팝업 닫음
      this.isClicked = true;
      setTimeout(() => {
        clearTimeout(this.timeoutId);
        // BaseContentsContainer 에서 restart 실행될 수 있게 값을 설정
        this.$DB.stopForPopup = false
        EVENTBUS.$emit(EVENTS.SEND.EMERGENCY_CANCEL);
        this.$emit('close');
      }, 300);
    },
    close() {
      EVENTBUS.$emit(EVENTS.MAIN.COUNTING.RESTART)
      this.$refs.dialog.close();
    },
    disableBtn() {
      this.timeoutId = setTimeout(() => {
        console.log('5 secs passed, cancel disabled');
        this.cancelBtnDisabled = true;
      }, 5000);
    },
  },
}
</script>

<style scoped>
/* POPUP */
#modal-content-wrapper {
  position: absolute;
  top: 540px;
  left: 960px;
}

dialog {
  /*width: 1920px;*/
  /*height: 1080px;*/
  position: absolute;
  top: 540px;
  left: 960px;
  margin-left: -425px;
  margin-top: -202px;
  width: 850px;
  height: 542px;
  box-shadow: 0 49px 75px 0 rgba(32, 54, 119, 0.5);
  border: solid 1px #979797;
  background-color: #ffffff;
  border-radius: 30px;
  box-sizing: border-box;
}

dialog::backdrop {
  width: 1920px;
  height: 1080px;
  background: rgba(0, 0, 0, 0.9);
}

dialog #modal-header {
  margin-top: 65px;
}

dialog #modal-logo {
  margin: 0 auto;
  width: 100%;
  height: 80px;
}

dialog #modal-title {
  margin: 0 auto;
  /*width: 518px;*/
  /*height: 80px;*/
  font-family: NotoSansKR;
  font-size: 45px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.78;
  letter-spacing: normal;
  text-align: center;
  color: #ff0000;
}

dialog #modal-description {
  margin: 0 auto;
  /*width: 330px;*/
  /*height: 52px;*/
  font-family: NotoSansKR;
  font-size: 35px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #2e4388;
}

dialog #modal-footer {
  margin: 45px auto 0 auto;
  width: 300px;
}

dialog button#modal-close-button {
  margin: 0 auto;
  padding: 15px 32px;
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #2e4388;

  width: 300px;
  height: 120px;
  border-radius: 10px;
  border: solid 2px #2e4388;
  background-color: #ffffff;
}

dialog button#modal-close-button.active {
  border-radius: 10px;
  border: solid 2px #6080e8;
  background-color: #6080e8;
  color: #ffffff;
}

dialog button#modal-close-button.disable {
  border-radius: 10px;
  border: solid 2px #bebebe;
  background-color: #ffffff;
  color: #bebebe;
}

button:focus {
  outline: none;
}
</style>