<template>
  <div id="modal-content-wrapper">
    <dialog ref="dialog">
      <div v-if="modalData && modalData.title" id="modal-header">
        <img v-show="modalData.isSos" id="modal-logo" src="~@/assets/img/common/modal-top-sos.svg">
        <h1 id="modal-title">{{ modalData.title }}</h1>
      </div>
      <section id="modal-body">
        <p id="modal-description">{{ modalData.description }}</p>
      </section>
      <div id="modal-footer">
        <!--        <button id="modal-action-button" @click="modalData.action()">-->
        <!--          {{ modalData.actionButtonText }}-->
        <!--        </button>-->
        <button
            v-show="modalData.closeButtonText"
            id="modal-close-button"
            :class="{ active: isClicked }"
            @click="confirm"
        >
          {{ modalData.closeButtonText }}
        </button>
      </div>
    </dialog>
  </div>
</template>

<script>
import {EVENTBUS, EVENTS} from "@/helpers/eventHelper";
/**
 * @vuese
 * @group 다이얼로그
 * 설명
 */
export default {
  name: "FireDetectionPopup",
  props: ['show', 'modalType', 'modalData'],
  data() {
    return {
      // 버튼 선택 여부값
      isClicked: false,
      internalShow: false,
    }
  },
  watch: {
    show(val, oldVal) {
      // 부모 close 실행-> 자식 close 실행 -> 부모 close 실행 순환 막기
      if (val === oldVal) return

      if (val === true && this.modalType === 'generalWarning') {
        this.open();
      } else {
        this.close();
      }
    }
  },
  methods: {
    open() {
      // 버튼 선택 여부값 초기화
      this.isClicked = false;
      this.$refs.dialog.showModal();
    },
    confirm() {
      // 버튼 선택 여부값 변경하고 0.3초 후 팝업 닫음
      this.isClicked = true;
      setTimeout(() => {
        this.$emit('close');
      }, 300);
    },
    close() {
      console.log('클로즈')
      // 닫힘 신호 눌러서 닫히든, 확인 버튼 눌러서 닫히든.
      // 브릿지로 POPUP_OFF 신호 보내기
      EVENTBUS.$emit(EVENTS.SEND.FIRE_POPUP_OFF)
      this.$refs.dialog.close();
    }
  },
}
</script>

<style scoped>
/* POPUP */
#modal-content-wrapper {
  position: absolute;
  top: 540px;
  left: 960px;
}

dialog {
  /*width: 1920px;*/
  /*height: 1080px;*/
  position: absolute;
  top: 520px;
  left: 960px;
  margin-left: -425px;
  margin-top: -202px;
  width: 850px;
  height: 502px;
  box-shadow: 0 49px 75px 0 rgba(32, 54, 119, 0.5);
  border: solid 1px #979797;
  background-color: #ffffff;
  border-radius: 30px;
  box-sizing: border-box;
}

dialog::backdrop {
  width: 1920px;
  height: 1080px;
  background: rgba(0, 0, 0, 0.9);
}

dialog #modal-header {
  margin-top: 76px;
}

dialog #modal-logo {
  margin: 0 auto;
  width: 100%;
  height: 80px;
}

dialog #modal-title {
  margin: 0 auto;
  /*width: 518px;*/
  /*height: 80px;*/
  font-family: NotoSansKR;
  font-size: 45px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.78;
  letter-spacing: normal;
  text-align: center;
  color: #ff0000;
}

dialog #modal-description {
  margin: 0 auto;
  /*width: 330px;*/
  /*height: 52px;*/
  font-family: NotoSansKR;
  font-size: 35px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #2e4388;
}

dialog #modal-footer {
  margin: 45px auto 0 auto;
  width: 300px;
}

dialog button#modal-close-button {
  margin: 0 auto;
  padding: 15px 32px;
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #2e4388;

  width: 300px;
  height: 120px;
  border-radius: 10px;
  border: solid 2px #2e4388;
  background-color: #ffffff;
}

dialog button#modal-close-button.active {
  border-radius: 10px;
  border: solid 2px #6080e8;
  background-color: #6080e8;
  color: #ffffff;
}

button:focus {
  outline: none;
}
</style>