<template>
  <header>
    <div class="left">
      <div
          v-if="showEmergencyButton"
          class="btn emergency"
          @click="emergencyCall"
      >
        <img
            class="btn__icon"
            src="@/assets/img/header/emergency-btn.svg"
        />
        <p class="btn__left-caption">응급호출</p>
      </div>
    </div>

    <div class="logo">
      <img
          alt="경상남도 마산의료원 로고"
          src="@/assets/img/header/logo.png"
          srcset="@/assets/img/header/logo@2x.png 2x, @/assets/img/header/logo@3x.png 3x"
          @click="operateHiddenButton"
      />
    </div>

    <div class="right">
      <div
          v-if="showCloseButton"
          class="btn close"
          @click="close"
      >
        <img
            class="btn__icon"
            src="@/assets/img/header/close-btn.svg"
        />
        <p class="btn__right-caption">닫기</p>
      </div>
      <div
          v-if="showHomeButton"
          class="btn home"
          @click="home"
      >
        <img
            class="btn__icon"
            src="@/assets/img/header/home-btn.svg"
        />
        <p class="btn__right-caption">홈</p>
      </div>
      <div
          v-if="showBackButton"
          class="btn back"
      >
        <img
            class="btn__icon"
            src="@/assets/img/header/back-btn.svg"
            @click="historyBack"
        />
        <p class="btn__right-caption">뒤로가기</p>
      </div>
    </div>
  </header>
</template>

<script>
import {EVENTBUS, EVENTS} from "@/helpers/eventHelper";

/**
 * @vuese
 * @group 메인-기본
 * 헤더부
 */
export default {
  name: "Header",
  data: function (){
    return {
      clickCount: 0,
      exitBtnShow: true,
    };
  },
  computed: {
    showEmergencyButton() {
      return this.$route.path === "/main/";
    },
    showCloseButton() {
      return this.$route.path.includes("admin/setting") || this.$route.path === "/main/";
    },
    showBackButton() {
      return (
          this.$route.path.includes("information") ||
          this.$route.path.includes("main/take-picture") ||
          this.$route.path.includes("voice")
      );
    },
    showHomeButton() {
      return this.$route.path.includes("information/");
    }
  },
  methods: {
    playSound(sound) {
      if (sound) {
        const audio = new Audio(sound);
        audio.play();
      }
    },
    incrementClickCount: function () {
      this.clickCount += 1;
      console.log(this.clickCount);
    },
    operateHiddenButton() {
      // admin 화면에서는 히든버튼 동작 안함
      if (this.$route.fullPath.includes("/admin")) return;
      this.incrementClickCount();
      if (this.clickCount === 5) {
        this.$DB.stopForPageMove = true
        this.$router.push("/admin/front");
        this.clickCount = 0;
      }
    },
    historyBack(e) {
      this.$DB.stopForPageMove = true
      this.playSound('/sound/button_touch_1-1.wav');
      this.addAndRemoveActive(e.srcElement, () => {
        if (this.$route.fullPath.includes("/voice-search")){
          this.$router.push("/main/");
        }else {
          this.$router.go(-1);
        }
      })
    },
    home(e) {
      this.$DB.stopForPageMove = true
      this.playSound('/sound/button_touch_1-1.wav');
      this.addAndRemoveActive(e.srcElement, () => {
        this.$router.push("/main/");
      })
    },
    close(e) {
      this.$DB.stopForPageMove = true
      this.playSound('/sound/button_touch_1-1.wav');
      this.addAndRemoveActive(e.srcElement, () => {
        this.$router.push("/monitor");
        EVENTBUS.$emit(EVENTS.SEND.TIMEOUT)
      })
    },
    // '응급호출' 버튼 선택 시 신호 발송 & 팝업 오픈
    emergencyCall() {
      this.$DB.stopForPopup = true
      this.playSound('/sound/button_touch_1.wav');
      // BaseContentsContainer 에서 restart prevent 되도록 값을 설정
      // 메인 화면에서 돌고 있는 카운터 정지
      EVENTBUS.$emit(EVENTS.MAIN.COUNTING.STOP)
      EVENTBUS.$emit(EVENTS.DIALOG.CHANGE_DIALOG_STATUS, {
        modalType: "sosWarning",
        modalData: {
          isSos: true,
          title: '비상 호출이 요청되었습니다',
          description: '모니터링을 실시합니다',
          closeButtonText: '취소'
        },
        show: true
      })
    },
    addAndRemoveActive(el, callback) {
      el.classList.add('active');
      setTimeout(() => {
        el.classList.remove('active');
        callback()
      }, 300)
    },
  }
};
</script>

<style scoped>

/* HEADER */
header {
  background-color: #455b9d;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 140px;
  border-bottom: 1px solid rgba(19, 20, 2, .3);
}

header .left {
  padding-top: 15px;
  padding-left: 50px;
  box-sizing: border-box;
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
}

header .logo {
  display: grid;
  place-items: center;
  padding-top: 3px;
}

header .logo img {
  width: 343px;
  height: 55px;
}

header .right {
  padding-top: 17px;
  padding-right: 50px;
  box-sizing: border-box;
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
}

header .right .btn {
  padding-left: 20px;
}

/* BTN */
header .btn {
  width: 80px;
  display: grid;
  flex-basis: 0;
  grid-template-rows: 80px 1fr;
  align-items: start;
  position: relative;
}

.btn.home .btn__icon {
  filter: brightness(1);
}

.btn.home .btn__icon.active {
  filter: brightness(1.7);
}

header .btn .btn__icon {
  width: 80px;
  height: 80px;
}

header .btn .btn__icon.active {
  filter: brightness(1.7);
  fill: #455b9d;
}

header .btn.emergency > img {
  border-radius: 40px;
  box-shadow: 6px 8px 20px -10px rgba(0, 0, 0, 0.6);
}

header .btn .btn__left-caption {
  font-family: NotoSansKR;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  /* 라인 위아래 6px 씩 분배*/
  line-height: 33px;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  opacity: 0.8;
}

header .btn .btn__right-caption {
  font-family: NotoSansKR;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 33px;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  opacity: 0.8;
}
</style>
