<template>
  <section class="body">
    <h2 class="body__title">병문안 안내</h2>
    <section class="visitor-guide-list">
      <div class="box">
        <div v-dragscroll.y="true" class="overlay">
          <section class="top-caution">
            <h3>유의사항</h3>
            <ul>
              <li>• 각 병동의 휴게실 중앙쉼터 를 이용해주시고 , 부득이하게 병실에서 병문안하는 경우는 1 명씩 가능하며 , 단체 방문은 자제해주시기 바랍니다
              </li>
              <li>• 병문안 전과 후에는 반드시 손 위생을 하고 기침예절을 준수하기시 바랍니다
              </li>
              <li>• 애완동물 , 꽃 , 화분은 감염의 원인이 될 수 있으므로 반입할 수 없습니다
              </li>
            </ul>
          </section>
          <div class="time box-jumbotron">
            <!--          <div class="inner">-->
            <div class="icon">
              <img
                  alt=""
                  src="~@/assets/img/visitor-clock.svg"
              >
              <p>병문안 가능시간</p>
            </div>
            <div class="description">
              <h3>일반병실</h3>
              <ul>
                <li>
                  • 평일 : 18:00 ~ 20:00
                </li>
                <li>• 주말 · 공휴일 : 10:00 ~ 12:00 / 18:00 ~ 20:00</li>
              </ul>
            </div>
            <!--          </div>-->
          </div>
          <section class="middle-warning">
            <section class="middle-warning__left">
              <section class="warning">
                <h3>병문안 제한이 필요한 경우</h3>
                <section class="sub">
                  <h4>[ 입원환자 등에게 감염성 질환을 전파시킬 우려가 있는 사람 ]</h4>
                  <ul>
                    <li>감기나 인플루엔자 등 호흡기 질환자</li>
                    <li>급성 장관계 감염이 있는 사람 설사를 하거나 복통 구토 등</li>
                    <li>피부에 병변이 있는 사람</li>
                    <li>최근에 감염성 질환자와 접촉한 경력이 있는 사람</li>
                  </ul>
                </section>
                <section class="sub">

                  <h4>[ 스스로 주의 또는 보호가 필요한 사람 ]</h4>
                  <ul>
                    <li>임산부</li>
                    <li>만 70 세 이상의 노약자</li>
                    <li>만 12 세 이하의 아동</li>
                    <li>지속적 치료 항암치료 등 로 면역기능이 떨어진 사람</li>
                  </ul>
                </section>
                <section class="sub">
                  <h4>[ 단체방문 제한 친지 , 동문회 , 종교단체 등 ]</h4>
                </section>
              </section>
              <section class="warning">
                <h3>외부물품 반입금지</h3>
                <section class="sub">
                  <ul>
                    <li>외부물품은 환자의 검사와 치료에 영향을 끼칠 수 있습니다`</li>
                    <li>외부음식물 반입을 금지합니다`</li>
                    <li>꽃 , 화분 , 애완동물 반입 및 출입을 금지합니다`</li>
                  </ul>
                </section>
              </section>
            </section>
            <section class="middle-warning__right">
              <section class="warning">
                <h3>감염예방을 위한 수칙</h3>
                <section class="sub">
                  <h4>[ 병문안객은 감염예방을 위해 다음과 같은 위생수칙을 준수합니다 ]</h4>
                  <ul>
                    <li>마스크를 항상 착용합니다 . 감기 등도 마스크 착용으로 예방할 수 있습니다.
                    </li>
                    <li>병문안 전 · 후 비누로 충분히 손을 씻고 , 비누가 없으면 알코올 손소독제를
                      <br><span style="width: 20px"/>사용하십시오
                    </li>
                    <li>기침 , 재채기를 할 때에는 입과 코를 가리고 , 휴지는 반드시 쓰레기통에
                      <br>넣어주십시오
                    </li>
                    <li>씻지 않은 손으로 눈 , 코 , 입을 만지지 마십시오
                    </li>
                    <li>병원 내에서는 불필요한 이동을 자제하십시오
                    </li>

                  </ul>
                </section>
                <section class="sub">
                  <h4>[ 명부 작성 ]</h4>
                  <ul>
                    <li>병문안객 및 보호자는 각 병실에 비치되어 있는 「병문안객 명부」에
                      <br>방문일 , 이름 , 관계 등을 기재하셔야 합니다
                    </li>
                  </ul>
                </section>
              </section>
              <section class="warning">
                <h3>병문안객 관리방법</h3>
                <section class="sub">
                  <h4>전담 관리자가 통제</h4>
                  <ul>
                    <li>병문안 허용 시간외에 출입하는 병문안객을 병문안객 전담 관리자가<br>
                      통제시키오니 병문안 허용시간을 꼭 지켜주십시오
                    </li>
                  </ul>
                </section>
              </section>
            </section>
          </section>
          <section class="bottom-caution">
            <h3>주의사항</h3>
            <ul>
              <li> - 의료인과의 환자 진료상담 등을 위한 직계가족의 방문은 환자 병문안에 포함되지 않습니다
              </li>
              <li> - 격리환자의 병실을 방문하는 경우는 미리 간호사실에 둘러 필요한 사항을 문의해 주십시오
              </li>
            </ul>
          </section>
        </div>
      </div>
    </section>
  </section>
</template>

<script>
import {dragscroll} from 'vue-dragscroll'

/**
 * @vuese
 * @group 메인-진료안내-방문
 * 설명
 */
export default {
  name: "VisitorGuide",
  directives: {
    'dragscroll': dragscroll
  },
  data: function () {
    return {
      isShowFirstContent: true
    };
  },
  methods: {
    toggle() {
      this.isShowFirstContent = !this.isShowFirstContent;
    }
  }
};
</script>

<style scoped>
/* VISITOR_GUIDE-LIST */
.visitor-guide-list {
  /*display: grid;*/
  /*grid-auto-flow: row;*/
  /*grid-template-rows: 720px;*/
  /*  clock wise from 12 clock*/
  margin: 20px 100px 0 100px;
}

.visitor-guide-list .box {
  width: 1719px;
  height: 700px;
  border: solid 1px #979797;
  /* anti-clock-wise */
  padding: 43px 13px 52px 49px;
  overflow: hidden;
}

.visitor-guide-list .box .overlay {
  /*width: 1620px;*/
  height: 605px;
  padding-right: 29px;
  /*margin-right: 13px;*/
  overflow: overlay;
  box-sizing: border-box;
}


/* SCROLL BAR*/
.visitor-guide-list .box .overlay::-webkit-scrollbar {
  width: 8px;
}

.visitor-guide-list .box .overlay::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(190, 190, 190, .3);
  /*border-radius: 10px;*/
  /*opacity: 0.2;*/
}

.visitor-guide-list .box .overlay::-webkit-scrollbar-thumb {
  height: 29px;
  border-radius: 10px;
  background-color: #bebebe;
}

.visitor-guide-list .overlay h3 {
  font-family: NotoSansKR;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #4962aa;
}

.visitor-guide-list .overlay h4 {
  font-family: NotoSansKR;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.64;
  letter-spacing: normal;
  color: #999999;
}

.visitor-guide-list .top-caution ul {
  margin-top: 11px;
}

.visitor-guide-list .overlay li {
  font-family: NotoSansKR;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.64;
  letter-spacing: normal;
  color: #999999;

  position: relative;
}

.visitor-guide-list .overlay .time.box-jumbotron {
  width: 1621px;
  height: 230px;
  border-radius: 30px;
  background-color: #6080e8;
  margin-top: 43px;
  padding-top: 42px;
  padding-bottom: 54px;

  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 122px;
  grid-template-columns: 539px 1081px;
  position: relative;
  box-sizing: border-box;
}

.visitor-guide-list .overlay .time.box-jumbotron .icon {
  border-right: 1px solid rgba(255, 255, 255, .5);
}

.visitor-guide-list .overlay .time.box-jumbotron .icon p {
  font-family: NotoSansKR;
  font-size: 34px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: normal;
  color: #ffffff;
  position: absolute;
  top: 95px;
  left: 217px;
}

.visitor-guide-list .overlay .time.box-jumbotron .icon img {
  position: absolute;
  top: 66px;
  left: 96px;
}

.visitor-guide-list .overlay .time.box-jumbotron .description {
  padding-left: 48px;
}

.visitor-guide-list .overlay .time.box-jumbotron .description li,
.visitor-guide-list .overlay .time.box-jumbotron .description h3 {
  font-family: NotoSansKR;
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.72;
  letter-spacing: normal;
  color: #ffffff;
}

.visitor-guide-list .overlay .time.box-jumbotron .description h3 {
  font-weight: bold;
}

.visitor-guide-list .overlay .middle-warning {
  margin-top: 59px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.visitor-guide-list .overlay .middle-warning .warning li::before {
  content: "• ";
  position: absolute;
  left: -12px
}

.visitor-guide-list .overlay .middle-warning .warning h4 {
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.64;
  letter-spacing: normal;
  color: #333333;
}

.visitor-guide-list .overlay .middle-warning .middle-warning__left .warning h4 {
  padding-left: 5px;
}

.visitor-guide-list .overlay .middle-warning .middle-warning__right .warning h4 {
  padding-left: 2px;
  padding-top: 1px;
}

.visitor-guide-list .overlay .middle-warning .warning h3 {
  padding-left: 34px;
  height: 70px;
  line-height: 70px;
  border-radius: 37.5px;
  background-color: #e9ecf5;
  box-sizing: border-box;
}

.visitor-guide-list .overlay .middle-warning .warning ul {
  margin-top: 15px;
  margin-left: 16px;
}

.visitor-guide-list .overlay .middle-warning .warning ul li {
  /*list-style-position: outside;*/
  font-family: NotoSansKR;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.64;
  letter-spacing: normal;
  color: #333333;
}

.visitor-guide-list .overlay .middle-warning .warning ul li::before {

}

.visitor-guide-list .overlay .middle-warning .middle-warning__left,
.visitor-guide-list .overlay .middle-warning .middle-warning__right {
  padding-top: 11px;
  border-left: 1px solid #d6d6d6;
}

.visitor-guide-list .overlay .middle-warning .middle-warning__left {
  padding-left: 44px;
}

.visitor-guide-list .overlay .middle-warning .middle-warning__right {
  padding-left: 44px;
}

.visitor-guide-list .overlay .middle-warning .middle-warning__left .warning h3 {
  width: 714px;
  margin-bottom: 17px;
}

.visitor-guide-list .overlay .middle-warning .middle-warning__right .warning h3 {
  width: 708px;
  margin-bottom: 15px;
  padding-left: 41px;
}

.visitor-guide-list .overlay .middle-warning__left .warning:first-child .sub:nth-child(2) {
}

.visitor-guide-list .overlay .middle-warning__left .warning:first-child .sub:nth-child(3) {
  margin-top: 24px;
}

.visitor-guide-list .overlay .middle-warning__left .warning:first-child .sub:nth-child(3) ul {
  margin-top: 1px;
}

.visitor-guide-list .overlay .middle-warning__left .warning:first-child .sub:nth-child(4) {
  margin-top: 24px;
  margin-bottom: 57px;
}

.visitor-guide-list .overlay .middle-warning__left .warning:last-child .sub:nth-child(1) {

}

.visitor-guide-list .overlay .middle-warning__left .warning:last-child .sub:nth-child(2) {

}

.visitor-guide-list .overlay .middle-warning__right .warning:first-child .sub:nth-child(2) {
}

.visitor-guide-list .overlay .middle-warning__right .warning:first-child .sub:nth-child(3) {
  margin-top: 26px;
  margin-bottom: 67px;
}


.visitor-guide-list .overlay .middle-warning__right .warning:last-child h3 {
  margin-top: 24px;
  margin-left: -12px;
}

.visitor-guide-list .overlay .middle-warning__right .warning:last-child .sub h4 {
  margin-left: -6px;
}

.visitor-guide-list .overlay .middle-warning__right .warning:last-child .sub ul {
  margin-top: 14px;
  margin-left: 8px;
}

.visitor-guide-list .overlay .bottom-caution {
  margin-top: 50px;
  padding-top: 43px;
  padding-left: 51px;
  width: 1623px;
  height: 195px;
  border-radius: 20px;
  border: solid 1px #6181e8;
  background: #ffffff;
  box-sizing: border-box;
}

.visitor-guide-list .overlay .bottom-caution h3 {
  font-family: NotoSansKR;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.64;
  letter-spacing: normal;
  color: #333333;
  font-weight: bold;
}

.visitor-guide-list .overlay .bottom-caution li {
  font-family: NotoSansKR;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.64;
  letter-spacing: normal;
  color: #333333;
}
</style>
